<div class="woz">
<div  
    data-ng-init="init('[% woz_object.id %]','[% woz_object.owner %]','[% woz_object.object_id %]')"
    data-ng-controller="nl.mintlab.plugins.WozTaxatieverslagController" class="woz-taxatierapport-kaal woz-taxatierapport-kaal">

        <div>
            <h1 class="woz-straat">Taxatieverslag
            <[woz_object['Straatnaam']]>
            <[woz_object['Huisnummer'] | number:0 ]>
            <[woz_object['Huisletter']]>
            <[woz_object['Huisnummertoevoeging']]>
            </h1>
        </div>
        <div class="woz-photo" style="top:76px;">
            <img style="max-width:300px;" src="/plugins/woz/photo/[% woz_object.id %]?owner=[% woz_object.owner %]&amp;object_id=[% woz_object.object_id %]" />
        </div>
        <div class="woz-taxatierapport-group woz-info">

            <div class="woz-taxatierapport-title">
                <strong>Locatie woning</strong>
            </div>


            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Straatnaam:</div>
                <div class="woz-taxatierapport-text"><[woz_object['Straatnaam']]></div>
            </div>
            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Huisnummer:</div>
                <div class="woz-taxatierapport-text"><[woz_object['Huisnummer'] | number:0 ]><[woz_object['Huisletter']]><[woz_object['Huisnummertoevoeging']]></div>
            </div>
            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Postcode:</div>
                <div class="woz-taxatierapport-text"><[woz_object['Postcode']]></div>
            </div>
            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Woonplaats:</div>
                <div class="woz-taxatierapport-text"><[woz_object['Woonplaatsnaam']]></div>
            </div>
            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">WOZ-objectnummer:</div>
                <div class="woz-taxatierapport-text"><[woz_object['WOZ-objectnummer']]></div>
            </div>

            <!--tr>
                <td>Foto:</td><td>N.A.</td>
            </tr-->

            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Waardepeildatum:</div>
                <div class="woz-taxatierapport-text"><[woz_object['Waardepeildatum'] | dateParse | date:medium ]></div>
            </div>
            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Toestandspeildatum:</div>
                <div class="woz-taxatierapport-text"><[woz_object.onderbouwing_taxatie['Toestandspeildatum'] | dateParse | date:medium ]></div>
            </div>

        </div>

        <div class="woz-taxatierapport-group">

            <div class="woz-taxatierapport-title">
                <strong>Vastgestelde WOZ-waarde</strong>
            </div>

            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Vastgestelde waarde:</div>
                <div class="woz-taxatierapport-text">&euro; <[woz_object['Vastgestelde waarde'] | number:0 ]> (Waardepeildatum <[woz_object['Waardepeildatum'] | dateParse | date:medium ]>)</div>
            </div>
            <!--tr>
                <td>Vorige vastgestelde WOZ-waarde:</td><td> uitrekenen in javascript (alleen als oude waarden beschikbaar)</td>
            </tr-->
            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Toelichting over de waarde:</div>
                <div class="woz-taxatierapport-text" data-ng-bind-html-unsafe="settings.woz_waardebepaling_text"></div>
            </div>

        </div>

        <div class="woz-taxatierapport-group">

            <div class="woz-taxatierapport-title">
                <strong>Objectgegevens</strong>
            </div>

            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Type woning:</div>
                <div class="woz-taxatierapport-text"><[woz_object.objectcodes[woz_object.onderbouwing_taxatie['Soort-object-code']]]></div>
            </div>
            <!--
            soort object code: <[woz_object.onderbouwing_taxatie['Soort-object-code']]>
            type aanduiding: <[woz_object.onderbouwing_taxatie['Type-aanduiding']]> -->
            <!--div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Soort objectcode:</div>
                <div class="woz-taxatierapport-text"><[woz_object.objectcodes[woz_object.onderbouwing_taxatie['Soort-object-code']]]></div>
            </div-->
            <!--tr>
                <td>Bouwjaar:</td><td><[woz_object.onderbouwing_taxatie['Type-aanduiding']]></td>
            </tr-->

            <div class="woz-taxatierapport-row">
                <table class="woz-data-table">
                    <thead>
                          <tr>
                              <th>Onderdelen</th>
                              <th>Bouwjaar</th>
                              <th>Oppervlakte m2</th>
                              <th>Inhoud m3</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="onderdeel in woz_object.onderbouwing_taxatie_onderdeel">
                            <td><[woz_object.partialobjectcodes[onderdeel['Code onderdeel WOZ-object']]]></td>
                            <td><[onderdeel['Bouwjaar']]></td>
                            <td><[onderdeel['Oppervlakte'] | number:0 ]></td>
                            <td><[onderdeel['Inhoud'] | number:0 ]></td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Toelichting:</div>
                <div class="woz-taxatierapport-text" data-ng-bind-html-unsafe="settings.woz_object_text"></div>
            </div>

<!--
        <div class="woz-taxatierapport-row"><td colspan="2">&nbsp;</td></div>
        <div class="woz-taxatierapport-row"><td colspan="2"><strong>Marktgegevens getaxeerde woning</strong></td></div>
        <div class="woz-taxatierapport-row">
            <td>Datum overdracht notaris:</td><td> --- geen info beschikbaar ---</td>
        </div>
        <div class="woz-taxatierapport-row">
            <td>Verkoopprijs:</td><td> --- geen info beschikbaar ---</td>
        </div>
-->



        </div>

        <div class="woz-taxatierapport-group">

            <div class="woz-taxatierapport-title">
                <strong>Kadastrale percelen betrokken in deze taxatie</strong>
            </div>

            <div class="woz-taxatierapport-row">
                <table data-ng-repeat="kadastraal_perceel in woz_object.kadastrale_identificatie" class="woz-data-table">
                    <thead>
                        <tr>
                            <th>Kadastrale gemeente</th>
                            <th>Sectie</th>
                            <th>Perceelnummer</th>
                            <th>Letter</th>
                            <th>Indexnummer</th>
                            <th>Oppervlakte m2</th>
                        </div>
                    </thead>
                    <tbody>
                        <tr>
                            <td><[kadastraal_perceel['Kadastrale gemeentecode']]></td>
                            <td><[kadastraal_perceel['Sectie']]></td>
                            <td><[kadastraal_perceel['Perceelnummer'] | number:0 ]></td>
                            <td><[kadastraal_perceel['Perceel-index-letter']]></td>
                            <td><[kadastraal_perceel['Perceel-index-nummer']  | number:0  ]></td>
                            <td><[kadastraal_perceel['Toegekende oppervlakte']  | number:0 ]></td>
                        </div>
                    </tbody>
                </table>
            </div>


            <div class="woz-taxatierapport-row">
                <div class="woz-taxatierapport-label">Toelichting kadastrale percelen:</div>
                <div class="woz-taxatierapport-text" data-ng-bind-html-unsafe="settings.woz_kadastrale_percelen_text"></div>
            </div>

        </div>


<!--

        <div class="woz-taxatierapport-row"><td colspan="2">&nbsp;</td></div>
        <div class="woz-taxatierapport-row">
            <td colspan="2"><strong>Kadastrale identificatie:</strong></td>
        </div>

        <div class="woz-taxatierapport-row"><td colspan="2">
            <table data-ng-repeat="kadastraal_perceel in woz_object.kadastrale_identificatie">
                <div class="woz-taxatierapport-row">
                    <td colspan="2"><strong>Kadastrale gemeente <[kadastraal_perceel['Kadastrale gemeentecode']]></td></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Sectie:</td><td><[kadastraal_perceel['Sectie']]></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Perceelnummer:</td><td><[kadastraal_perceel['Perceelnummer']]></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Letter:</td><td><[kadastraal_perceel['Perceel-index-letter']]></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Indexnummer:</td><td><[kadastraal_perceel['Perceel-index-nummer']]></td>
                </div>
                <div class="woz-taxatierapport-row">
                    <td>Oppervlakte:</td><td><[kadastraal_perceel['Meegetaxeerde oppervlakte gebouwd per']]></td>
                </div>
            </table>

        </td></div>
-->

        
        <div class="woz-taxatierapport-group">

            <div class="woz-taxatierapport-title" data-ng-show="woz_object.vergelijkbare_objecten.length">
                <strong>Referentie objecten:</strong>
            </div>


            <div class="woz-taxatierapport-row" data-ng-show="woz_object.vergelijkbare_objecten.length">

                <div class="woz-taxatierapport-group woz-taxatierapport-group-inner" data-ng-repeat="vergelijkbaar_object in woz_object.vergelijkbare_objecten | limitTo:3">

                    <div class="woz-taxatierapport-title woz-taxatierapport-title-primary">
                        <strong>Verkochte woning <[vergelijkbaar_object['Indicatie vermelding op taxatieverslag']]></strong>
                    </div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Straatnaam:</div>
                        <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Straatnaam']]></div>
                    </div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Huisnummer:</div>
                        <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Huisnummer'] | number:0 ]><[vergelijkbaar_object.woz_object['Huisletter']]><[vergelijkbaar_object.woz_object['Huisnummertoevoeging']]></div>
                    </div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Postcode:</div>
                        <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Postcode']]></div>
                    </div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Woonplaats:</div>
                        <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Woonplaatsnaam']]></div>
                    </div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Verkoopdatum (overdracht bij notaris):</div>
                        <div class="woz-taxatierapport-text"><[vergelijkbaar_object.marktinformatie['Datum transactie'] |dateParse | date:medium ]></div>
                    </div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Verkoopprijs:</div>
                        <div class="woz-taxatierapport-text">&euro; <[vergelijkbaar_object.marktinformatie['Transactieprijs'] | number:0]></div>
                    </div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Vastgestelde WOZ-waarde:</div>
                        <div class="woz-taxatierapport-text">&euro; <[vergelijkbaar_object.woz_object['Vastgestelde waarde'] | number:0 ]></div>
                    </div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Waardepeildatum:</div>
                        <div class="woz-taxatierapport-text"><[vergelijkbaar_object.woz_object['Waardepeildatum'] | dateParse | date:medium]></div>
                    </div>

                    <br/>

                    <div class="woz-taxatierapport-title woz-taxatierapport-title"><strong>Objectkenmerken</strong></div>
                    <div class="woz-taxatierapport-row">
                        <div class="woz-taxatierapport-label">Soort woning:</div>

                        <div class="woz-taxatierapport-text"><[woz_object.objectcodes[vergelijkbaar_object.woz_object.onderbouwing_taxatie['Type-aanduiding']]]></div>
                    </div>

                    <div class="woz-taxatierapport-row woz-taxatierapport-row-table">

                       <table class="woz-data-table">
                            <thead>
                                  <tr>
                                      <th>Onderdelen</th>
                                      <th>Bouwjaar</th>
                                      <th>Oppervlakte m2</th>
                                      <th>Inhoud m3</th>
                                  <tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="onderdeel in vergelijkbaar_object.woz_object.onderbouwing_taxatie_onderdeel">
                                    <td><[woz_object.partialobjectcodes[onderdeel['Code onderdeel WOZ-object']]]></td>
                                    <td><[onderdeel['Bouwjaar']]></td>
                                    <td><[onderdeel['Oppervlakte'] | number:0 ]></td>
                                    <td><[onderdeel['Inhoud'] | number:0 ]></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

            <div class="woz-taxatierapport-group">

                <div class="woz-taxatierapport-row">
                    <div class="woz-taxatierapport-label"><strong>Toelichting taxatieverslag:</strong></div>
                    <div class="woz-taxatierapport-text" data-ng-bind-html-unsafe="settings.woz_taxatieverslag_text"></div>
                </div>

            </div>

        </div>

    </div>

</div>