[% BLOCK block_mappen %]
    [% werkmappen = werkmappen.scalar.search({},{ order_by => 'pid' }); %]
    [% WHILE (map = werkmappen.scalar.next) %]
        <option value="[% map.id %]"
        [% (document.pid.id == map.id
        ? ' selected="selected"'
        : '') %]>[% '-' | repeat(CAT_STR_DEPTH) %] [% map.filename %]</option>
        [% IF map.scalar.pid.count %]
            [% SET CAT_STR_DEPTH = CAT_STR_DEPTH + 1 %]
            [% new_werkmappen = map.scalar.pid %]
            [% save_map = werkmap %]
            [% INCLUDE block_mappen
                werkmappen = new_werkmappen
                CAT_STR_DEPTH = CAT_STR_DEPTH
            %]
            [% werkmap = save_map %]
            [% SET CAT_STR_DEPTH = CAT_STR_DEPTH - 2 %]
        [% END %]
    [% END %]
[% END %]

[% nowrapper = 1 %]
[% USE Scalar %]
<div class="submitWaiter">
    <form method="POST" action="[% c.uri_for((pip ? '/pip' : '') _ '/zaak/' _ zaak.nr _ '/documents/' _ (document_depth.id || 0) _ '/' _ (document ? 'edit/' _ document.id : 'add')) %]" enctype="multipart/form-data">
        <input type="hidden" name="documenttype" value="file" />
        [% (document ? '<input type="hidden" name="document_id" value="' _ document.id _ '" />' : '') %]
        [% IF pip %]
            <input type="hidden" name="ztc_aanvrager_id" value="[% c.session.pip.ztc_aanvrager %]" />
        [% END %]
        <table>
            <tbody>
                [% IF document %]
                    <tr>
                        <td class="td-label td200">
                            Documentnaam:</td>
                        <td class="td250"><input type="text" name="existing_filename" value="[% filename_without_extension %]" class="input_large" />[% filename_extension %]</td>
                        <input type="hidden" name="existing_filename_suffix" value="[% filename_extension %]"/>
                    </tr>
                [% END %]
                    <tr>
                        <td class="td-label">
                            Mogelijke bestandsformaten:
                        </td>
                        <td>Alle</td>
                    </tr>
                    <tr>
                        <td class="td-label">
                            [% (document ? 'Wijzig document' : 'Selecteer een document') %]:</td>
                        <td><input type="file" name="filename" /></td>
                    </tr>
                    [% IF document %]
                    <tr>
                        <td class="td-label">
                            Wijzig Map:</td>
                        <td>
                            <select name="pid">
                                <option value=""[% (!document.pid
                                ? ' selected="selected"'
                                : '') %]>Hoofdmap</option>
                                [% INCLUDE block_mappen
                                    werkmappen = mappen
                                %]
                            </select>
                        </td>
                    </tr>
                    [% END %]
                    [% UNLESS pip %]
                    <tr>
                        <td class="td-label td200">Zaaktypedocument:</td>
                        <td class="td250">
                            <select name="catalogus" class="select_zt_document zaak_[% zaak.nr %]">
                                <option value="">Geen</option>
                                    [% documenten = zaak.zaaktype_node_id.zaaktype_kenmerken.scalar.search(
                                        {
                                            'bibliotheek_kenmerken_id.value_type'    => 'file'
                                        },
                                        {
                                            'join'          => 'bibliotheek_kenmerken_id',
                                            'order_by'      => 'id',
                                        }
                                    ) %]
                                [% WHILE (cdocument = documenten.next) %]
                                    <option value="[% cdocument.id %]"[% (cdocument.id == document.zaaktype_kenmerken_id.id  ? ' selected="selected"' : '') %] class="[% (cdocument.value_mandatory ? 'verplicht_document' : "") %][% (cdocument.pip ? ' pip_document' : '') %]">
                                        [% cdocument.naam %]
                                    </option>
                                [% END %]
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Versienummer:</td>
                        <td>[% (document ? document.versie : '1') %]</td>
                    </tr>
                    <tr>
                        <td class="td-label">Verplicht:</td>
                        <td>
                            <div class="document_constraint_true document_constraint_verplicht"><img src="[% c.uri_for('/tpl/zaak_v1/nl_NL/images/') %]loader.gif" alt="Laden..."/></div>
                            <div class="document_constraint_false"><input type="hidden" name="mandatory" value="0" class="is_mandatory" /><span class="text_mandatory">Nee</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Publiceren op PIP:</td>
                        <td>
                            <div class="document_constraint_true document_constraint_pip"><img src="[% c.uri_for('/tpl/zaak_v1/nl_NL/images/') %]loader.gif" alt="Laden..."/></div>
                            <div class="document_constraint_false">
                                <input type="checkbox" name="pip" value="1" [% (document.pip ? ' checked="checked"' : '') %] class="is_pip"/>
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="td-label">Ontvangstdatum:</td>
                        <td>
                            [%
                                PROCESS widgets/general/periode.tt
                                input_dag   = 'ontvangst_dag'
                                input_maand = 'ontvangst_maand'
                                input_jaar  = 'ontvangst_jaar'
                                value_dag   = document.ontvangstdatum.day
                                value_maand = document.ontvangstdatum.month
                                value_jaar  = document.ontvangstdatum.year
                            %]
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Toelichting:</td>
                        <td>
                            <textarea cols="60" name="help" class="textarea_toelichting">[% document.help %]</textarea>
                        </td>
                    </tr>
                [% END %]
           </tbody>
        </table>
        <div class="form-actions">
            <input id="dialog-submit" type="submit" class="button140" value="Toevoegen" />
        </div>
    </form>
</div>
