<table>
    <tr>
        <th colspan="3" class="th_16px blue tussenkop">Tarieven</th>
    </tr>
    <tr>
        <td>Tarief web</td>
        <td>
            &euro; <input type="text" data-ng-change="change(pdc_tarief)" name="params.definitie.pdc_tarief" data-ng-price-input="" size="8" ng-model="pdc_tarief"> (e.g. 12.34)
        </td>
        <td></td>
    </tr>

    
 
    <tr>
        <td>Tarief balie</td>
        <td>
            &euro; <input size="8" type="text" data-ng-price-input="" name="params.node.properties.pdc_tarief_balie" data-ng-model="pdc_tarief_balie" />
        </td>
    </tr>
    
    <tr>
        <td>Tarief telefoon</td>
        <td>
            &euro; <input size="8" type="text" data-ng-price-input="" name="params.node.properties.pdc_tarief_telefoon" data-ng-model="pdc_tarief_telefoon" />
        </td>
    </tr>
    
    <tr>
        <td>Tarief email</td>
        <td>
            &euro; <input size="8" type="text" data-ng-price-input="" name="params.node.properties.pdc_tarief_email" data-ng-model="pdc_tarief_email" />
        </td>
    </tr>
    
    <tr>
        <td>Tarief behandelaar</td>
        <td>
            &euro; <input size="8" type="text" data-ng-price-input="" name="params.node.properties.pdc_tarief_behandelaar" data-ng-model="pdc_tarief_behandelaar" />
        </td>
    </tr>
    
    <tr>
        <td>Tarief post</td>
        <td>
            &euro; <input size="8" type="text" data-ng-price-input="" name="params.node.properties.pdc_tarief_post" data-ng-model="pdc_tarief_post" />
        </td>
    </tr>
    

</table>