<ul class="spot-enlighter-menu" data-ng-show="entries.length">
	<li data-ng-repeat="entry in entries">
		<div class="spot-enlighter-case-title">
			<[entry.label||entry.searchable_object_label]>
		</div>
		<small class="spot-enlighter-case-desc">
			<[entry.description||entry.searchable_object_description]>
		</small>
	</li>
</ul>