<ul class="pagination-list">
	<li class="pagination-list-item pagination-list-item-prev">
		<button class="pagination-button" data-ng-click="showPage(currentPage-1)" data-ng-disabled="currentPage<=1">
			<i class="pagination-icon-prev"></i>
		</button>
	</li>
	
	<li class="pagination-list-item pagination-list-item-page" data-ng-repeat="page in getAvailablePages()" data-ng-class="{'pagination-gap-visible': page!=numPages&&!hasPage(page+1)}">
		<button class="pagination-button" data-ng-click="showPage(page)" data-ng-class="{'pagination-button-active': page == currentPage}">
			<[page]>
		</button>
		<span class="pagination-gap">&hellip;</span>
	</li>
	
	<li class="pagination-list-item pagination-list-item-next">
		<button class="pagination-button" data-ng-click="showPage(currentPage-1+2)" data-ng-disabled="currentPage>=numPages">
			<i class="pagination-icon-next"></i>
		</button>
	</li>
</ul>