<h3 class="title">%%Gerelateerde zaken%%</h3>

<div class="table">
    <div class="table-header">
    	<div class="table-row">
    		<div class="table-cell">%%Type%%</div>
    		<div class="table-cell">%%Nr%%</div>
    		<div class="table-cell">%%Voortgang%%</div>
    		<div class="table-cell">%%Zaaktype%%</div>
    		<div class="table-cell">%%Extra informatie%%</div>
    		<div class="table-cell">%%Behandelaar%%</div>
    		<div class="table-cell">%%Resultaat%%</div>
    		<div class="table-cell"></div>
    	</div>
    </div>
    <div class="table-body" data-zs-sort="relations">
    	<div class="table-row" data-ng-repeat="relation in relations" data-ng-draggable data-ng-drag-mimetype="zs/case-relation" data-ng-drag-data="relation" data-zs-sortable data-ng-include="'/partials/case/relations/relation.html'" data-ng-drag-image="'/partials/case/relations/relation-drag.html'">
    	</div>
    </div>
</div>

<form name="newRelation" class="case-relation-add" data-ng-submit="newRelation.$valid&&relate(nw.case, nw.desc);nw=null;newRelation.$setPristine();">

  		<input type="text" data-ng-model="nw.case" data-zs-object-required="true" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="'zaak'" data-zs-spot-enlighter-label="'%%Zaak%% ' + id + ': ' + zaaktype_node_id.titel" class="large" data-zs-placeholder="'%%Voeg een relatie toe%%'" />

	<button data-ng-disabled="!newRelation.$valid" class="knop knop-bootstrap">
	   <i class="icon icon-add"></i>
	</button>
</form>

<script type="text/ng-template" id="/partials/case/relations/relation.html">
  	<div class="table-cell field_level"><[relation.type]></div>
    <div class="table-cell field_me_id">             
        <a href="/zaak/<[relation.case.id]>">
		<span class="hide">%%Zaak%%</span> <[relation.case.id]></a>
	</div> 
	<div class="table-cell" data-zs-case-progress="<[relation.case.days_perc]>">
	</div>  
	<div class="table-cell"><[relation.case.zaaktype_node_id.titel]></div>
	<div class="table-cell"><[relation.case.onderwerp]></div>
	<div class="table-cell">
		<a href="/betrokkene/get/<[relation.case.behandelaar.id]>" class="ezra_dialog" zs-title="%%Informatie over behandelaar%%"><[relation.case.behandelaar.naam]></a>
	</div>
	<div class="table-cell"><[relation.case.resultaat||'%%Onbekend%%']></div>
  	<div class="table-cell">
  		<button data-zs-popup="'/partials/case/relations/case-info.html'" data-zs-title="%%Informatie over zaak%%" data-ng-click="openPopup()" class="icon icon-toelichting icon-hover">
  		</button>
  		<button class="icon icon-del" data-zs-title="%%Verwijder deze relatie%%" data-ng-click="unrelate(relation)">
  		</button>
		</div>
</script>

<script type="text/ng-template" id="/partials/case/relations/relation-drag.html">
	<div class="case-relation-drag">
		<div class="case-relation-drag-content">
			<[relation.case.id]>: <[relation.case.zaaktype_node_id.titel]>
		</div>
	</div>
</script>

<script type="text/ng-template" id="/partials/case/relations/case-info.html">
	<div data-zs-modal data-ng-init="title='%%Informatie over zaak%%'">
		<div data-ng-include="'/zaak/get_meta/' + relation.case.id">
		</div>
	</div>
</script>