<div data-zs-modal data-ng-init="title='%%E-mail versturen%%'">
	<form name="emailForm" class="form modal-medium doc-email-form" data-ng-controller="nl.mintlab.docs.EmailAttachmentsController" data-ng-init="init()" novalidate>
		
		<!--div class="row">
			<div class="column large-4">%%In fase%%</div>
			<div class="column large-8">
			</div>
		</div-->
		
		<div class="row">
			<div class="column large-4">%%Selecteer type ontvanger%%</div>
			<div class="column large-8">
				<label>
					<input type="radio" data-ng-model="typeRecipient" value="coworker"/>
					%%Collega%%
				</label>
				<label>
					<input type="radio" data-ng-model="typeRecipient" value="appealer"/>
					%%Aanvrager%% <span data-ng-show="case.aanvrager">(<[caseObj.aanvrager.naam]>)</span>
				</label>
				<label data-ng-show="case.coordinator">
					<input type="radio" data-ng-model="typeRecipient" value="coordinator"/>
					%%Coordinator%% (<[caseObj.coordinator.naam]>)
				</label>
				<label>
					<input type="radio" data-ng-model="typeRecipient" value="other"/>
					%%Overig%%
				</label>
			</div>
		</div>
		
		<div class="row" data-ng-show="typeRecipient=='coworker'">
			<div class="column large-4">%%Selecteer een collega%%</div>
			<div class="column large-8">
				<input type="text" data-ng-model="recipient" data-zs-placeholder="'%%Type hier uw zoekterm%%'" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="'contact/medewerker'" data-zs-spot-enlighter-label="naam" data-zs-object-required="<[typeRecipient=='coworker']>"/>
			</div>
		</div>
		
		<div class="row" data-ng-show="typeRecipient=='other'">
			<div class="column large-4">%%E-mailadres%%</div>
			<div class="column large-8">
				<input type="email" data-ng-model="recipientAddress" data-ng-required="<[typeRecipient=='other']>" class="large" />
			</div>
		</div>
		
		<div class="row" data-ng-show="templates.length">
			<div class="column large-4">%%E-mail%%</div>
			<div class="column large-8">
				<label>
					<input type="radio" data-ng-model="typeEmail" value="template"/>
					%%Kies sjabloon%%
				</label>
				<select data-ng-show="typeEmail=='template'" data-ng-model="template" data-ng-options="template as template.bibliotheek_notificaties_id.label for template in templates">
				</select>
				<label>
					<input type="radio" data-ng-model="typeEmail" value="custom"/>
					%%Of schrijf specifieke email:%%
				</label>
			</div>
		</div>
		
		<div class="row" data-ng-show="typeEmail=='custom'">
			<div class="column large-4">%%Onderwerp%%</div>
			<div class="column large-8">
				<input type="text" data-ng-model="emailSubject" class="large" />
			</div>
		</div>
		
		<div class="row" data-ng-show="typeEmail=='custom'">
			<div class="column large-4">%%Inhoud%%</div>
			<div class="column large-8">
				<textarea data-ng-model="emailContent" data-ng-required="typeEmail=='custom'"></textarea>
			</div>
		</div>
		
		<div class="row" data-ng-show="attachments.length">
			<div class="column large-4">%%Bijlagen%%</div>
			<div class="column large-8">
				<label data-ng-repeat="attachment in attachments">
					<input type="checkbox" data-ng-checked="isAttached(attachment)" data-ng-click="detach(attachment)"/>
					<[getName(attachment)]>
				</label>
				
				<input type="text" data-ng-show="false" data-ng-model="newAttachment" data-zs-placeholder="'%%Voeg een zaakdocument toe%%'" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="'case_type_document'" data-zs-spot-enlighter-label="naam"/>
				
			</div>
		</div>
		
		<div class="form-actions">
			<button data-ng-disabled="emailForm.$invalid" data-ng-click="!emailForm.$invalid&&sendEmail()" class="button140 right">
				%%Versturen%%
			</button>
			
			<button data-ng-show="context=='actions'" data-ng-disabled="emailForm.$invalid" data-ng-click="!emailForm.$invalid&&saveTemplate()" class="button140 right">
				%%Opslaan%%
			</button>
		</div>
		
	</form>
</div>