[% USE Dumper %]
[% PROCESS form/webform_blocks.tt %]

[% PROCESS webform_block_header_title %]

<div class="blockcontent webformcontent">



    <div class="webform_inner">
   [% PROCESS webform_block_header %]
  [% PROCESS webform_form_hiddens %]
        <div class="formOverlay"></div>
        <div class="spinner-groot">
            <div>
                <span class="spinner-groot-message">
                </span>
            </div>
        </div>
        
        
        
        <div id="fieldWrapper">
            [% PROCESS webform_fields %]
        </div>

        [% IF 
            !c.user_exists && 
            zaaktype.zaaktype_definitie_id.preset_client &&
            logged_in_by == 'preset_client' &&
            (process.step + 1) == process.total_step_count 
        %] 
        <div class="captcha">
            <table width="100%">
                <tr>
                    <td class="td250"><label class="title">Vul de nummers uit het plaatje in het tekstveld eronder</label></td>
                    <td>
                        
                        <img name="captcha" class="ezra_captcha_image" src="/captcha/" alt="Captcha" />
                        <div>
                        <input type="text" name="captcha" /><button name="captcha_reload" class="ezra_captcha_reload knop knop-bootstrap"><i class="icon icon-refresh"></i>Toon nieuwe code</button>
                        </div>  
                    </td>
                    <td class="td290">
                        [% PROCESS widgets/general/validator.tt 
                            message = 'Vul de getoonde waarde in'
                        %]
                    </td>
                </tr>
            </table>
        </div>
        [% END %]
    
            <div class="form-actions clearfix">
                [% IF process.previous_stap %]
                <input type="submit" name="submit_to_previous" value="Vorige" class="submit_to_previous button140 left"/>
                [% ELSE %]
                <input type="hidden" name="externe_login" value="[% IF c.is_externe_aanvraag() %]1[% ELSE %]0[% END %]"/>
                <input type="submit" name="cancel" value="Annuleren" class="left cancel_webform[% (!c.user_exists ? ' cancel_webform_burger' : '') %] button140"/>
                [% END %]



                [% IF regels_result.pause_application %]
                    [% IF regels_result.pause_application.startzaak %]
                        <a href="/zaak/start_nieuwe_zaak/[% regels_result.pause_application.zaaktype_id %]/[% regels_result.pause_application.copy_properties ? 'copy' : '' %]" class="submit_to_next button140 right anchor">Verder</a>
                    [% END %]
                [% ELSE %]
                    <input type="submit" name="submit_to_next" value="[% process.next_stap ? 'Volgende' : 'Versturen' %]" class="submit_to_next button140 right" />
                [% END %]

                
               
            </div>
    </div>
</div>
