<p class="subnote">Controleer uw contactgegevens. Uw telefoonnummer, mobiele nummer en e-mailadres kunt u desgewenst aanvullen of aanpassen. Dit zijn gegevens die geen deel uitmaken van de Gemeentelijke Basisadministratie (GBA), maar wel toegevoegde waarde kunnen hebben bij het behandelen van de zaak. </p>
[% IF aanvrager.messages.briefadres %]
<p class="subnote">Let op: U maakt gebruik van uw briefadres. Mochten onderstaande gegevens niet correct zijn, gelieve contact op te nemen met uw gemeente.</p>
[% END %]

<div class="form aanvrager">
   <div class="row">
        <div class="column large-4">Burgerservicenummer</div>
        <div class="column large-8">[% aanvrager.burgerservicenummer %]</div>

    </div>
   <div class="row">
        <div class="column large-4">Voornamen</div>
        <div class="column large-8">[% aanvrager.voornamen %]</div>

    </div>
   <div class="row">
        <div class="column large-4">Tussenvoegsel</div>
        <div class="column large-8">[% aanvrager.voorvoegsel %]</div>

    </div>
   <div class="row">
        <div class="column large-4">Achternaam</div>
        <div class="column large-8">[% aanvrager.geslachtsnaam %]</div>

    </div>
   <div class="row">
        <div class="column large-4">Geboortedatum</div>
        <div class="column large-8">[% aanvrager.geboortedatum.dmy %]</div>

    </div>
   <div class="row">
        <div class="column large-4">Geboorteplaats</div>
        <div class="column large-8">[% aanvrager.geboorteplaats %]</div>

    </div>
   <div class="row">
        <div class="column large-4">Straatnaam</div>
        <div class="column large-8">[% aanvrager.straatnaam %]</div>

    </div>
   <div class="row">
        <div class="column large-4">Huisnummer</div>
        <div class="column large-8">[% aanvrager.huisnummer %]</div>

    </div>
   <div class="row">
        <div class="column large-4">Postcode</div>
        <div class="column large-8">[% aanvrager.postcode %]</div>

    </div>
    <div class="row">
        <div class="column large-4"><label for="telefoonnummer">Telefoon</label></div>
        <div class="column large-8">
            <input
                id="telefoonnummer"
                type="text"
                name="npc-telefoonnummer"
                value="[% aanvrager.telefoonnummer %]"
                class="input_large"
            />
        </div>
    </div>
    
    
    <div class="row">
        <div class="column large-4"><label for="mobiel">Mobiel</label></div>
        <div class="column large-8">
            <input
                id="mobiel"
                type="text"
                name="npc-mobiel"
                value="[% aanvrager.mobiel %]"
                class="input_large"
            />
        </div>
    </div>
    
    
    <div class="row">
        <div class="column large-4"><label for="emailadres">E-mail</label></div>
        <div class="column large-8">
            <input
                id="emailadres"
                type="text"
                name="npc-email"
                value="[% aanvrager.email %]"
                class="input_large"
            />
        </div>
    </div>
    
</div>

<!--div class="aanvullende-gegevens">
            Uw telefoonnummer, mobiele nummer en e-mailadres kunt u desgewenst
            aanvullen of aanpassen. Dit zijn gegevens die geen deel uitmaken
            van de Gemeentelijke Basisadministratie (GBA), maar wel
            toegevoegde waarde kunnen hebben bij het behandelen van de zaak.
</div-->

