[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% UNLESS woz_report %]
    <div class="pip-header header">
        <h1>Persoonlijk Internetpagina</h1>
    </div>
[% END %]

<div class="pip">

    [% IF pip_session %]
    
    [% IF current_page == 'zaken' %]
    
    [% END %]

    [% UNLESS woz_report %]
        <div class="pip-nav clearfix">
            <ul>
                <li[% current_page == 'zaken' ? ' class="current"' : '' %]><a href="[% c.uri_for('/pip') %]" title="Hier vind u uw zaken"><i class="icon-font-awesome icon-folder-open"></i> Mijn zaken</a></li>

                <li[% current_page == 'contact' ? ' class="current"' : '' %]><a href="[% c.uri_for('/pip/contact') %]" title="Hier vind u uw gegevens"><i class="icon-font-awesome icon-user"></i> Mijn gegevens</a></li>

            [% IF c.config.customer.start_config.woz_info_on_pip %]
                [% IF woz_objects.count %]
                    <li[% current_page == 'woz' ? ' class="current"' : '' %]><a href="[% c.uri_for('/pip/woz') %]" title="Overzicht van WOZ objecten op uw naam">
                        <i class="icon-font-awesome icon-home"></i> Mijn WOZ</a>
                    </li>
                [% END %]
            
            [% END %]

            </ul>
            
            <ul class="right">
                <li><a href="[% c.uri_for('/pip/logout') %]" title="Uitloggen"><i class="icon-off icon-font-awesome"></i> Uitloggen</a></li>
            </ul>
            
        </div>                        
    [% END %]
                    

    [% END %]
    
    
    [% IF c.flash.pip_result && pip %]
    <div class="sysmessage">
        [% IF c.flash.pip_result.size %]
            <ul>
            [% FOREACH message IN c.flash.pip_result %]
                <li>[% message %]</li>
            [% END %]
            </ul>
        [% ELSE %]
            <p>[% c.flash.pip_result %]</p>
        [% END %]
    </div>
    [% END %]
    
    <div class="pip-content">
        [% content %]
    </div>
                
                
</div>




[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
