[% BLOCK show_label %]
    [% IF row.label %]
        [% row.label %]
    [% ELSE %]
        [% row.resultaat | ucfirst %]
    [% END %]
[% END %]


[% BLOCK display_result %]
    <div class="kenmerk-veld">
        <div class="kenmerk">
            [% IF no_radio_button || pip %]
                <label>[% PROCESS show_label %]</label>
            [% ELSE %]
                <label><input type="radio" name="system_kenmerk_resultaat" value="[% row.resultaat %]" 
                [% IF row.resultaat == zaak.resultaat %]checked="checked"[% END %]
                /> [% PROCESS show_label %]</label>
            [% END %]
        </div>

        [% UNLESS pip %]
            <div class="kenmerk-help">
                [% resultaat_metadata = BLOCK %]
                    <strong>Naam (omschrijving):</strong> [% row.label %]<br/>
                    <strong>Resultaattype-generiek:</strong> [% row.resultaat | ucfirst %]<br/>
                    <strong>Selectielijst:</strong> [% row.selectielijst %]<br/>
                    <strong>Archiefnominatie:</strong> [% row.archiefnominatie %]<br/>
                    <strong>Bewaartermijn:</strong> [% ZOPTIONS.BEWAARTERMIJN.${row.bewaartermijn} %]<br/>
                    <strong>Brondatum archiefprocedure:</strong> [% row.ingang %]<br/>
                    <strong>Toelichting:</strong> [% row.comments %]<br/>
                    <span class="kenmerk-ztc has-icon"><i class="icon icon-kenmerk"></i> [% row.resultaat | ucfirst %]</span>
                [% END %]

                [% PROCESS widgets/general/dropdown.tt dropdown_content = resultaat_metadata %]
            </div>
        [% END %]
    </div>
[% END %]



<div class="ezra_case_results kenmerk-resultaten ezra_field_wrapper">
    <div class="kenmerk-groep">
        <div class="kenmerk-groep-titel">
            <h4 class="blue kenmerk-titel">Resultaat[% UNLESS PIP %] <i class="add-tooltip ezra_required_field kenmerk-label-verplicht" title="Dit veld is verplicht" [% IF zaak.resultaat %]style="display:none;"[% END %]> * </i>[% END %]</h4>
            <span class="kenmerk-beschrijving">Elke zaak heeft een resultaat, dat aangeeft wat de einduitkomst is van een zaak. Daarnaast wordt het resultaat van een zaak gebruikt voor het bepalen van archiefeigenschappen.</span>
        </div>
    </div>
    
    [% IF !regels_result.set_case_result &&  
        (c.check_zaak_result_permission('zaak_beheer') || c.can_change )
    %]
    
        [% USE Scalar %]
        [% resultaten = zaak.zaaktype_node_id.scalar.zaaktype_resultaten.scalar.search({}, {order_by => 'id'} ) %]
                
            [% WHILE (row = resultaten.next) %]
                [% PROCESS display_result %]
            [% END %]
    [% ELSE %]
        [% IF zaak.resultaat %]
            [% row = zaak.result_info %]
            [% no_radio_button = 1 %]
            [% PROCESS display_result %]
        [% ELSE %]
            <div class="kenmerk-veld">
                Nog niet bekend
            </div>
        [% END %]
    [% END %]

    

</div>

