/* @group base */

body,
.form,
.form div,
.form h1,
.form h2,
.form h3,
.form p,
.form label,
.form td,
.form th,
.webform,
.webform div,
.webform h1,
.webform h2,
.webform h3,
.webform p,
.webform label,
.webform td,
.webform th,
.header, p,
.pip, .pip h1, .pip h2, .pip h3, .pip span, .pip strong, .pip p, .pip em, .pip a, .pip td, .pip th{
	font-family: Tahoma,Trebuchet,Arial,Verdana,sans-serif !important;
}


body{
	font-size: 12px !important;
}

.block .header h1,.pip h1{
	font-size: 2em !important;
	color: #e2001a !important;
	margin: 0;
	font-weight: bold;
}

.pip h2{
	color: #007e4f !important;
}

.header > .header-title{
	line-height: 1.5;
}

/*.zaaksysteem{
	font-family: helvetica,'helvetica-neue',arial,sans-serif !important;
}*/

.block{
	padding: 0;
}

.block > .header{
	padding: 0 0 15px;
	line-height: 36px;
}

.header > div{
	line-height: 36px;
}

.header > .knop{
	margin-top: 3px;
	margin-right: 1px;
}

.blockcontent h2{
	font-size: 1.5em !important;
	margin: .25em 0 .5em !important;
	font-weight: bold !important;
}


/*.form .block,
.webform .block{
	padding: 0 20px;
}*/

/* @end */

/* @group knoppen */


	/* @group form-actions */
	
	.webform .form-actions{
		border-radius: 0 0 5px 5px;
		margin: 0 0 -18px;
		border-bottom: none !important;
	}

	/* @end */


	/* @group DeBilt-ID kleine knop */
	
	
	a.id-knop.id-knop-debiltid, .id-knop.id-knop-ideal{
		background-color: #007E4F;
		border: 1px solid #007E4F !important;
	}
	
	a.id-knop.id-knop-debiltid:hover, .id-knop.id-knop-ideal:hover{
		border-top: 1px solid #007E4F !important;
		background: rgb(22,150,102);
		background: -moz-linear-gradient(top,  rgb(22,150,102) 0%, rgb(0,126,79) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(22,150,102)), color-stop(100%,rgb(0,126,79)));
		background: -webkit-linear-gradient(top,  rgb(22,150,102) 0%,rgb(0,126,79) 100%);
		background: -o-linear-gradient(top,  rgb(22,150,102) 0%,rgb(0,126,79) 100%);
		background: -ms-linear-gradient(top,  rgb(22,150,102) 0%,rgb(0,126,79) 100%);
		background: linear-gradient(top,  rgb(22,150,102) 0%,rgb(0,126,79) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#169666', endColorstr='#007e4f',GradientType=0 );
	}
	
	a.id-knop.id-knop-debiltid:active, .id-knop.id-knop-ideal:active{
		background: rgb(0,126,79);
		background: -moz-linear-gradient(top,  rgb(0,126,79) 0%, rgb(22,150,102) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,126,79)), color-stop(100%,rgb(22,150,102)));
		background: -webkit-linear-gradient(top,  rgb(0,126,79) 0%,rgb(22,150,102) 100%);
		background: -o-linear-gradient(top,  rgb(0,126,79) 0%,rgb(22,150,102) 100%);
		background: -ms-linear-gradient(top,  rgb(0,126,79) 0%,rgb(22,150,102) 100%);
		background: linear-gradient(top,  rgb(0,126,79) 0%,rgb(22,150,102) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007e4f', endColorstr='#169666',GradientType=0 );
	}
	
	/* @end */
	
	/* @group button140 */
	
	.button140 {
		background:#007E4F !important;
		border:none !important;
		border-top: 1px solid #007E4F !important;
		border-bottom: 1px solid #007E4F !important;
	}
		
	.button140:hover{
		background-image: linear-gradient(#169666, #007E4F) !important;
		background-color: #007248 !important;
		border-top: 1px solid #007E4F !important;
		box-shadow: 0px 1px 1px #aaa;
	}
	
	
	.button140:active{
		background-image: linear-gradient(#007E4F, #169666) !important;
	}
	
	.input_large {width: 300px;}
	.input_medium {width: 200px;}
	
	/* @end */
	
	
/* @end */


/* @group pip */

.pip{
	padding: 0 !important;

}

.pip-button-afronden {
   text-decoration: none;
}

.pip-zaaktitel h2{
	font-size:1.25em;
}

.table-title{
	padding:15px 0;
}

.table-title h4{
	color: #e2001a !important;
	font-size:1.5em;
}

.table-title h4 em{
	font-size:.7em;
}

.pip-zaaknummer a,
.js .pip-zaaknummer a:hover,
.js .ezra_clickable_tr:hover .pip-zaaknummer a,
.kenmerk-groep-titel h4,
.document-list-intake-header h4,
.table_zaakinformatie th { color: #007e4f; }

table tbody tr{
	border:none;
}

.ui-tabs .ui-tabs-selected a, .ui-tabs .ui-tabs-selected a:link, .ui-tabs .ui-tabs-selected a:visited, .ui-tabs .ui-tabs-selected.ui-state-hover a{
color: #e2001a;
}

.fasen .fase.done{
	background: #007e4f;
}

/* @end */



/* @group groepen */

.step, .webform .form-actions{
	border-left: none !important;
	border-right: none !important;
}

.stap.active{
	color:#E2001A !important;
	border-bottom-color:#E2001A !important;
}

/* @end */


/* @group misc */

.zoekfunctie-img{
	background: url(../images/debilt-zoekfunctie.jpg) no-repeat 1.5em 0;
	width: 340px;
	height: 33px;
}


table thead tr {
    background:none;
    color: #000;
    border:none;
}

table thead tr th, table tbody tr td{
	padding:.8em .3em;
}

.ui-selectmenu{
	color: #222 !important;
}

/* @end */