.crud {
  font-size: 1em;
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: collapse;
}

.crud thead {
  background: #f9f9f9;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: start;
  white-space: normal;
}
.crud thead th {
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  height: 50px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.crud-hidden {
  line-height: normal;
}

.crud-table-item-row:hover {
  background: #f9f9f9;
}
.crud-table-item-row:focus {
  background: #f9f9f9;
  outline: none;
}
.crud-table-item-row.crud-table-item-row-selected {
  background: #f7fcff;
}
.crud-table-item-row.crud-table-item-row-selected .crud-table-item-cell {
  border-bottom: 1px solid #c6d8e4;
}

.crud-table-column-header {
  padding: 1.1em 0.5em;
}

.crud-table-item-cell {
  padding: 1.1em 0.5em;
  vertical-align: middle;
}

.crud thead button {
  background: none;
  font-size: 1em;
  font-weight: bold;
}

.crud thead.crud-hidden > tr > th {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  overflow: hidden;
  height: 0;
}
.crud thead.crud-hidden > tr > th > * {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: block;
}

.crud thead.crud-header button {
  padding: 0 14px 0 0;
  position: relative;
}
.crud thead.crud-header button .column-sort {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: .8em;
  margin-top: -.6em;
}
.crud thead.crud-header button:hover {
  text-decoration: underline;
}

.crud-table-select-cell {
  text-align: center;
}

.crud-table-action-cell > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.crud-table-action-cell > ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.crud-table-action-cell {
  padding: 0;
}

.crud thead .crud-table-action-cell button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  vertical-align: middle;
  font-weight: bold;
  border: 1px solid #b9b9b9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #f9f9f9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 );
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  background: linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  padding: 0 8px;
  color: #444;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  margin-right: 6px;
  margin-bottom: 0;
}
.crud thead .crud-table-action-cell button:hover {
  background: #f5f5f5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 );
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
  background: -moz-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
  background: linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #999;
}
.crud thead .crud-table-action-cell button:active {
  background: #e0e0e0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #999;
}

.crud .row {
  display: inline-block;
}

.crud .row .column {
  display: inline-block;
  width: auto;
}

.crud .form-fieldset {
  padding: 0;
}

.crud .form-fieldset-children .form-field {
  margin: 0 15px 15px 0;
}

.crud .form-field-button-list {
  display: none;
}

.crud .form-field {
  display: inline-block;
  width: auto;
  border: 0;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
}

.crud-select-all {
  width: 100%;
  text-align: center;
  background-color: #f9fccb;
  border: 1px solid #c9c441;
  line-height: 32px;
  font-weight: normal;
  font-size: 12px;
}

.crud-select-all-button {
  background: none;
  text-decoration: underline;
  font-weight: inherit;
}
