/* @group Timeline */
#tab-wgt-timeline {
  padding: 0;
}

.timeline {
  background: url(../images/timeline-top-verloop.png) repeat-x top left #f6f6f6 !important;
  padding: 1em 1.5em 0 !important;
}

.timeline-content {
  width: 729px;
  float: left;
  position: relative;
}

.line-gradient {
  width: 3px;
  height: 24px;
  background: url("../images/icons-timeline.png") -110px -37px no-repeat;
  position: absolute;
  top: 0;
  left: 9px;
  z-index: 1;
}

.timeline-inner {
  width: 729px !important;
  margin: 0;
  position: relative;
  background: url("../images/line.png") repeat-y scroll 9px top transparent;
  padding: 20px 0 20px;
}

.timeline-inner,
.timeline li.timeline-item {
  list-style-type: none;
}

.timeline .timeline-item {
  float: none !important;
  margin-bottom: 15px;
  position: relative;
  width: 350px;
  margin-left: 29px;
  width: 700px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.timeline .timeline-item.right {
  float: none !important;
}

.timeline .timeline-item .timeline-item-inner {
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 5px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color;
}

.timeline .timeline-item .timeline-item-inner.timeline-item-new {
  background-color: #ffffcc;
}

.timeline .spine {
  height: 100%;
  left: 350px;
  position: absolute;
  width: 29px;
  z-index: 1;
}

.timeline .pointer {
  background: url(../images/icons-timeline.png) -132px -42px no-repeat;
  width: 23px;
  height: 15px;
  position: absolute;
  top: 20px;
  left: -22px;
  right: auto;
}

.timeline-inner > .left + li > .pointer {
  top: 40px;
}

.timeline-inner {
  position: relative;
}

.timeline .notitie {
  padding: 4px 10px 10px;
}

.timeline .notitie p {
  margin-bottom: 5px;
}

.timeline .notitie input[type=text],
.timeline .notitie textarea {
  width: 656px;
  font-size: 14px;
  height: 18px;
}

.timeline .notitie .spot-enlighter-wrapper input[type=text] {
  height: 30px;
}

.timeline .notitie .timeline-form-contactmoment textarea {
  height: 38px;
  margin-bottom: 8px;
  display: block;
}

.timeline .notitie .timeline-form-contactmoment input[type=text]:focus,
.timeline .notitie .timeline-form-contactmoment textarea:focus,
.timeline .notitie .timeline-form-contactmoment input[type=text]:hover,
.timeline .notitie .timeline-form-contactmoment textarea:hover {
  position: relative;
  z-index: 1;
  border-style: solid;
}

.timeline .notitie .timeline-form-contactmoment .spot-enlighter-tag-wrapper {
  z-index: 2;
  padding: 4px;
}

.timeline .notitie .timeline-form-contactmoment input[type=text] {
  width: 270px;
  margin-right: 0;
  font-size: 13px;
  float: left;
}

.timeline .notitie .timeline-form-contactmoment input[placeholder="Zaaknummer"] {
  margin-right: 4px;
}

.timeline-form-notitie textarea {
  margin-bottom: 8px;
}

/*  .timeline .notitie .timeline-form-contactmoment .selectmenu{
        
    }*/
.timeline .notitie button {
  display: block;
  margin-left: 0;
}

.timeline .notitie button[disabled="disabled"] {
  opacity: 0.5;
  filter: alpha(opacity=30);
  cursor: default;
  pointer-events: none;
}

.timeline-item-important {
  position: absolute;
  width: 4px;
  background: #33aae8;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
}

.timeline-item-priority .timeline-item-important {
  display: block;
}

.timeline-item-title {
  padding: 0px 160px 0px 50px;
  position: relative;
  min-height: 46px;
}

.timeline-item-date {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 12px;
  line-height: 12px;
  color: #999;
  margin-top: -6px;
}

.timeline-item-titel {
  font-size: 14px;
  display: block;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  height: 36px;
  padding: 5px 0;
  font-weight: bold;
}

.timeline-item-extended .timeline-item-titel {
  padding: 5px 0 10px;
}

.timeline-item-desc-meta {
  font-weight: normal;
  font-size: 12px;
  color: #999;
  display: block;
  margin-top: 2px;
}

.timeline-item-meta {
  color: #aaa;
  font-size: 12px;
}

.timeline-item-content {
  padding: 10px 10px 5px;
  border-top: 1px solid #ddd;
}

.timeline-item-content pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.timeline-item-expand {
  width: 100%;
  background: none;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  color: #666;
}

.timeline-item-expand:hover {
  background-color: #eee;
}

.timeline-item-attachments {
  margin: 0px;
  padding: 0;
}

.timeline-item-attachments button {
  background: #f5f5f5;
  font-size: 1em;
  margin: 0 3px 3px 0;
  border-bottom: 1px solid transparent;
  padding: 4px 10px 4px 7px;
  display: block;
  width: 100%;
  text-align: left;
}

.timeline-item-attachments button:hover {
  background: #eee;
  cursor: pointer;
}

.timeline-item-icon {
  background: url(../images/icons-timeline.png) no-repeat -32px 0;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 7px;
  margin-right: 10px;
}

.timeline-item-icon[data-event-type="document"] {
  background-position: -32px 0;
}

.timeline-item-icon[data-event-type="note"] {
  background-position: -96px 0;
}

.timeline-item-icon[data-event-type="contactmoment"] {
  background-position: -64px 0;
}

.timeline-item-icon[data-event-type="case"],
.timeline-item-icon[data-event-type="case-mutation"] {
  background-position: -128px 0;
}

.timeline-item-icon[data-event-type="product"] {
  background-position: -160px 0;
}

.timeline-item-icon[data-event-type="question"] {
  background-position: -192px 0;
}

.timeline-item-icon[data-event-type="email"] {
  background-position: -224px 0;
}

.notitie-type {
  padding: 0 0 12px;
}

.notitie-type a {
  padding-left: 22px;
  position: relative;
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #999;
}

.notitie-type a:hover {
  color: #000;
  text-decoration: underline;
}

.notitie-type a.active {
  color: #000;
}

.notitie-type a.active > .current-notitie-type {
  display: block;
}

.notitie-type a span {
  background: url(../images/icons-timeline.png) no-repeat -8px -40px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
}

.current-notitie-type {
  width: 14px;
  height: 7px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  background: url(../images/icons-timeline.png) no-repeat -72px -44px;
  display: none;
  z-index: 2;
}

.notitie-type-contactmoment span {
  background-position: -40px -40px !important;
}

.timeline-filter {
  float: left;
  width: 172px;
  padding: 20px 0 0 30px;
}

.timeline-filter .search_wrap {
  margin-bottom: 12px;
}

.timeline-options {
  margin-bottom: 15px;
}

.timeline-options li {
  list-style: none;
  line-height: 1.8;
}

.timeline-filter-input {
  float: none !important;
  margin-bottom: 15px;
}

.timeline-filter-checkbox {
  margin-right: 3px;
}

.timeline-filter h3 {
  margin-bottom: 15px;
}

.timeline-loader > img {
  visibility: hidden;
}

.timeline-loader > button {
  display: none;
}

.timeline-loader-loading > img {
  visibility: visible;
}

.contactmoment-form-via {
  margin-left: 8px;
}

.contactchannel-select-wrapper {
  vertical-align: top;
  display: inline-block;
  width: 234px;
}

.contactchannel-select-wrapper > select {
  width: 234px;
}

.timeline-form-contactmoment .ui-selectmenu-status {
  line-height: 1.7;
  padding-left: .55em;
}

.timeline-form-contactmoment span.contactmoment-form-via {
  display: inline-block;
  line-height: 28px;
  padding: 0 2px;
  vertical-align: top;
}

.timeline-form-contactmoment a span {
  vertical-align: baseline;
}

.timeline-item-icon[data-event-type="document"] {
  background: url(../images/icons-docs.png) no-repeat;
}

.timeline-item-icon[data-mimetype="txt"] {
  background-position: -32px 0;
}

.timeline-item-icon[data-mimetype="msword"],
.timeline-item-icon[data-mimetype="vnd.openxmlformats-officedocument.wordprocessingml.document"] {
  background-position: -64px 0;
}

.timeline-item-icon[data-mimetype="vnd.oasis.opendocument.text"] {
  background-position: -96px 0;
}

.timeline-item-icon[data-mimetype="pdf"] {
  background-position: -128px 0;
}

.timeline-item-icon[data-mimetype="jpeg"],
.timeline-item-icon[data-mimetype="pjpeg"] {
  background-position: -160px 0;
}

.timeline-item-icon[data-mimetype="png"] {
  background-position: -192px 0;
}

.timeline-item-icon[data-mimetype="gif"] {
  background-position: -224px 0;
}

.timeline-item-icon[data-mimetype="vnd.ms-excel"] {
  background-position: -384px 0;
}

/*  .timeline-filter label{
        padding: 0 0 0 42px;
        background-position: 20px 0 !important;
    }
    
    .timeline-filter .checkbox-cm label{
        background: url(../images/icon-contactmoment-16.png) no-repeat;
    }
    
    .timeline-filter .checkbox-note label{
        background: url(../images/icon-note-16.png) no-repeat;
    }
    
    .timeline-filter .checkbox-doc label{
        background: url(../images/icon-doc-16.png) no-repeat;
    }*/
/* @end */
