/* ***** BEGIN LICENSE BLOCK ********************************************
 * Version: EUPL 1.1
 *
 * The contents of this file are subject to the EUPL, Version 1.1 or
 * - as soon they will be approved by the European Commission -
 * subsequent versions of the EUPL (the "Licence");
 * you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://joinup.ec.europa.eu/software/page/eupl
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Zaaksysteem
 *
 * The Initial Developer of the Original Code is
 * Mintlab B.V. <info@mintlab.nl>
 * 
 * Portions created by the Initial Developer are Copyright (C) 2009-2011
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 * Michiel Ootjers <michiel@mintlab.nl>
 * Jonas Paarlberg <jonas@mintlab.nl>
 * Jan-Willem Buitenhuis <jw@mintlab.nl>
 * Peter Moen <peter@mintlab.nl>
 *
 * ***** END LICENSE BLOCK ******************************************** */
/* @group zaakdossier.css   */
/* @group Header */
.zaakdossier-titel {
  height: 62px;
}

.zaak-info {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  position: relative;
}

.zaak-info-inner {
  margin-right: 170px;
  padding: 14px 0 0px 12px;
}

.zaaktitel {
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
}
.zaaktitel span {
  font-weight: normal;
  color: #888;
}

.zaakdossier-tabs {
  background: #efefef;
}
.zaakdossier-tabs ul.ui-tabs-nav {
  padding-top: 12px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.zaak-acties {
  width: 134px;
  right: 12px;
  top: 12px;
  position: absolute;
  height: 38px;
}
.zaak-acties .button_num_1 {
  float: right;
}

.zaak-meta {
  font-size: 13px;
  font-weight: normal;
  padding: 10px 0 2px;
  overflow: hidden;
  height: 20px;
}
.zaak-meta a {
  text-decoration: none;
}
.zaak-meta em {
  color: #aaa;
  font-style: normal;
}
.zaak-meta .zaak-meta-item {
  display: block;
  float: left;
  margin-right: 5px;
  padding: 0 5px;
  background-position: 5px center !important;
  border-radius: 3px;
}
.zaak-meta .zaak-meta-item:hover {
  background-color: #e6e6e6;
}
.zaak-meta .zaak-meta-item:active {
  position: relative;
  top: 1px;
}
.zaak-meta .zaak-meta-item.zaak-is-over-streefdatum {
  color: #e60000;
  font-weight: bold;
}
.zaak-meta span.zaak-meta-item:hover {
  cursor: default;
}
.zaak-meta .zaak-meta-item-action {
  text-decoration: underline;
}

/* @end */
/* @group Tabs */
.zaakdossier .spinner-groot {
  top: 36px;
}

.tabs-header {
  position: relative;
}

.tabs-header-saved {
  position: absolute;
  right: 14px;
  top: 18px;
  color: #aaa;
}

.icons-zaakdossier {
  background: url(../images/icons-zaakdossier.png);
}

.zaakdossier .ui-tabs .ui-tabs-panel {
  padding: 0;
}

.zaakdossier .ui-tabs .ui-tabs-nav li.tab-icon {
  padding-left: .6em;
  padding-right: .6em;
}
.zaakdossier .ui-tabs .ui-tabs-nav li.tab-icon a {
  background-position: 0 -6px;
  text-indent: -9999px;
  width: 32px;
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.zaakdossier .ui-tabs .ui-tabs-nav li.tab-icon.tab-timeline a {
  background-position: -32px -6px;
}
.zaakdossier .ui-tabs .ui-tabs-nav li.tab-icon.tab-icon.tab-subcases a {
  background-position: -64px -6px;
}
.zaakdossier .ui-tabs .ui-tabs-nav li.fase a {
  padding: .7em 1.3em .7em .9em;
}
.zaakdossier .ui-tabs .ui-tabs-nav li.fase.done a {
  font-weight: normal;
}
.zaakdossier .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  background: #e3ec87;
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #e3ec87), color-stop(100%, #dfe975));
  background: -webkit-linear-gradient(to bottom, #e3ec87 0%, #dfe975 100%);
  background: -moz-linear-gradient(to bottom, #e3ec87 0%, #dfe975 100%);
  background: -o-linear-gradient(to bottom, #e3ec87 0%, #dfe975 100%);
  background: linear-gradient(to bottom, #e3ec87 0%, #dfe975 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3ec87', endColorstr='#dfe975',GradientType=0 );
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 1;
}
.zaakdossier .ui-tabs .ui-tabs-nav li .icon {
  margin-right: 8px;
}
.zaakdossier .ui-tabs .ui-tabs-nav li .icon-fase-done {
  background-position: 0 -54px;
}
.zaakdossier .ui-tabs .ui-tabs-nav li .icon-fase-new {
  background-position: -16px -54px;
}

.tab-info {
  background: #dfe975;
  padding: 8px 16px;
  border-bottom: 1px solid #a4a5a0;
  position: relative;
  z-index: 3;
  height: 19px;
  font-size: 13px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0 1px;
}
.tab-info .icon-tab-info {
  background-position: -32px -54px;
}

.ui-tabs-hidden {
  visibility: hidden;
}

.ui-tabs-visible {
  visibility: visible;
}

/* @group inner scroll */
.dossier-inner-scroll-inner > div {
  position: absolute;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.ui-tabs .ui-tabs-panel.tab-inner-scroll {
  top: 178px;
  position: absolute;
  left: 233px;
  right: 15px;
  bottom: 15px;
  padding: 0;
  overflow: auto;
}

.ui-tabs .ui-tabs-panel.taken-inner-scroll {
  overflow: hidden;
}

.block-inner-scroll-center {
  width: 70%;
  position: absolute;
  left: 0;
  top: 36px;
  bottom: 0;
  overflow: auto;
}

.block-inner-scroll-east {
  width: 30%;
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: whitesmoke url(../images/dossier-sidebar-bg.gif) repeat 0 0;
}

/* @end */
/* @group taken */
.taken-inner {
  border: 1px solid #bbb;
  border-top: none;
  background: #fff;
  position: absolute;
}

.taken .inner {
  padding: 20px;
}

.taken .webformcontent {
  margin: 0;
  padding: 0;
}

/* @end */
/* @group Sidebar */
.dossier-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 3px solid #ddd;
}
.dossier-sidebar.ui-accordion .ui-accordion-header {
  padding: 12px 0 12px 15px;
  font-weight: bold;
  font-size: 14px;
  background: #f8f8f8;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  border-bottom-color: #bbb;
}
.dossier-sidebar.ui-accordion .ui-accordion-header.ui-state-hover {
  background: #eee;
}
.dossier-sidebar.ui-accordion .ui-accordion-header .ui-icon {
  display: none;
}
.dossier-sidebar .icon-question-sign {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  margin-right: 9px;
  font-size: 1.15em;
}
.dossier-sidebar .icon-question-sign:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.dossier-sidebar .ui-accordion-content {
  background: whitesmoke url(../images/dossier-sidebar-bg.gif) repeat 0 0;
}
.dossier-sidebar .dossier-sidebar-item {
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.dossier-sidebar .dossier-sidebar-item:hover {
  background: #f9f9f9;
  cursor: pointer;
}
.dossier-sidebar .dossier-sidebar-item:last-child {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.taken .ui-accordion .ui-accordion-header {
  border-bottom: 1px solid #BBBBBB !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.taken .ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1.3em;
  padding: .8em .5em .8em 2.95em;
  font-weight: normal;
}
.taken .ui-accordion .ui-accordion-content {
  border-bottom-color: #bbb;
}

.zaakdossier-afgehandeld .dossier-sidebar-item,
.fase-afgerond .case-action {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.zaakdossier-afgehandeld .dossier-sidebar-item:hover,
.fase-afgerond .case-action:hover {
  background: #fff;
  cursor: default;
  color: #222;
}

/* @end */
/* @group Checklist */
.checklist .inner {
  padding: 0;
}
.checklist .checklist-item label {
  line-height: 1.4;
  padding: 11px 10px 11px 35px;
  display: block;
  position: relative;
}
.checklist .checklist-item label:hover {
  cursor: pointer;
}
.checklist .checklist-item label input {
  position: absolute;
  top: 13px;
  left: 14px;
}
.checklist .checklist-item label button {
  border: none;
  background-color: none;
  line-height: 1;
  padding: 2px;
}
.checklist .checklist-item label button:hover {
  cursor: pointer;
}
.checklist .checklist-item.checklist-item-checked label {
  text-decoration: line-through;
}
.checklist .user-defined-checklist-item label {
  padding-right: 35px;
}
.checklist .user-defined-checklist-item label button {
  position: absolute;
  right: 14px;
  top: 11px;
}
.checklist.checklist-closed .checklist-item label:hover {
  cursor: default;
}
.checklist.checklist-closed .checklist-item label > input {
  opacity: 0.5;
  filter: Alpha(Opacity=50);
}
.checklist form {
  padding: 10px;
}
.checklist form input {
  width: 96%;
  padding: 6px 2%;
}
.checklist input[type="text"].ng-invalid.ng-dirty,
.checklist input[required="required"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #bbb;
}
.checklist input[type="text"].ng-invalid.ng-dirty:focus,
.checklist input[required="required"]:focus {
  -webkit-box-shadow: #14a4fe 0 0 4px 0;
  -moz-box-shadow: #14a4fe 0 0 4px 0;
  box-shadow: #14a4fe 0 0 4px 0;
  border-color: #14a4fe;
}
.checklist.checklist-closed .checklist-item:hover {
  background: #fff;
}

.oldie .checklist form input {
  width: 92%;
  padding: 4px;
}

/* @end */
/* @group Acties */
.case-actions .inner {
  padding: 0;
}

.case-action {
  position: relative;
  padding: 12px 12px 12px 86px;
  display: block;
  text-decoration: none;
}
.case-action a {
  text-decoration: none;
}
.case-action span {
  color: #888;
}
.case-action button[data-ng-show="action.tainted"] {
  background-color: transparent;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.case-action button[data-ng-show="action.tainted"]:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.case-action-icon {
  position: absolute;
  left: 42px;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background: url(../images/icons-zaakdossier.png);
}

.case-action-state {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -8px;
}

.case-action-case .case-action-icon {
  background-position: -64px -80px;
}

.case-action-template .case-action-icon {
  background-position: -32px -80px;
}

.case-action-email .case-action-icon {
  background-position: 0 -80px;
}

.case-action-allocation .case-action-icon {
  background-position: -64px -48px;
}

/* @end */
/* @group Timeline */
.zaakdossier .timeline {
  padding: 0 !important;
}
.zaakdossier .timeline > div {
  background: url("../images/line.png") repeat-y scroll 19px top transparent;
}
.zaakdossier .timeline .timeline-content {
  padding: 0 0 0 10px;
}
.zaakdossier .timeline .line-gradient {
  left: 19px;
}

/* @end */
/* @group Deelzaken */
.deelzaken {
  padding: 15px 20px;
  font-weight: normal;
  background: #fff;
}
.deelzaken td {
  border-bottom-color: #ddd;
}
.deelzaken tr.current_case td {
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
}
.deelzaken .table-cell {
  border-bottom: 1px solid #eee;
  padding: 0.8em 0.3em;
}
.deelzaken .spot-enlighter-wrapper {
  width: 250px;
}

form[name="newRelation"] {
  padding: .8em .3em;
}

.case-relation-drag {
  display: inline-block;
  margin: 10px;
}

.case-relation-drag-content {
  display: inline-block;
  border: 1px solid #ccc;
  background: white;
  padding: 4px 8px 4px 24px;
  font-size: 14px;
  font-weight: bold;
}

/* @end */
/* @group Volgende fase errors */
.volgende-fase-errors {
  font-size: 14px;
  list-style: none;
}
.volgende-fase-errors p {
  margin-bottom: 10px;
}
.volgende-fase-errors li {
  padding: 3px 5px 3px 37px;
  margin-left: 0;
  line-height: 2.3;
  color: red;
  background: #f4e1de url(../images/icon-validation-failed.png) 12px center no-repeat;
  border: 1px solid red;
  margin-bottom: 4px;
  list-style: none;
  border-radius: 3px;
}

/* @end */
/* @group Progress Bar   */
.flexible {
  width: 100%;
}

.progress {
  width: 85%;
}

.progress-accordion {
  padding: 20px 0 0;
}

.progress-wrap {
  margin-bottom: 10px;
}

.progress.block {
  background: #f6f6f6 !important;
}

.progress.block .inner {
  padding: 10px 15px;
}

.progress.block p.header {
  background: none;
  padding: 0 0 15px;
  border-bottom: none;
}

.progress .start-end {
  height: 25px;
}

.progress.block span {
  font-size: 0.8333em;
  margin-top: 3px;
  color: #777;
}

.progress.block span.progress-start {
  float: left;
}

.progress.block span.progress-end {
  float: right;
}

.progress .progress-bar {
  border: 1px solid #afafaf;
  height: 16px;
  padding: 1px;
  background: #fff;
}

.progress .progress-value {
  background: url(../images/progress-value-bg.gif) repeat-x 20px center;
  width: 0;
  height: 16px;
  position: relative;
}

.progress .perc {
  width: 25px;
  margin-left: -12px;
  position: absolute;
  top: 10px;
  visibility: hidden;
}

.progress table {
  border-spacing: 0;
}

.progress tr:first-child td {
  border-top: none;
}

.progress tr:last-child td {
  border-bottom: none;
}

.progress tr > td {
  border-top: 1px solid #fff;
}

.progress td:first-child {
  font-weight: bold;
}

.progress .progress-time {
  height: 45px;
  width: 100%;
  position: relative;
}

.progress .color {
  height: 45px;
  float: left;
}

.progress .green {
  width: 60%;
  background: url(../images/progress-time-green-bg.gif) repeat-x 0 center;
}

.progress .orange {
  width: 25%;
  background: url(../images/progress-time-orange-bg.gif) repeat-x 0 center;
}

.progress .red {
  width: 15%;
  background: url(../images/progress-time-red-bg.gif) repeat-x 0 center;
}

.progress .current {
  width: 15px;
  height: 45px;
  margin-left: -7px;
  position: absolute;
  top: 0px;
  background: url(../images/current-time.png) no-repeat 0 center;
}

.progress.progress-large {
  width: 100%;
}

.progress-large .progress-bar,
.progress-large .progress-value {
  height: 45px;
}

/* @end */
/* @group Management Opties */
.opties .opties_blok {
  padding-top: 17px;
}
.opties .opties_blok td {
  padding: 1em 0.3em;
}
.opties .opties_blok_label {
  vertical-align: top;
}
.opties .opties_blok_label strong {
  display: block;
  padding-right: 10px;
  line-height: 1.6;
  font-size: 13px;
  color: #333;
}
.opties .td-label {
  padding-right: 20px;
}
.opties .opties_blok_vernietigingsdatum div {
  padding: 3px 0;
}
.opties .opties_blok_vernietigingsdatum .huidige-vernietigingsdatum {
  padding: 3px 4px;
  border: 1px dotted #bbb;
  background: #f8f8f8;
  margin-bottom: 3px;
  color: #888;
}
.opties .opties_blok_vernietigingsdatum .huidige-vernietigingsdatum input {
  padding: 3px;
}
.opties .opties_blok_afdeling .col {
  margin: 0 8px 4px 0;
}
.opties .zaaktype_onthouden {
  margin: 4px 0 0 0;
}

/* @end */
