/* @group  Zaken Zoeken  */
/* @group Filters Icons */
a.element#zaaktype span.bg {
  background: url(../images/icon-zaaktype.png) no-repeat 0 0;
}

a.element#aanvrager span.bg {
  background: url(../images/icon-man.png) no-repeat 0 0;
}

a.element#aanvrager_bedrijf span.bg {
  background: url(../images/icon-bedrijf.png) no-repeat 0 0;
}

a.element#adres span.bg {
  background: url(../images/icon-house.png) no-repeat 0 0;
}

a.element#urgentie span.bg {
  background: url(../images/icon-alert.png) no-repeat 0 0;
}

a.element#afdeling span.bg {
  background: url(../images/icon-organisation.png) no-repeat 0 0;
}

a.element#behandelaar span.bg {
  background: url(../images/icon-persoon.png) no-repeat 0 0;
}

a.element#coordinator span.bg {
  background: url(../images/icon-coordinator.png) no-repeat 0 0;
}

a.element#periode span.bg {
  background: url(../images/icon-calendar.png) no-repeat 0 0;
}

a.element#betaalstatus span.bg {
  background: url(../images/money.png) no-repeat 0 0;
}

a.element#new span {
  background: url(../images/icon-report_add.png) no-repeat 0 0;
}

/* @end */
.zaken-zoeken-filters .search-no-filters {
  color: #bbb;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 170px;
  padding: 14px 0px 0 14px;
  line-height: 1.5;
}
.zaken-zoeken-filters a.search_filter_not_available:hover,
.zaken-zoeken-filters a.search_filter_not_available {
  color: #c0c0c0 !important;
  border-color: #e0e0e0 !important;
}
.zaken-zoeken-filters a.search_filter_not_available span.bg {
  opacity: 0.4;
}

.zaken-zoeken li a.divider {
  padding: 0.6em 1em 0 !important;
}
.zaken-zoeken li a.divider span {
  display: block;
  border-left: 1px solid #fff;
  border-right: 1px solid #bbb;
  height: 18px;
}
.zaken-zoeken .dialog-content-inner label {
  padding: 10px 0;
  display: block;
  font-weight: bold;
}
.zaken-zoeken .dropdown-init#groepeer-resultaten {
  top: 9px;
  right: 8px;
  position: absolute;
}
.zaken-zoeken .ui-accordion-content {
  position: relative;
}
.zaken-zoeken .ui-accordion-content-active + h3 {
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.zaken-zoeken .ui-accordion-header.ui-state-active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.zaken-zoeken-kolommen .add_kenmerkveld {
  padding-left: 10px;
  margin-left: 457px !important;
  margin-top: 7px;
}
.zaken-zoeken-kolommen .add_kenmerkveld:hover {
  cursor: pointer;
  color: #000;
}
.zaken-zoeken-kolommen .config_header {
  font-weight: bold;
  text-decoration: none;
  color: #222;
  padding-top: 15px;
  padding-bottom: 5px;
}
.zaken-zoeken-kolommen .config_header .filter_column {
  float: left;
  margin-right: 380px;
}
.zaken-zoeken-kolommen .config_header .filter_column_right {
  margin-right: 0px;
}

.kenmerk_filter_operator {
  margin-right: 10px;
  margin-bottom: 10px;
}

#ezra_input_search_betrokkene_intern,
#ezra_input_search_betrokkene_extern {
  background: #eee;
}

.publish-item {
  border: 1px solid #ddd;
  background: #f7f7f7;
  margin-bottom: 15px;
}
.publish-item > div {
  padding: 15px;
}
.publish-item .publish-subcases .publish-subcase-entity {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  background: #fff;
}
.publish-item .publish-subcases .publish-subcase-entity > div {
  padding: 8px 10px;
}
.publish-item .publish-subcases .publish-subcase-entity .publish-subcase-entity-title {
  background: #e7e7e7;
  border-bottom: 1px solid #bbb;
}
.publish-item .publish-subcases .publish-subcase-entity .publish-subcase-entity-info {
  border-bottom: 1px solid #ddd;
}
.publish-item .publish-subcases ul {
  margin-left: 20px;
}
.publish-item .publish-subcases .publish-documents {
  margin-left: 30px;
}
.publish-item input.publish-subcase-action {
  margin-right: 10px;
}

.error {
    color: red;
}

/* @end */
