/* @group Actions Nav & Popover */

    /* @group Actions Nav */
    
    .action-list{
        float:right;
    }

    .actions-nav-wrap{
        position:absolute;
        right: 15px;
        top: 15px;
        background: none;
    }
    
    .actions-nav {
        border: 1px solid rgba(0, 0, 0, 0.4);
        @include border-radius(5px);
        @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.75), inset 0 1px 0 rgba(255,255,255,0.75));
        height: 36px;
        padding: 0;
        width: 132px;
        background: #ffffff;
        @include background(linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 50%,#ededed 52%,#ededed 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
        @include box-sizing(content-box !important);
        * {
            @include box-sizing(content-box);
        }
        [data-zs-popup-menu]{
            display: inline-block;
            float:left;
        }
    }
    
    .actions-nav > button,
    .actions-nav > a,
    .actions-nav .actions-nav-button{
        border: 0 none;
        @include box-shadow(-1px 0 0 rgba(0, 0, 0, 0.35), 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3));
        display: inline-block;
        float: left;
        height: 36px;
        margin: 0;
        position: relative;
        text-indent: -9999px;
        width: 44px;
    }
    
    .actions-nav > button.first,
    .actions-nav > a.first,
    .actions-nav .actions-nav-button.first{
        @include border-radius(5px 0 0 5px);
        @include box-shadow(1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3));
    }
    
    .actions-nav > button.last,
    .actions-nav > a.last,
    .actions-nav .actions-nav-button.last{
        @include border-radius(0 5px 5px 0);
    }
    
    .actions-nav > button:hover,
    .actions-nav > a:hover,
    .actions-nav .actions-nav-button:hover{
        background: rgba(0,0,0,0.02);
    }
    
    .actions-nav > button:active,
    .actions-nav > button.active,
    .actions-nav > a:active,
    .actions-nav > a.active,
    .actions-nav .actions-nav-button:active,
    .actions-nav .actions-nav-button.zs-popup-menu-button-active{
        background: rgb(206,206,206);
        @include background(linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ebebeb',GradientType=0 );
        @include box-shadow(-1px 0 0 rgba(0, 0, 0, 0.25),0 1px 1px rgba(0, 0, 0, 0.2) inset);
    }
    
    .actions-nav > button,
    .actions-nav button.actions-nav-button
    {
        background: none;
    }
    
    .actions-nav > button:hover,
    .actions-nav button.actions-nav-button:hover{
        cursor: pointer;
    }
    
    .actions-nav > button.next,
    .actions-nav > a.next{
        border-radius: 0 5px 5px 0;
    }
    
    .actions-nav > button > .nav-icon,
    .actions-nav > a > .nav-icon,
    .actions-nav .actions-nav-button .nav-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -8px;
        height: 16px;
        width: 16px;
        background: url(../images/icons-actions-nav.png) no-repeat 0 0;
    }
    
    .actions-nav .actions-nav-edit > .nav-icon{background-position: -16px 0;}
    .actions-nav .actions-nav-next > .nav-icon{background-position: -32px 0;}
    .actions-nav .actions-nav-play > .nav-icon{background-position: -48px 0;}
    .actions-nav .actions-nav-stop > .nav-icon{background-position: -64px 0;}
    .actions-nav .actions-nav-options > .nav-icon{background-position: -80px 0;}
    .actions-nav .actions-nav-contact > .nav-icon{background-position: -96px 0;}
    .actions-nav .actions-nav-new-case > .nav-icon{background-position: -112px 0;}
    .actions-nav .actions-nav-new-contactmoment > .nav-icon{background-position: -128px 0;}
    

    .actions-nav > button.add-item.active,
    .actions-nav > a.add-item.active{
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    }
            
    /* styles for no-rgba/no-boxshadow browsers */
    
    .no-boxshadow .actions-nav{
        border: 1px solid #aaa;
        width: 134px;
    }
    
    .no-rgba.no-boxshadow .actions-nav > button,
    .no-rgba.no-boxshadow .actions-nav > a{
        border-right: 1px solid #999;
    }
    
    .no-rgba .actions-nav.button_num_1 > button,
    .no-rgba .actions-nav.button_num_1 > a{
        border-right: none;
    }
    
    .no-rgba .actions-nav > button:hover,
    .no-rgba .actions-nav > a:hover{
        background: rgb(235,235,235);
    }
    
    .no-rgba.no-boxshadow .actions-nav > button.last,
    .no-rgba.no-boxshadow .actions-nav > a.last{border-right: none;}
    
    .no-rgba .actions-nav.button_num_4{
        width: 177px;
    }
    
    
    
    /* end styles for no-rgba browsers */
    
    .actions-nav.button_num_1{
        width: 44px;
    }
    
    .actions-nav.button_num_1 a,
    .actions-nav.button_num_1 > button
    .actions-nav.button_num_1 .actions-nav-button{
        border-radius: 5px;
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
    }
    
    .actions-nav.button_num_1 > button:active,
    .actions-nav.button_num_1 > button.active,
    .actions-nav.button_num_1 > a:active,
    .actions-nav.button_num_1 > a.active,
    .actions-nav.button_num_1 .actions-nav-button:active{
        box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25),0 1px 1px rgba(0, 0, 0, 0.2) inset;
    } 
    
    .actions-nav.button_num_2{
        width: 88px;
    }
    
    .no-boxshadow .actions-nav.button_num_2{
        width: 89px;
    }
    
    .actions-nav.button_num_4{
        width: 176px;
    }
    
    
    /* @end */
    
    
    
    /* @group Actions Nav Small */
    
    
    .actions-nav-small {
        background: rgb(255,255,255);
        @include background(linear-gradient(top,rgb(255,255,255) 0%,rgb(247,247,247) 50%,rgb(242,242,242) 52%,rgb(237,237,237) 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
        height: 27px;
        border-radius: 3px;
    }
    
    .actions-nav-small.actions-nav-in-header{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    .actions-nav-small.button_num_1{
        width: 38px;
    }
    
    .actions-nav-small.button_num_1.actions-nav-show-input{
        width: 201px;
    }
    
    .actions-nav-small.button_num_1.actions-nav-show-input a{
        border-radius: 0 2px 2px 0;
    }
    
    .actions-nav-small.button_num_1.actions-nav-show-input input{
        border-radius: 2px 0 0 2px;
        border-right: 1px solid #888;
        border-left: none;
    }
    
    .actions-nav-small.button_num_1 > button:active,
    .actions-nav-small.button_num_1 > a:active,
    .actions-nav-small.button_num_1 .actions-nav-button:active
    {
        @include box-shadow(-1px 0 0 rgba(0, 0, 0, 0.25),0 1px 1px rgba(0, 0, 0, 0.2) inset);
    }
    
    .actions-nav-small.button_num_2{
        width: 76px;
    }
    
    .actions-nav-small.button_num_3{
        width: 114px;
    }
    
    .no-boxshadow .actions-nav-small.button_num_1{
        width: 38px;
    }
    
    .no-boxshadow .actions-nav-small.button_num_2{
        width: 78px;
    }
    
    .no-boxshadow .actions-nav-small.button_num_3{
        width: 116px;
    }
    
    .actions-nav-small.button_num_1 > button:active,
    .actions-nav-small.button_num_1 > button.active,
    .actions-nav-small.button_num_1 > a:active,
    .actions-nav-small.button_num_1 > a.active,
    .actions-nav-small.button_num_1 .actions-nav-button:active{
        @include box-shadow(-1px 0 0 rgba(0, 0, 0, 0.25),0 1px 1px rgba(0, 0, 0, 0.2) inset);
    }
    
    .actions-nav-small > button,
    .actions-nav-small > a,
    .actions-nav-small .actions-nav-button
    {
        width: 38px;
        height: 27px;
    }
    
    .actions-nav-small > button.last,
    .actions-nav-small > a.last,
    .actions-nav-small .actions-nav-button.last{
        border-radius: 0 3px 3px 0;
    }
    
    .actions-nav-small.button_num_1 > button,
    .actions-nav-small.button_num_1 > a,
    .actions-nav-small .actions-nav-button{
        border-radius: 2px;
       @include box-shadow(1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3));
    }
    
    .actions-nav-small.button_num_2 > button.last,
    .actions-nav-small.button_num_2 > a.last,
    .actions-nav-small.button_num_2 .actions-nav-button.last{
        border-radius: 0 2px 2px 0;
    }

    .actions-nav-small > button.first,
    .actions-nav-small > a.first,
    .actions-nav-small .actions-nav-button.first{
        border-radius: 3px 0 0 3px;
    }
    
    .actions-nav-small .actions-nav-add .nav-icon {
        background-position:0 -16px;
    }
    
    .actions-nav-small .actions-nav-options .nav-icon {
        background-position:-15px -16px;
    }
    
    .actions-nav-small .actions-nav-next .nav-icon {
        background-position:-30px -16px;
    }
    
    .actions-nav-small .actions-nav-filter .nav-icon {
        background-position:-45px -16px;
    }
    
    .actions-nav-small .actions-nav-edit .nav-icon {
        background-position:-60px -16px;
    }
    
    .actions-nav-small .actions-nav-new .nav-icon {
        background-position:-75px -16px;
    }
    
    .actions-nav-small .actions-nav-save .nav-icon {
        background-position:-90px -16px;
    }
    
    .actions-nav-small .actions-nav-refresh .nav-icon {
        background-position:-105px -16px;
    }
    
    .actions-nav-small input{
        display: none;
        border-radius: 0;
        width: 150px;
        float: left;
        font-size: 15px;
        border: none;
        border-left: 1px solid #888;
    }
    
    .actions-nav-small input:focus{
        @include box-shadow(1px 1px 1px #DDDDDD inset);
    }
    
    .actions-nav-small.actions-nav-show-input{
        width: 239px;
    }
    
    .actions-nav-small.actions-nav-show-input input{
        display: block;
    }
    
    .header .actions-nav-small{
        margin: 1px 2px 0 0;
    }
    
    /* @end */
    
    
    /* @group Popover */
    
    .popover{
        position: absolute;
        width: 200px;
        padding: 7px 6px 0 6px !important;
        background: rgb(64,74,78) !important;
        @include background(linear-gradient(top,rgb(64,74,78) 0%,rgb(31,36,38) 100%));
        z-index: 10000;
        @include border-radius(5px);
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.55));
        border: 1px solid #404a4e;
        display: none;
    }

    .popover.action-list-popover{
        margin-top:9px;
        margin-right:-8px;
        &:before{
            width: 29px;
            height: 16px;
            position: absolute;
            background: url(../images/popover-tip.png) no-repeat;
            z-index: 10001;
            top:-15px;
            right:12px;
            content:'';
        }
    }
    
    #popover_voegtoe { margin:20px 2px 0 0; }
    
    .no-boxshadow .popover{
        padding: 6px 6px 0 6px;
    }
    
    .popover-tip{
        width: 29px;
        height: 16px;
        position: absolute;
        background: url(../images/popover-tip.png) no-repeat;
        z-index: 10001;
    }
    
    .no-boxshadow .popover-tip{
        background: url(../images/popover-tip-no-boxshadow.png) no-repeat 0 bottom;
    }
    
    .oldie .popover-tip{
        zoom: 1;
    }
    
    .popover .buttons{
        margin: 0;
        padding: 0;
    }
    
    .popover .buttons a,
    .popover li button,
    .popover li a{
        background: url(../images/knop-bg.gif) repeat-x left 50% #F5F5F5;
        position: relative;
        display: block;
        margin: 0 0 6px;
        font-size: 14px;
        @include border-radius(2px);
        color: #222;
        font-weight: bold;
        line-height: 1.2;
        outline: 0 none;
        text-align: center;
        text-decoration: none;
        padding: 8px 0;
        width:100%;
    }
    
    .popover .buttons a:hover,
    .popover li button:hover,
    .popover li a:hover{
        background: rgb(109,179,242);
        @include background(linear-gradient(top,  rgb(109,179,242) 0%,rgb(84,163,238) 50%,rgb(54,144,240) 51%,rgb(30,105,222) 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
        color: #fff;
        cursor: pointer;
    }
    
    .popover .buttons a:active,
    .popover li button:active,
    .popover li a:active{
        top: 1px;
    }
    
    
    
    /* @end */

/* @end */