[data-zs-pagination] {
    width: 100%;
    text-align: center;
    padding: 15px 0 5px;
}

.pagination-list {
    list-style-type: none;
	display: inline-block;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
  	border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination-list-item {
    display: inline;
    margin-right: -4px;
}

.pagination-button {
	display: inline-block;
    height: 100%;
    padding: 4px 12px;
  	line-height: 20px;
    border: 1px solid #bbb;
    border-left-width: 0;
  	background: url(../images/knop-bg.gif) repeat-x 50% 50% #ffffff;
}

.pagination-button:hover {
	background: #ddd;
}

.pagination-button-active {
	background: #ccc;
    box-shadow: inset 1px 1px 1px #bbb;
}

.pagination-button:disabled {
	color: #999999;
    cursor: default;
	background: transparent;
	opacity: 0.5;
}

.pagination-list-item:first-child > .pagination-button {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
  	-moz-border-radius-topleft: 4px;
}

.pagination-list-item:last-child > .pagination-button {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

.pagination-icon-prev,
.pagination-icon-next {
	padding: 4px;
}

.pagination-icon-prev {
	background: url(../images/pager-prev.gif) no-repeat center center;
}

.pagination-icon-next {
	background: url(../images/pager-next.gif) no-repeat center center;
}

.pagination-gap {
	display: none;
	padding-left: 4px;
	padding-right: 8px;
}

.pagination-gap-visible > .pagination-gap {
	display: inline-block;
}

.pagination-gap-visible + .pagination-list-item-page > .pagination-button  {
	border-left-width: 1px;
	margin-left: 4px;
}