// .panel-component {
// 	display: table;
// 	width: 100%;
// 	height: 100%;
// 	table-layout: fixed;
// 	@include box-sizing(border-box);
// }

// .panel {
// 	display: table-cell;
// 	border-right: 2px solid #eee;
// 	vertical-align: top;
// }

.panel-component {
	position:absolute;
	top:49px;
	left:0;
	bottom:0;
	right:0;
}

.panel {
	position: absolute;
	overflow-y:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
