.form-fieldset {
    padding: 1em 0;
}

.form-field {
    display: table;
    width:100%;
    table-layout: fixed;
    position: relative;
    border-bottom:1px solid #eee;
    padding:15px 0;
}

.form-field-description {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top:-11px;
}

.form-field-description-icon {
    width: 16px;
    height: 16px;
    &:hover{
        color:$primary-color;
    }
}

.form-field-description-message {
    display: none;
    position: absolute;
    top: -8px;
    right: 25px;
    background: white;
    padding: 7px 10px;
    z-index: 1;
    min-width: 200px;
    @include box-shadow(-1px 1px 2px rgba(0,0,0,0.15));
    border:1px solid #bbb;
    text-align: left;
    color: #333;
    font-weight: normal;
    line-height: 1.5;
    &:before{
        content:"";
        position: absolute;
        background: url(../images/dropdown-pijl.png) no-repeat 0 0;
        width:10px;
        height:17px;
        top:7px;
        right:-9px;
        z-index:10;
    }
}

.form-field-description:focus .form-field-description-message,
.form-field-description:hover .form-field-description-message {
    display: block;
}

.form-field-label {
    width: 30%;
    display: table-cell;
    vertical-align: top;
}

// .form-field-label,.form-field-value, .form-field-input{
//     padding: 0.8em 0.3em;
// }

.form-field-value, .form-field-input{
    width: 75%;
}

.form-field-value {
    display: table-cell;
    vertical-align: top;
}

.form-field-input > label{
    display: block;
}

.form-field-revert{
    display: none;
}

.form-fieldset-meta{
    border-bottom:2px solid #ccc;
    padding:0 0 15px;
}

.form-fieldset-header{
    font-weight:bold;
    font-size:1.077em;
    //padding:0 0 10px;
}

.form-fieldset-actions{
    padding:15px 0 0;
}

.form-field-button-list{
    padding:15px 0;
}

.form-action {
    display: inline-block;
    margin-right:8px !important;
}

.form-action:last-child {
    margin-right: 0 !important;
}

.form-file-upload-button > button{
    margin:0 !important;
    padding-bottom: 0.6em !important;
    padding-top: 0.6725em !important;
    @include border-radius(0);
}

.form-file-list{
    margin:0 0 8px;
    .form-file-list-item{
    list-style:none;
    padding:0 0 5px;
        .form-file-list-item-remove{
            margin:0 0 0 3px;
            background: transparent;
        }
    }
}