[data-zs-popup-menu] {
	position: relative;
}

[data-zs-popup-menu] > ul {
	display: none;
  position: absolute;
  background: white;
  top: 100%;
  right: 0;
  list-style: none;
  padding: 0;
}

[data-zs-popup-menu] > ul.popup-menu-open {
	display: block;
}

[data-zs-popup-menu].zs-popup-menu > ul {
  margin: 15px 0 0;
  min-width: 200px;
  padding: 7px 6px 0 6px;
  background: #404a4e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404a4e), color-stop(100%, #1f2426));
  background: -webkit-linear-gradient(top, #404a4e 0%, #1f2426 100%);
  background: -moz-linear-gradient(top, #404a4e 0%, #1f2426 100%);
  background: -o-linear-gradient(top, #404a4e 0%, #1f2426 100%);
  background: linear-gradient(top, #404a4e 0%, #1f2426 100%);
  z-index: 10000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  border: 1px solid #404a4e;
  & > li > button {
      background: url(../images/knop-bg.gif) repeat-x left 50% whitesmoke;
      position: relative;
      display: block;
      width: 100%;
      margin: 0 0 6px;
      font-size: 14px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      color: #222;
      font-weight: bold;
      line-height: 1.2;
      outline: 0 none;
      text-align: center;
      text-decoration: none;
      padding: 8px;
      white-space: nowrap;
      &:hover {
        background: #6db3f2;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), color-stop(100%, #1e69de));
        background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        background: linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
        color: #fff;
        cursor: pointer;
      }
      &:active {
        top: 1px;
      }
  }
  &:before{
        width: 29px;
        height: 16px;
        position: absolute;
        background: url(../images/popover-tip.png) no-repeat;
        z-index: 10001;
        top:-15px;
        right:7px;
        display: block;
        content:'';
  }
}