/* @group Block */

.block {
    padding: 1px 0 0 !important;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    background: #fff;
    @include box-shadow(0px 0px 3px #ccc);
    position: relative; }
 
    .block .blockcontent,
    .blockcontent { padding: 15px 20px; }

.header {
    font-size: 1.333em;
    font-weight: bold;
    color: #000;
    margin-bottom: 0;
    padding: 8px 8px 8px 15px;
    line-height: 1.8; }
    
.header h1{
    font-size: 1em;
}
 
.block .header {
    border-bottom: 1px solid #cdcdcd;
    background: #efefef url(../images/block-header-bg.gif) repeat-x left bottom;
    position: relative; }
 
.header.tabbed {
    background: #efeded;
    padding-left: 16px;
    padding-bottom: 8px;
    position: relative; }
 
.header .status { font-size: .666em; }
 
.flex50 { width: 49%; }
 
.block-left {
    width: 70%;
    margin-right: 2%;
    float: left; }
 
.block-sidebar {
    width: 28%;
    float: left; }
 
.block-sidebar-fixed {
    position: fixed;
    }
 
#blockvar-wrap,
.blockvar-wrap { margin-right: 305px; }
 
.blockvar { 
    width: 100%; 
    margin-bottom:20px; }
 
.block300,
.blockvar-sidebar {
    width: 280px;
    position: relative;
    margin-right: -320px;
    clear: right;
    padding-left: 20px; }
 
.blockvar-sidebar.blockvar-sidebar-fixed {
    position: fixed;
    right: 20px;
    top: 77px;
    margin-right: 0; }
 
.block300 .block,
.blockvar-sidebar .block { width: 100%; }
 
.block-minheight {
    min-height: 440px;
    height: auto !important;
    height: 440px; }
 
    .block-minheight .blockcontent { padding: 10px 20px 70px !important; }
 
.tab-interface .min-height { min-height: 400px; }

/* @end */