/* @group Guideline */

.tooltip-test-wrap {
    position: relative;
    height: 20px;
    display: inline-block;
    margin-left: -1px;
    display: none;
    z-index: 3; }
 
.tooltip-test {
    width: 180px;
    height: auto;
    position: absolute;
    background:#fffee0;
    top: 0;
    left: 6px;
    padding: 5px 10px;
    border: 1px solid #a6a6a6;
    border-color: #ddd #bbb #AAAAAA #ccc;
    z-index: 1;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    max-height: 150px;
    overflow: auto;
    overflow-x: hidden; }
 
.tooltip-test-tip {
    position: absolute;
    top:7px;
    width: 7px;
    height: 13px;
    background: url(../images/guideline-tooltip-tip.gif) no-repeat 0 0;
    z-index: 2; }
 
.tooltip-test > ul { padding: 0 0 0 15px; margin: 0; }

.tooltip-test-wrap br{ display: block; }

.icon_close {
    background: #fff url(../images/icon-close.png) no-repeat 4px 4px;
    border: 1px solid #777;
    width: 8px;
    height: 8px;
    top: -7px;
    right: -7px;
    padding: 4px;
    box-shadow: 1px 1px 1px #ddd;
    border-radius: 9px;
    position: absolute;
    display: none;
}

#clicked .icon_close{
    display: block;
}

.icon_close:hover{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px #999;
    border: 1px solid #555;
}

.icon_close:active{
    box-shadow: none;
    top: -6px;
}

/* @end */