/* @group Velden dossier */
.kenmerken .inner {
  padding: 10px 20px;
}

.kenmerk-groep {
  padding: 0;
  margin-top: 20px;
}

.kenmerk-groep:first-child {
  margin-top: 0px;
}

.kenmerk-groep .kenmerk-groep-titel {
  border-bottom: 2px solid #ddd;
  padding: 12px 0 8px;
}

.kenmerk-groep .kenmerk-titel {
  margin: 0px;
  font-size: 1.231em;
}

.kenmerk-groep .kenmerk-beschrijving {
  margin-bottom: 5px;
  color: #333;
  font-size: 1.077em;
  line-height: 1.7;
  font-weight: normal;
  display: block;
  margin-top: 5px;
}

.kenmerk-groep li {
  margin-left: 15px;
  list-style: circle;
}

.kenmerk-veld {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}

.kenmerk-label {
  width: 200px;
  float: left;
  margin-top: 6px;
}

.zaakdossier-afgehandeld .kenmerk-label {
  margin-top: 0;
}

.kenmerk-label-verplicht {
  font-size: 1.692em;
  line-height: .7;
  display: inline-block;
  width: 15px;
  height: 12px;
  text-align: center;
  font-style: normal;
}

.kenmerk-label-verplicht:hover {
  cursor: default;
}

.kenmerk {
  margin-left: 220px;
}

.kenmerk > ul {
  margin-left: 17px;
}

.kenmerk ul li {
  list-style-type: disc;
  line-height: 1.5;
}

.has-kenmerk-help .kenmerk {
  margin-right: 24px;
}

.kenmerk select {
  margin: 7px 0;
}

.kenmerk-help {
  position: absolute;
  right: 0;
  top: 19px;
}

.kenmerk-resultaten .kenmerk-help {
  top: 12px;
}

.kenmerk-ztc {
  opacity: 0.7;
  filter: Alpha(Opacity=70);
  display: block;
  padding: 6px 10px;
  border-top: 1px solid #ddd;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px -10px -10px;
  background: #f9f9f9;
  border-radius: 0 0 3px 3px;
}

.kenmerk-empty {
  padding: 15px 0 0;
  color: #bbb;
  font-size: 16px;
  margin: 0 0 15px;
}

.kenmerk-resultaten .kenmerk-veld {
  padding: 10px 0;
}

.kenmerk-resultaten .kenmerk {
  margin-left: 0;
}

.kenmerk-resultaten {
  margin-top: 25px;
}

/* @end */