/* @group Knop */

.knop {
    background: url(../images/knop-bg.gif) repeat-x 50% 50%;
    line-height: 1.538;
    font-weight: normal;
    @include box-shadow(0 1px 0 rgba(0,0,0,0.1));
    border: 1px solid #bbb;
    border: 1px solid rgba(0,0,0,0.25);
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,0.35);
    border-top-color: #ccc;
    border-top-color: rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 0.4em 0.615em 0.4em 0.615em;
    position: relative;
    text-decoration: none;
    color: #333;
    font-family: $font-family;
    vertical-align: middle;
    @include border-radius(2px);
    &:hover {
        border-color: #999;
        border-bottom-color: #777;
        border-color: rgba(0,0,0,0.4);
        border-bottom-color: rgba(0,0,0,0.55);
        cursor: pointer;
    }
    &[disabled="disabled"]{
        @include opacity(.5);
        &:hover{
            border-color:#ccc #bbb #999 #bbb;
            border-color:rgba(0,0,0,0.2) rgba(0,0,0,0.25) rgba(0,0,0,0.35) rgba(0,0,0,0.25);
            cursor:default;
        }
    }
}

.header > .knop{
    font-size: 0.765em;
    //line-height: 1.118;
}

.knop.knop-go{
    background: #dcee5d;
    @include background(linear-gradient(to bottom,  #dcee5d 0%,#dcee5d 45%,#c8da49 56%,#c8da49 100%));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcee5d', endColorstr='#c8da49',GradientType=0 );
    padding: 0 6px;
}

input.knop {
    padding-left: 28px;
    overflow: hidden;
    line-height: 1;
    background: url(../images/knop-bg.gif) repeat-x 50% 50% !important;
}

.ie8 .knop,
.ie8 input.knop { padding-left: 8px; }
 
.knop.mini, .knop.knop-mini {
    padding-top: 0;
    padding-bottom: 0;
}
 
.knop.medium,
.knop.knop-medium {
    padding: 4px 10px 4px 26px;
}

.ie8 .knop.medium { padding-left: 10px; }
 
.knop.groot {
    padding: 6px 12px 6px 28px;
    background: url(../images/knop-bg-large.gif) repeat-x 50% 50%;
}
 
.knop.no-icon { padding-left: 8px; }
 
.knop.with-icon { padding-left: 30px; }
 
.knop.no-icon.medium { padding-left: 10px; }
 
.knop.no-icon.groot { padding-left: 12px; }
 
.knop.margin-top,
.knop.knop-margin-top { margin-top: 10px; }
 
.knop.right { margin-left: 5px; }
 
.knop.in-header,
.knop.knop-in-header {
    position: absolute;
    top: 8px;
    right: 10px;
    &:active{
        top:9px;
    }
}
 
.knop.float {
    float: left;
    margin-right: 7px;
}
 
.knop

/*.knop:focus{
    background: #c5ff6a;
}*/
 
.knop:active {
    border-color: #bbb;
    top: 1px;
    @include box-shadow(none);
}
 
.knop.voeg-toe { background: url("../images/icon-voegtoe.png") no-repeat scroll 6px center,url(../images/knop-bg.gif) repeat-x 50% 50% !important; }
 
.knop.voeg-toe-span span { background: url("../images/icon-voegtoe.png") no-repeat scroll center center !important; }

.ie8 .knop.voeg-toe { background: url(../images/knop-bg.gif) repeat-x 50% 50%; }
 
.knop.opslaan { background: url("../images/icon-save.png") no-repeat scroll 8px center,url(../images/knop-bg.gif) repeat-x 50% 50% !important; }
 
.knop.bewerk { background: url("../images/icon-mini-bewerk.png") no-repeat scroll 8px center,url(../images/knop-bg.gif) repeat-x 50% 50% !important; }
 
.knop.geen-tekst {
    height: 14px;
    padding: 1px 8px;
    background: url("../images/icon-voegtoe.png") no-repeat scroll 3px center,url(../images/knop-bg.gif) repeat-x 50% 50%;
}
 
.knop.icon-magnifier { background: url(../images/icon-magnifier.png) no-repeat center center, url(../images/knop-bg.gif) repeat-x 50% 50%; }

.ie8 .knop span{
    display: none;
}

.ie8 .knop.with-span-icon { padding-left: 28px !important; }

.knop-bootstrap{
    padding:  3px 8px 3px 8px;
    text-align: center;
}

.knop-bootstrap.knop-medium{
    padding: 4px 8px 4px 8px;
}

.knop-bootstrap > .icon,
.knop-text > .icon,
.has-icon > .icon{
    line-height: 16px;
    vertical-align: text-top;
}



/* @end */