/* @group Login */


#login .login-bg{
    background: url(../images/login-bg.png) no-repeat 0 0;
    width: 413px;
    height: 119px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -206px;
    margin-top: 47px;
}

#login .login_maincontainer{
    background:#edf3f6;
    width:260px;
    height:260px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-130px;
    margin-top:-130px;
    padding: 1px 0 0 0;
    border: 1px solid #bbb;
    border-bottom: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

#login #maincontainer{
    height: 260px;
    border:none;
    background: rgb(92,106,112);
    background: -moz-linear-gradient(top,  rgb(92,106,112) 0%, rgb(63,73,77) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(92,106,112)), color-stop(100%,rgb(63,73,77)));
    background: -webkit-linear-gradient(top,  rgb(92,106,112) 0%,rgb(63,73,77) 100%);
    background: -o-linear-gradient(top,  rgb(92,106,112) 0%,rgb(63,73,77) 100%);
    background: -ms-linear-gradient(top,  rgb(92,106,112) 0%,rgb(63,73,77) 100%);
    background: linear-gradient(top,  rgb(92,106,112) 0%,rgb(63,73,77) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6a70', endColorstr='#3f494d',GradientType=0 );
    border-radius: 6px;
}

.ie9 #login .login_maincontainer{
    border-radius:0;
}

#login #contentcolumn {
    margin-top:0;
    float:none;
}

#login #loginwrap{
    width:100%;
    margin:0 auto;
}

#login #contentwrapper{margin:0;}
#login .block{
    background: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#login .block .blockcontent{ padding: 0 15px !important; }

#login #topsection{
    height:92px;
    box-shadow: none;
    position: static;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    background: none;
    filter: none;
}

.ie9 #login #topsection{ filter: none; }

#login #topsection .branding,
#login #topsection .branding a{
    width: 100%;
    margin: 0;
    height: 92px; }

#login #topsection .branding a{
    width: 100%;
    margin: 0; }

#login input.inloggen{ margin:10px auto 0;}

#login .sysmessage{
    width:230px;
    margin: 15px auto 0;
}

#login .sysmessage li{
    border-color:red;
    background:#fcd6d6;
    margin-bottom:0;
}

#login #loginwrap .block{
    border:none;
    margin-bottom:0;
    -webkit-box-shadow: 0 0 0 #fff;
    -moz-box-shadow:  0 0 0 #fff;
    box-shadow:  0 0 0 #fff;
}

#login #loginwrap .block .header{display:none;}
#login #loginwrap .block .blockcontent{padding:15px;}

#login .input_gebruiker{
    background: url(../images/icon-aanvrager-kleur.png) no-repeat 10px center #fff;
}

#login .input_ww{
    background: url(../images/icon-key.png) no-repeat 10px center #fff;
}

#login #contentwrapper{
    padding:0 !important;
}

#login .button140{
    width: 100%;
    background: rgb(119,125,129);
    background: -moz-linear-gradient(top,  rgba(119,125,129,1) 0%, rgba(81,89,93,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,125,129,1)), color-stop(100%,rgba(81,89,93,1)));
    background: -webkit-linear-gradient(top,  rgba(119,125,129,1) 0%,rgba(81,89,93,1) 100%);
    background: -o-linear-gradient(top,  rgba(119,125,129,1) 0%,rgba(81,89,93,1) 100%);
    background: -ms-linear-gradient(top,  rgba(119,125,129,1) 0%,rgba(81,89,93,1) 100%);
    background: linear-gradient(top,  rgba(119,125,129,1) 0%,rgba(81,89,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777d81', endColorstr='#51595d',GradientType=0 );
    box-shadow: inset 0 1px 0 #8d9295,0 1px 1px rgba(0,0,0,0.08);
    border: 1px solid #333b3d;
    padding: 15px 0;
    height: 42px !important;
}

#login .button140:hover{
    background: rgb(124,130,134);
    background: -moz-linear-gradient(top,  rgba(124,130,134,1) 0%, rgba(87,96,101,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,130,134,1)), color-stop(100%,rgba(87,96,101,1)));
    background: -webkit-linear-gradient(top,  rgba(124,130,134,1) 0%,rgba(87,96,101,1) 100%);
    background: -o-linear-gradient(top,  rgba(124,130,134,1) 0%,rgba(87,96,101,1) 100%);
    background: -ms-linear-gradient(top,  rgba(124,130,134,1) 0%,rgba(87,96,101,1) 100%);
    background: linear-gradient(top,  rgba(124,130,134,1) 0%,rgba(87,96,101,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c8286', endColorstr='#576065',GradientType=0 );
}

#login .button140:active{
    background: rgb(60,67,70);
    background: -moz-linear-gradient(top,  rgba(60,67,70,1) 0%, rgba(88,93,96,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,67,70,1)), color-stop(100%,rgba(88,93,96,1)));
    background: -webkit-linear-gradient(top,  rgba(60,67,70,1) 0%,rgba(88,93,96,1) 100%);
    background: -o-linear-gradient(top,  rgba(60,67,70,1) 0%,rgba(88,93,96,1) 100%);
    background: -ms-linear-gradient(top,  rgba(60,67,70,1) 0%,rgba(88,93,96,1) 100%);
    background: linear-gradient(top,  rgba(60,67,70,1) 0%,rgba(88,93,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c4346', endColorstr='#585d60',GradientType=0 );
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.2);
}

/** input wrapper */

.input-wrapper {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 0 12px;
    line-height: 18px;
    vertical-align: middle;
}

.input-wrapper input.text {
    z-index: 2;
    margin: 0;
    border: 0;
    background: transparent;
    *background: url(http://hunch.com/media/img/t.png); /* ie7 does weird stuff with transparent background, also please don't deep link to this image from your code */
    padding: 10px 10px 10px 35px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 14px;
    width: 185px;
}

.input-wrapper label {
    z-index: 1;
    position: absolute;
    height: 16px;
    padding: 10px 10px 10px 37px;
    font-size: 14px;
    line-height: 16px;
    color: #999;
    overflow: hidden;
}

.input-wrapper.focus label {
    filter:alpha(opacity=40);
    opacity: 0.4;
}

.input-wrapper.filled label {
    display: none;
}

/* @end */