$base-font-size:13px;
$font-family: 'helvetica neue',helvetica,arial,sans-serif;
$background-color:#f1f1f1;
$primary-color: #45525a;
$secondary-color: #cbdd22;
$text-color:#333;
$anchor-hover-color:#11449e;
$breakpoint: 1024px;