.spotenlighter{
    z-index: 1;
    position: relative;
}

.spotenlighter .spotenlighter-input{
    padding: 8px 0 9px 0;
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -305px;
    text-align: center;
}

.spotenlighter .ui-autocomplete-input{
    background: rgba(0, 0, 0, 0.2) url(../images/spotenlighter-vergrootglas.png) no-repeat right 50%;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    height: auto;
    padding: 6px 8px;
    width: 200px;
    -webkit-transition:width 100ms ease-in;  
    -moz-transition:width 100ms ease-in;  
    -o-transition:width 100ms ease-in;  
    transition:width 100ms ease-in;
}

.no-rgba .spotenlighter .ui-autocomplete-input{
    background: #3f484c url(../images/spotenlighter-vergrootglas.png) no-repeat right 50%;
    border: 1px solid #252b2e !important;
    box-shadow: 0 1px 0 #697275, 0 1px 1px #3e494d inset;
    color: #8b9193;
}

.no-boxshadow .spotenlighter .spotenlighter-input-wrap{
    border-bottom: 1px solid #697275;
    width: 218px;
}

.ie8 .spotenlighter .spotenlighter-input-wrap{
    height: 32px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.ie8 .spotenlighter .focus.spotenlighter-input-wrap,
.ie8 .spotenlighter .spotenlighter-input-active .spotenlighter-input-wrap{
    margin-left: -258px;
}

.ie8 .spotenlighter .spotenlighter-input{
    height: 39px;
}

.ie8 .spotenlighter-input-wrap.focus,
.ie8 .spotenlighter .spotenlighter-input-active .spotenlighter-input-wrap{
    width: 516px;
}

.no-boxshadow .spotenlighter .focus .spotenlighter-input-wrap{
    width: 516px;
}

.oldie .spotenlighter .ui-autocomplete-input{
    display: block;
}

.spotenlighter .ui-autocomplete-input:focus,
.spotenlighter .focus .ui-autocomplete-input{
    border:1px solid #3F494D !important;
    width:500px;
    box-shadow: none !important;
    background: #fff url(../images/spotenlighter-vergrootglas.png) no-repeat right 50%;
    color: #333;
}

.spotenlighter .ui-autocomplete-input:hover{
    border-color: #000 !important;
}

.spotenlighter .spotenlighter-input-active .ui-autocomplete-input,
.spotenlighter .spotenlighter-input-active .ui-autocomplete-input:hover{
    border-color: #393f41 !important;
    background: #fff;
    color: #000;
    width: 500px;
}

.spotenlighter .spotenlighter-input-active{
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 3px rgba(0, 0, 0, 0.7);
    background: rgb(139,158,157);
    background: -moz-linear-gradient(top,  rgb(139,158,157) 0%, rgb(72,85,86) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(139,158,157)), color-stop(100%,rgb(72,85,86)));
    background: -webkit-linear-gradient(top,  rgb(139,158,157) 0%,rgb(72,85,86) 100%);
    background: -o-linear-gradient(top,  rgb(139,158,157) 0%,rgb(72,85,86) 100%);
    background: -ms-linear-gradient(top,  rgb(139,158,157) 0%,rgb(72,85,86) 100%);
    background: linear-gradient(top,  rgb(139,158,157) 0%,rgb(72,85,86) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b9e9d', endColorstr='#485556',GradientType=0 );
}

.no-rgba .spotenlighter-input-active{
    box-shadow: inset 0 1px 0 #bddbf3;
}

.no-boxshadow .spotenlighter-input-active{
    border-top: 1px solid #bddbf3;
}

.betrokkene .adres, .betrokkene .burgerservicenummer {
    font-size: smaller;
    color: gray;
}

.ui-autocomplete-spotenlighter-betrokkene {
    position: fixed;
}

.ui-autocomplete-spotenlighter .spotenlighter-results-category{
    display:block;
    width: 140px;
    text-align: right;
    color: #bbb;
    font-weight: bold;
    position: absolute;
    line-height: 1.9;
    z-index: 1;
    padding-right: 9px;
}

.ui-autocomplete-spotenlighter .spotenlighter-results-category:hover{}

.ui-menu .ui-menu-item a small{
    color: #bbb;
    font-size: 0.846em;
    padding-bottom: 0.2em;
    display: block;
    line-height: 1.5;
}

.ui-menu .ui-menu-item a .betrokkene small{
    color: #888;
}

.ui-menu.ui-autocomplete-spotenlighter{
    background: url(../images/nieuwe_zaak_starten_bg.gif) repeat-y -200px 0 #fff;
    max-height:400px;
    border-top: none;
    z-index: 4 !important;
    position: fixed;
    top: 50px !important;
}

.ie7 .ui-menu.ui-autocomplete-spotenlighter{
    position: absolute;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-hover,
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-active {
    background: rgba(0,0,0,0.6);
    color: #fff;
}

.no-rgba .ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-hover,
.no-rgba .ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-active {
    background: #5C6A70;
}

.ui-autocomplete-spotenlighter .extra_space{
    padding: 5px;
    height: 1px;
    display: block;
    float: left;
    clear: left;
}

.ui-autocomplete span.naam{
    line-height: 1.4;
    display: block;
    font-weight: bold;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category div{
    display: inline-block;
    float: right;
    border: 1px solid transparent;
    padding: 0 8px;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category span{
    padding: 0 8px;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category:hover div{
    color: #000;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(247,247,247) 50%, rgb(242,242,242) 52%, rgb(237,237,237) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(50%,rgb(247,247,247)), color-stop(52%,rgb(242,242,242)), color-stop(100%,rgb(237,237,237)));
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(247,247,247) 50%,rgb(242,242,242) 52%,rgb(237,237,237) 100%);
    background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(247,247,247) 50%,rgb(242,242,242) 52%,rgb(237,237,237) 100%);
    background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(247,247,247) 50%,rgb(242,242,242) 52%,rgb(237,237,237) 100%);
    background: linear-gradient(top,  rgb(255,255,255) 0%,rgb(247,247,247) 50%,rgb(242,242,242) 52%,rgb(237,237,237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    border: 1px solid #888;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category:hover div:active{
    background: rgb(206,206,206);
    background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(235,235,235,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(235,235,235,1)));
    background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%);
    background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%);
    background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%);
    background: linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ebebeb',GradientType=0 );
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.spotenlighter-input .icon-cancel-search{
    display: none;
    width: 18px;
    height: 18px;
    background: url(../images/icon-cancel-search.png) no-repeat 0 0 !important;
    position: absolute;
    right: 55px;
    top: 50%;
    margin-top: -10px;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item{
    position: relative;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user:hover{
    background-color: #aaa;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user:active{
    background-color: #222;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user{
    display: none;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .ui-state-hover .start-persistent-user{
    display:block
}

.ui-menu .ui-menu-item .actions-nav{
    display: none;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .actions-nav{
    box-shadow: none;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -19px;
    display: none;
    border: 1px solid #444;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .ui-state-hover .actions-nav{
    display: block;
}