{% macro actiontypetemplate -%}
	data-zs-popup="'/html/case/action-form-template.html'"
	data-ng-click="!closed&&openPopup()"
	data-zs-title="<[action.description]>"
{%- endmacro %}

{% macro actiontypeemail -%}
	data-zs-popup="'/html/case/email-attachment-form.html'"
	data-ng-click="!closed&&openPopup()"
	data-ng-init="context='actions'"
	data-zs-title="<[action.description]>"
{%- endmacro %}

{% macro actiontypeother -%}
	href="<[action.url]>"
	data-zs-title="<[action.description]>"
	data-ng-class="{ 'ezra_dialog': !closed }"
{%- endmacro %}

{% macro actioncontent type url %}
	<div class="case-action-info case-action-<[action.type]>" 
	{% if type === 'template' %} 
		{{ actiontypetemplate }} 
	{% else if type == 'email' %}
		{{ actiontypeemail }}
	{% else %} 
		{{ actiontypeother }} 
	{% endif %}>
		<div class="case-action-icon"></div>
		<strong><[action.label]></strong>
		<br/>
		<span><[action.data.description]></span>
	</div>
	<div class="case-action-state">
		<input type="checkbox" data-ng-disabled="isDisabled(action)" data-ng-model="action.automatic" data-ng-click="handleCheckboxClick($event)" data-ng-change="updateItem(action)" data-zs-title="<[(isDisabled(action)&&!closed)&&'%%In de laatste fase kan een deelzaak niet automatisch worden gestart.%%'||'%%Aangevinkte acties worden automatisch uitgevoerd bij het afronden van de fase%%']>"/>
	</div>
	<button data-ng-show="action.tainted" data-ng-click="resetAction($event, action)" class="icon-font-awesome icon-lock" data-zs-title="%%Actie kan niet door regels worden beïnvloed. Klik om vrij te geven.%%"></button>
{% endmacro %}

<ul data-ng-class="{ 'fase-afgerond': closed }">
	<li class="dossier-sidebar-item case-action" data-ng-class="{ 'action-disabled': isDisabled(action) }" data-ng-repeat="action in actions" data-ng-include="'/html/case/action-type-' + ((action.type == 'email' || action.type == 'template') && action.type || 'other') + '.html'">
	</li>
</ul>

<script type="text/ng-template" id="/html/case/action-type-template.html">
	{{ actioncontent('template') }}
</script>

<script type="text/ng-template" id="/html/case/action-type-email.html">
	{{ actioncontent('other') }}
</script>

<script type="text/ng-template" id="/html/case/action-type-other.html">
	{{ actioncontent('other') }}
</script>

<script type="text/ng-template" id="/html/case/action-form.html">
	<div data-zs-modal data-ng-init="title=action.label">
		<div data-ng-include="action.url">
		</div>
	</div>
</script>

<script type="text/ng-template" id="/html/case/action-form-template.html">
	<div data-zs-modal data-ng-init="title=action.label">
		<form name="templateForm" class="doc-template-form" data-ng-controller="nl.mintlab.case.CaseTemplateController">
			
			<div class="new-entity-options-row">
				<div class="new-entity-options-label">%%Naam%%</div>
				<div class="new-entity-options-field">
					<input type="text" data-ng-model="filename" data-ng-required="true" class="large300"/>
					<span><['.' + targetFormat]></span>
				</div>
			</div>
			
			<div class="new-entity-options-row" data-ng-show="caseDocs.length">
				<div class="new-entity-options-label">%%Zaakdocument%%</div>
				<div class="new-entity-options-field">
					<select data-ng-model="caseDocument" data-ng-options="(caseDoc.label||caseDoc.bibliotheek_kenmerken_id.naam) for caseDoc in caseDocs">
						<option value="">%%Geen%%</option>
					</select>
				</div>
			</div>
			
			<div class="new-entity-options-row">
				<div class="new-entity-options-label">%%Opslagformaat%%</div>
				<div class="new-entity-options-field">
					<label>
						<input type="radio" data-ng-model="targetFormat" value="odt"/>
						odt
					</label>
					<label>
						<input type="radio" data-ng-model="targetFormat" value="pdf"/>
						pdf
					</label>
				</div>
			</div>
			
			<button data-ng-disabled="templateForm.$invalid||action.automatic" data-ng-click="useTemplate()" class="button140 right">
				%%Aanmaken%%
			</button>
			<button data-ng-disabled="templateForm.$invalid" data-ng-click="saveTemplate()" class="button140 right">
				%%Opslaan%%
			</button>
		</form>
	</div>
</script>
