[% IF !ezra_id %]
    ERROR: need ezra_id
    [% RETURN %]
[% END %]
[% IF !input_name %]
    ERROR: need input_name
    [% RETURN %]
[% END %]

<tr id="[% ezra_id %]" style="[% my_display %]">
	<td class="td-label">
		<span>[% label %]</span>
	</td>
	<td>
		<div class="ezra_objectsearch_betrokkene zoek_veld">
	        <div class="search_wrap">
                <input type="text" name="betrokkene_naam" 
                    class="input_large searchbox ezra_id_medewerker_naam" value="[% contact_betrokkene_naam %]"
                    placeholder="Typ hier uw zoekterm" rel="default_betrokkene_type:[% default_betrokkene_type %]" />
    			<span class="icon icon-cancel-search" style="display: none; ">Close</span>
    		</div>
			<a href="#" title="Zoek een nieuwe aanvrager"
					class="ezra_betrokkene_selector knop knop-bootstrap"
				rel="betrokkene_type: medewerker;
				selector_identifier: #[% ezra_id %] input[name='[% input_name %]'];
				selector_naam: #[% ezra_id %] input[name='betrokkene_naam'];"
				>
    				<i class="icon-magnifier icon"></i>
				</a>
			<span class="error"></span>
			<input
                type="hidden"
                name="[% input_name %]"
                class="aanvragers"
                value="[% contact_betrokkene_id %]"
            />
		</div>
	</td>
	<td>
	    [% PROCESS widgets/general/validator.tt %]
	    [% PROCESS widgets/general/tooltip.tt
	        message = 'Selecteer een ' _ (tooltip_label || 'betrokkene') _ '. 
				Vul delen van de naam of het adres, burgerservicenummer of KVK nummer in
				totdat de gezochte betrokkene verschijnt.'
		%]
	</td>
</tr>
