<div data-ng-controller="nl.mintlab.core.crud.CrudInterfaceController" class="crud">
	
	<div class="crud-filters" data-ng-show="filters.length" data-zs-form-template-parser="<[getFormConfig()]>">
		
	</div>
	
	<table data-ng-controller="nl.mintlab.core.crud.CrudTableController" class="crud-table">

		<thead data-ng-class="{ 'crud-hidden': hasVisibleActions() }" class="crud-header">
			<tr class="crud-table-head-row">
				<th class="crud-table-select-cell" data-ng-show="options.select!='none'">
					<input type="checkbox" data-ng-click="handleSelectAllClick(e$vent)" data-ng-checked="isAllSelected(item)"/>
				</th>

				<th class="crud-table-column-header crud-table-column-header-<[column.id]>" data-ng-repeat="column in columns">
					<button data-ng-click="sortOn(column)">
						<span class="column-label"><[column.label]></span>
						<span class="column-sort-asc column-sort" data-ng-show="isSortedOn(column)&&reversed">&#9650;</span>
						<span class="column-sort-desc column-sort" data-ng-show="isSortedOn(column)&&!reversed">&#9660;</span>
					</button>
				</th>
			</tr>
		</thead>

		<thead data-ng-class="{ 'crud-hidden': !hasVisibleActions() }" class="crud-actions">
			<tr class="crud-table-head-row">
				<th class="crud-table-select-cell" data-ng-show="options.select!='none'">
					<input type="checkbox" data-ng-click="handleSelectAllClick($event)" data-ng-checked="isAllSelected()"/>
				</th>
				<th class="crud-table-action-cell" colspan="<[columns.length+1]>">
					<ul data-ng-include="'/html/core/crud/action-menu.html'">
					</ul>
				</th>
				
			</tr>
		</thead>
		
		<thead data-ng-class="{ 'crud-hidden': !(isAllSelected() && numPages > 1) }">
			<tr class="crud-table-head-row">
				<th class="crud-table-select-cell" colspan="<[columns.length]>">
					<div class="crud-select-all">
						<span data-ng-show="selectionType=='subset'">Alleen de objecten op deze pagina zijn geselecteerd. <button class="crud-select-all-button" data-ng-click="setSelectionType('all')">Selecteer alle <[numRows]> objecten.</button></span>
						<span data-ng-show="selectionType=='all'">Alle <[numRows]> objecten zijn geselecteerd. <button class="crud-select-all-button" data-ng-click="setSelectionType('subset')">Selecteer alleen de objecten op deze pagina.</button></span>
					</div>
				</th>
			</tr>
		</thead>

		<tbody data-zs-selectable-list="options.select!=='none'">
			<tr class="crud-table-item-row <[isSelected(item) && 'crud-table-item-row-selected'||'']>" data-ng-class="getItemStyle(item)" data-ng-repeat="item in items" data-zs-selectable data-zs-select-data="item" data-zs-contextmenu="hasVisibleActions()&&'/html/core/crud/context-menu.html'||''" data-ng-click="handleTableRowClick(item, $event)">
				<td class="crud-table-item-cell crud-table-select-cell" data-ng-show="options.select!='none'">
					<input type="checkbox" data-ng-checked="isSelected(item)"/>
				</td>
				<td class="crud-table-item-cell crud-table-value-cell crud-table-value-cell-<[column.id]>" data-ng-repeat="column in columns">
					<div data-zs-template="<[getColumnTemplate(column, item)]>">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="crud-pagination" data-zs-pagination data-zs-pagination-current="<[currentPage]>" data-zs-pagination-total="<[numPages]>">
	</div>

</div>

<script type="text/ng-template" id="/html/core/crud/action-menu.html">
	<li class="crud-action" data-ng-repeat="action in actions" data-ng-include="'/html/core/crud/action-type-' + action.type + '.html'" data-ng-show="<[action.when||'true']>">
	</li>
</script>

<script type="text/ng-template" id="/html/core/crud/action-type-delete.html">
	<button data-ng-click="handleActionClick(action, $event)">
		<[action.label]>
	</button>
</script>

<script type="text/ng-template" id="/html/core/crud/action-type-update.html">
	<button data-ng-click="handleActionClick(action, $event)">
		<[action.label]>
	</button>
</script>

<script type="text/ng-template" id="/html/core/crud/action-type-download.html">
	<button data-ng-click="handleActionClick(action, $event)">
		<[action.label]>
	</button>
</script>

<script type="text/ng-template" id="/html/core/crud/action-type-popup.html">
	<button data-zs-popup="'/html/core/crud/popup-modal.html'" data-ng-click="openPopup()">
		<[action.label]>
	</button>
</script>

<script type="text/ng-template" id="/html/core/crud/popup-modal.html">
	<div data-zs-modal data-zs-init="title=action.data.title">
		<div data-ng-include="action.data.url">
		</div>
	</div>
</script>
<script type="text/ng-template" id="/html/core/crud/context-menu.html">
	<ul class="context-menu crud-context-menu" data-ng-include="'/html/core/crud/action-menu.html'">
	</ul>
</script>