<div data-zs-modal data-ng-init="title='Handmatige upload'">
    
    <div class="manual-process" data-ng-controller="nl.mintlab.sysin.ManualProcessController">

        <div data-zs-form-template-parser="<[manualProcessForm]>">
        </div>
        
        <script type="text/zs-scope-data">
            {
                "manualProcessForm": {
                    "name": "manual-process",
                    "title": "",
                    "description": "",
                    "fieldsets": [
                        {
                            "name": "",
                            "title": "",
                            "description": "",
                            "fields": [
                                {
                                    "name": "interface",
                                    "type": "select",
                                    "data": {
                                        "options": "<[getManualUploadOptions()]>"
                                    },
                                    "required": true,
                                    "default": "<[getDefaultInterfaceId()]>"
                                },
                                {
                                    "name": "input_data",
                                    "type": "textarea",
                                    "when": "getValue('interface')&&allowUploadType(getValue('interface'), 'text')"
                                },
                                {
                                    "name": "input_file",
                                    "type": "file",
                                    "when": "getValue('interface')&&allowUploadType(getValue('interface'), 'file')",
                                    "data": {
                                        "resolve": "uuid"
                                    }
                                }
                            ]
                        }
                    ],
                    "actions": [
                        {
                            "name": "submit",
                            "type": "submit",
                            "label": "Verstuur",
                            "disabled": "!input_data&&!input_file.length",
                            "data": {
                                "url": "<[getSubmitUrl(getValue('interface'))]>",
                                "success": "closePopup()"
                            }
                        }
                    ]
                }
            }
        </script>
    </div>
    
</div>