/* @group kcc.css */

/* @group active subject */

    .kcc-bar{
        position: fixed;
        width:780px;
        z-index: 3000;
        bottom: 0px;
        left: 50%;
        margin-left: -370px;
    }
    
    .kcc-icon{
        background: url(../images/icons-kcc.png) no-repeat 0 0;
    }
    
    .kcc-icon-incoming-call{
        width: 12px;
        height: 12px;
        background-position: 0 -38px;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -6px;
    }

    .kcc-active-subject{
        width:780px;
    }
    
    .kcc-active-subject-inner{
        padding: 13px 16px 13px 78px;
        position: relative;
        background: #fffeea;
        background: -moz-linear-gradient(top,  #fffeea 0%, #fffdd0 53%, #fffdd0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffeea), color-stop(53%,#fffdd0), color-stop(100%,#fffdd0));
        background: -webkit-linear-gradient(top,  #fffeea 0%,#fffdd0 53%,#fffdd0 100%);
        background: -o-linear-gradient(top,  #fffeea 0%,#fffdd0 53%,#fffdd0 100%);
        background: -ms-linear-gradient(top,  #fffeea 0%,#fffdd0 53%,#fffdd0 100%);
        background: linear-gradient(to bottom,  #fffeea 0%,#fffdd0 53%,#fffdd0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffeea', endColorstr='#fffdd0',GradientType=0 );
        /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);*/
        border: 1px solid #babca0;
        border-bottom: none;
    }
    
    .kcc-active-subject-icon{
        width: 39px;
        height: 38px;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -19px;
    }
    
    .kcc-contact-meta{
        float: left;
        width: 490px;
        overflow: hidden;
    }
    
    .kcc-contact-more{
        white-space:nowrap;
    }
    
    .kcc-contact-name{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .kcc-active-subject-buttons{
        float: right;
        margin-top: 2px;
    }
    
    .kcc-active-subject-close{
        width: 18px;
        height: 18px;
        background: url(../images/icons-kcc.png) no-repeat 0 -138px;
        opacity: .5;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        right: 28px;
    }
    
    .kcc-active-subject-close:hover{
        opacity: 1;
    }
    
    .kcc-bar .actions-nav{
        float: right;
        background: #fcfbe7;
        background: -moz-linear-gradient(top,  #fcfbe7 0%, #f7f5d7 50%, #eae8d5 52%, #ebe9cf 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbe7), color-stop(50%,#f7f5d7), color-stop(52%,#eae8d5), color-stop(100%,#ebe9cf));
        background: -webkit-linear-gradient(top,  #fcfbe7 0%,#f7f5d7 50%,#eae8d5 52%,#ebe9cf 100%);
        background: -o-linear-gradient(top,  #fcfbe7 0%,#f7f5d7 50%,#eae8d5 52%,#ebe9cf 100%);
        background: -ms-linear-gradient(top,  #fcfbe7 0%,#f7f5d7 50%,#eae8d5 52%,#ebe9cf 100%);
        background: linear-gradient(to bottom,  #fcfbe7 0%,#f7f5d7 50%,#eae8d5 52%,#ebe9cf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbe7', endColorstr='#ebe9cf',GradientType=0 );
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
    
    .kcc-bar .actions-nav > button:active,
    .kcc-bar .actions-nav > button.active,
    .kcc-bar .actions-nav > a:active,
    .kcc-bar .actions-nav > a.active{
        background: #e8df96;
        background: -moz-linear-gradient(top,  #e8df96 0%, #f7f5c5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8df96), color-stop(100%,#f7f5c5));
        background: -webkit-linear-gradient(top,  #e8df96 0%,#f7f5c5 100%);
        background: -o-linear-gradient(top,  #e8df96 0%,#f7f5c5 100%);
        background: -ms-linear-gradient(top,  #e8df96 0%,#f7f5c5 100%);
        background: linear-gradient(to bottom,  #e8df96 0%,#f7f5c5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8df96', endColorstr='#f7f5c5',GradientType=0 );
        box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25),0 1px 1px rgba(0, 0, 0, 0.2) inset;
    }
    
    .actions-nav .actions-nav-cancel > .nav-icon{background-position: -144px 0;}
    
    .actions-nav > button.actions-nav-cancel{
        background: #ff9883;
        background: -moz-linear-gradient(top,  #ff9883 0%, #ff9883 48%, #f28b76 52%, #f28b76 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9883), color-stop(48%,#ff9883), color-stop(52%,#f28b76), color-stop(100%,#f28b76));
        background: -webkit-linear-gradient(top,  #ff9883 0%,#ff9883 48%,#f28b76 52%,#f28b76 100%);
        background: -o-linear-gradient(top,  #ff9883 0%,#ff9883 48%,#f28b76 52%,#f28b76 100%);
        background: -ms-linear-gradient(top,  #ff9883 0%,#ff9883 48%,#f28b76 52%,#f28b76 100%);
        background: linear-gradient(to bottom,  #ff9883 0%,#ff9883 48%,#f28b76 52%,#f28b76 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9883', endColorstr='#f28b76',GradientType=0 );
        box-shadow: -1px 0 0 rgba(0, 0, 0, 0.45), inset 0 1px 0 rgba(255,255,255,0.4);
    }
    
    .actions-nav > button.actions-nav-cancel:hover,
    .actions-nav > button.actions-nav-cancel.hover{
        background: #ffa593;
        background: -moz-linear-gradient(top,  #ffa593 0%, #ffa593 48%, #ed9484 52%, #ed9484 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa593), color-stop(48%,#ffa593), color-stop(52%,#ed9484), color-stop(100%,#ed9484));
        background: -webkit-linear-gradient(top,  #ffa593 0%,#ffa593 48%,#ed9484 52%,#ed9484 100%);
        background: -o-linear-gradient(top,  #ffa593 0%,#ffa593 48%,#ed9484 52%,#ed9484 100%);
        background: -ms-linear-gradient(top,  #ffa593 0%,#ffa593 48%,#ed9484 52%,#ed9484 100%);
        background: linear-gradient(to bottom,  #ffa593 0%,#ffa593 48%,#ed9484 52%,#ed9484 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa593', endColorstr='#ed9484',GradientType=0 );
    }
    
    .actions-nav > button.actions-nav-cancel:active,
    .actions-nav > button.actions-nav-cancel.active{
        background: #e87766;
        background: -moz-linear-gradient(top,  #e87766 0%, #ff947f 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e87766), color-stop(100%,#ff947f));
        background: -webkit-linear-gradient(top,  #e87766 0%,#ff947f 100%);
        background: -o-linear-gradient(top,  #e87766 0%,#ff947f 100%);
        background: -ms-linear-gradient(top,  #e87766 0%,#ff947f 100%);
        background: linear-gradient(to bottom,  #e87766 0%,#ff947f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e87766', endColorstr='#ff947f',GradientType=0 );
    }
    
    .actions-nav .actions-nav-accept > .nav-icon{background-position: -160px 0;width: 20px;margin-left: -10px;}
    
    .actions-nav > button.actions-nav-accept{
        background: #cfdd61;
        background: -moz-linear-gradient(top,  #cfdd61 0%, #cfdd61 48%, #c2d054 53%, #c2d054 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfdd61), color-stop(48%,#cfdd61), color-stop(53%,#c2d054), color-stop(100%,#c2d054));
        background: -webkit-linear-gradient(top,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        background: -o-linear-gradient(top,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        background: -ms-linear-gradient(top,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        background: linear-gradient(to bottom,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfdd61', endColorstr='#c2d054',GradientType=0 );
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
    }
    
    .actions-nav > button.actions-nav-accept:hover,
    .actions-nav > button.actions-nav-accept.hover{
        background: #d7e56e;
        background: -moz-linear-gradient(top,  #d7e56e 0%, #d7e56e 48%, #cad861 53%, #cad861 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7e56e), color-stop(48%,#d7e56e), color-stop(53%,#cad861), color-stop(100%,#cad861));
        background: -webkit-linear-gradient(top,  #d7e56e 0%,#d7e56e 48%,#cad861 53%,#cad861 100%);
        background: -o-linear-gradient(top,  #d7e56e 0%,#d7e56e 48%,#cad861 53%,#cad861 100%);
        background: -ms-linear-gradient(top,  #d7e56e 0%,#d7e56e 48%,#cad861 53%,#cad861 100%);
        background: linear-gradient(to bottom,  #d7e56e 0%,#d7e56e 48%,#cad861 53%,#cad861 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e56e', endColorstr='#cad861',GradientType=0 );
        
    }
    
    .actions-nav > button.actions-nav-accept:active,
    .actions-nav > button.actions-nav-accept.active{
        background: #bbce12;
        background: -moz-linear-gradient(top,  #bbce12 0%, #cfdd61 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbce12), color-stop(100%,#cfdd61));
        background: -webkit-linear-gradient(top,  #bbce12 0%,#cfdd61 100%);
        background: -o-linear-gradient(top,  #bbce12 0%,#cfdd61 100%);
        background: -ms-linear-gradient(top,  #bbce12 0%,#cfdd61 100%);
        background: linear-gradient(to bottom,  #bbce12 0%,#cfdd61 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbce12', endColorstr='#cfdd61',GradientType=0 );
        
    }

/* @end */


/* @group incoming call */

    .kcc-incoming-calls{
        margin-left: 1px;
    }
    
    .kcc-call{
        font-size: 11px;
        float: left;
        border: 1px solid #acacac;
        padding: 5px 15px;
        font-weight: bold;
        position: relative;
        z-index: 1;
        bottom: -1px;
        margin-left: -1px;
        background: #fffcad;
    }
    
    .kcc-call:hover{
        cursor: pointer;
        z-index: 1;
        position: relative;
    }
    
    .kcc-call.kcc-call-active{
        border-bottom: none;
        bottom: -1px;
        padding: 5px 15px 6px;
        background: #ffffea;
    }
     
    .kcc-call.kcc-call-subject .kcc-icon-incoming-call{
        display: none;
    }
    
    .kcc-call.kcc-call-incoming.kcc-call-active:hover{
        background: #ffffea;
        border-color: #acacac;
    }

    .kcc-call.kcc-call-incoming{
        padding-left:32px;
    }
    
    .kcc-call.kcc-call-incoming:hover{
        background: #fffb92;
        
        border-color: #777;
        border-bottom-color: #acacac;
    }
    
    .kcc-incoming-call{
        border: 1px solid #babca0;
        border-bottom: none;
        width: 550px;
        left: 50%;
        margin-left: -275px;
        padding: 0 0 0 100px;
        display: table;
        vertical-align: middle;
        height: 100px;
    }
    
    .kcc-incoming-call-icon{
        background-position: 0 -38px;
        width: 53px;
        height: 53px;
        position: absolute;
        left: 25px;
        top: 50%;
        margin-top: -26px;
        vertical-align: middle;
    }
    
    .kcc-incoming-call-subject{
        font-size: 16px;
        display: table-cell;
        vertical-align: middle;
        width: 405px;
        line-height: 43px;
        height: 43px;
        float: left;
    }
    
    .kcc-incoming-call-subject > span{
        opacity: .8;
    }
    
    .kcc-incoming-call-buttons{
        display: table-cell;
        vertical-align:middle;
        width: 145px;
    }
    
    .kcc-incoming-call-buttons button{
        width: 53px;
        height: 49px;
        margin-left: 7px;
        text-indent: -9999px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.18);
        padding: 0;
        position: relative;
    }

    
    .kcc-incoming-call-buttons .btn-accept{
        background: #cfdd61;
        background: -moz-linear-gradient(top,  #cfdd61 0%, #cfdd61 48%, #c2d054 53%, #c2d054 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfdd61), color-stop(48%,#cfdd61), color-stop(53%,#c2d054), color-stop(100%,#c2d054));
        background: -webkit-linear-gradient(top,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        background: -o-linear-gradient(top,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        background: -ms-linear-gradient(top,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        background: linear-gradient(to bottom,  #cfdd61 0%,#cfdd61 48%,#c2d054 53%,#c2d054 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfdd61', endColorstr='#c2d054',GradientType=0 );
    }
    
    .kcc-incoming-call-buttons button i{
        width: 51px;
        height: 47px;
        background-position: 0 -91px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .kcc-incoming-call-buttons .btn-deny i{
        background-position:-51px -91px;
    }
    
    .kcc-incoming-call-buttons .btn-deny{
        background: #ff9883;
        background: -moz-linear-gradient(top,  #ff9883 0%, #ff9883 48%, #f28b76 53%, #f28b76 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9883), color-stop(48%,#ff9883), color-stop(53%,#f28b76), color-stop(100%,#f28b76));
        background: -webkit-linear-gradient(top,  #ff9883 0%,#ff9883 48%,#f28b76 53%,#f28b76 100%);
        background: -o-linear-gradient(top,  #ff9883 0%,#ff9883 48%,#f28b76 53%,#f28b76 100%);
        background: -ms-linear-gradient(top,  #ff9883 0%,#ff9883 48%,#f28b76 53%,#f28b76 100%);
        background: linear-gradient(to bottom,  #ff9883 0%,#ff9883 48%,#f28b76 53%,#f28b76 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9883', endColorstr='#f28b76',GradientType=0 );
    }
 
 

/* @end */

/* @end */