@import "partials/dependencies";

/* @group results tabel */

.results tbody > tr:hover{ background: #f7f7f7; }

.results{
    th{
        font-size: 13px;
        border-bottom-width: 1px;
        color: #000;
        a{
            font-weight: bold;
            text-decoration: none;
            color: #333;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    th, td{
        padding: 0.8em 0.7em;
    }
    .days_left{ width: 20px; }
    .cannot-destroy{ 
        background: #f8e0e0;
        td{ border-bottom-color: #ddd; }
    }
}

.no-results {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #bbb;
    padding: 20px 0; }

/* @end */

/* @group urgentie */
    
.urgentie_high,
.urgentie_medium,
.urgentie_low{
    padding:0 3px;
    font-weight: bold;
    color:#fff;
}

.urgentie_high{
    background:red;
}

.urgentie_medium{
    background:orange;
    color:#000;
}

.urgentie_low{
    background: #a6c91e;
}

/* @end */
    
/* @group sortering */

a.sort{
    padding-left:12px;
    background:#ddd;
    &.DESC{background:url(../images/sortDESC.gif) no-repeat left center;}
    &.ASC{background:url(../images/sortASC.gif) no-repeat left center;}
}

/* @end */

/* @group Filter */

.zaken_filter_wrapper{ position: relative; }

input.zaak_search_filter {
    background: url("../images/icon-filter.png") no-repeat scroll 7px 7px #f4f4f4;
    border-color: #bbb;
    color: #212121;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 6px 5px 24px !important;
    position: relative;
    text-decoration: none;
    @include box-shadow(0 1px 1px #E6E6E6 inset, 0 1px 0 #F8F8F8);
    width: 140px;
    height: 18px !important; 
    box-sizing:content-box;}
 
    input.zaak_search_filter:focus,
    .focus input.zaak_search_filter {
        background-color: #fff;
        border-color: #aaa;
        box-shadow: 0 0 2px #bbb;}
 
.zaken_filter_form {
    float: right;
    margin: 1px 2px 0 0;
    #spinner {
        width: 20px;
        height: 20px;
        & > div {
            top: 14px !important;
            left: 4px !important;
        }
    }
}

/* @end */
        
/* @group List Actions */

.list-actions-buttons{
    padding: 11px 20px;
    background: #fff;
    border-bottom: 1px dotted #bbb;
    .knop{
        box-shadow: none;
        padding: 4px 28px 4px 14px !important;
        color: #555 !important;
        font-size: 11px;
        margin-right: 8px;
        border-color: #ccc !important;
        font-weight: bold;
        position: relative;
        background: rgb(248,248,248);
        @include background(linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(243,243,243,1) 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f3f3f3',GradientType=0 );
        &:hover{
            box-shadow: 0 1px 1px #ddd;
            -webkit-box-shadow: 0 1px 1px #ddd;
        }
        .disabled {
            color: gray !important;
        }
        .dropdown-pijl-image{
            background: url("../images/dropdown-klein-pijl.gif") no-repeat scroll center 0 transparent;
            right: 12px;
            top: 50%;
            width: 7px;
            height: 4px;
            position: absolute;
            margin-top: -2px;
            opacity: 0.6;
        }
    }
    .knop.is_active{
        background: rgb(238,238,238);
        @include background(linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(224,224,224,1) 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e0e0e0',GradientType=0 );
        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1) inset);
        border-color: #bbb !important;
    }
    div {
        cursor: pointer;
        &.ezra_listaction {
            color: gray;
            &.enabled {
                color: black;
            }
        }
    }
}

.listactions-all-results{
    color:#666;
    display:none;
    font-style:italic;
    padding:6px 20px;
    background:#f9fccb;
    border-bottom: 1px dotted #C8C104;
}

.list-actions-results-per-page{
    display: inline-block;
    float: right;
    padding-top: 5px;
    font-weight: bold;
    font-size: 11px;
    color: #555 !important;
}
    
/* @end */
