[% USE Dumper %]

<div id="sjabloon_definitie">
<form>
<input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr %]">
<input type="hidden" name="update" value="1">
<input type="hidden" name="rownumber" value="[% rownumber %]">
<table class="table_zaakinformatie" id="sjabloon_template">
    <tbody>
        <tr>
            <td class="table_td_left_zaakinformatie">Toelichting</td>
            <td class="table_td_right_zaakinformatie">
                <textarea cols="60" rows="10" name="sjablonen_help">[% params.help %]</textarea>
            </td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Automatisch genereren:</td>
            <td class="table_td_right_zaakinformatie">
                <div>
                    <input type="hidden" name="dialog_checkboxes" value="sjablonen_automatisch_genereren" />
                    <input type="checkbox" value="1" name="sjablonen_automatisch_genereren"[% (params.automatisch_genereren ? ' checked="checked"' : '') %]> Ja
                </div>
            </td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Zaakdocument:</td>
            <td class="table_td_right_zaakinformatie">
                <select name="sjablonen_bibliotheek_kenmerken_id">
                    <option value="">Geen</option>
                    [% fields = zaaktype.statussen.$milestone_number.elementen.kenmerken %]
                    [% FOREACH field_number = fields.keys %]
                        [% field = fields.$field_number %]
                        [% Dumper.dump(field) %]
                        [% NEXT UNLESS field.type == 'file' %]
                        <option value="[% field.bibliotheek_kenmerken_id %]"
                        [% (field.bibliotheek_kenmerken_id == params.bibliotheek_kenmerken_id  ? ' selected="selected"' : '') %]>
                            [% field.naam %]
                        </option>
                    [% END %]
                </select>
            </td>
        </tr>
        <tr>
            <td class="table_td_left_zaakinformatie">Opslagformaat:</td>
            <td class="table_td_right_zaakinformatie">
                <select name="sjablonen_target_format">
                    [% valid_formats = ['odt', 'pdf'] %]
                    [% FOREACH format = valid_formats %]
                        <option value="[% format %]" [% IF params.target_format == format %]selected[% END %]>[% format FILTER upper %][% test.ucfirst %]</option>
                    [% END %]
                </select>
            </td>
        </tr>
    </tbody>
<table>
<div class="form-actions">
<input type="submit" value="Opslaan" class="button140">
</div>
</form>
</div>
