<tr
    class="ezra_table_row[% (!mresultaat ? '_template' : '') %]"
    id="ezra_table_resultaat_row_number[% (mresultaat ? '_' _ mresultaati : '') %]">
    <td class="td15 ver_center no-border drag"></td>
    <td class="td_14px tdvar">
        <input type="hidden" class="roworder" name="params.status.resultaten.mijlsort[% (mresultaat ? '.' _ mresultaati : '') %]" value="[% mresultaati %]" />
        <span class="ezra_ztb_result_resultaat">[% mresultaat.resultaat |ucfirst %]</span>
        (<span class="ezra_ztb_result_label">[% mresultaat.label %]</span>)
    </td>
    <td>
            <a
            href="[% formaction _ '/resultaat/bewerken' %]"
            class="edit ezra_table_row_edit icon icon-edit"
            title="Resultaat bewerken"
            rel="ezra_dialog_layout: large; callback: ezra_ztb_result_update"
            ></a></td>

    </td>
    <td class="td40 center"><a href="#" class="ezra_table_row_del icon-del icon"></a></td>
</tr>


