[% PROCESS widgets/kcc/incoming_call.tt %]

[%# should be automated, see #1168 %]

[% partials = [ 'spot-enlighter/case.html', 'spot-enlighter/contact.html', 'spot-enlighter/default.html', 'spot-enlighter/medewerker.html', 'spot-enlighter/case-type-document.html', 'spot-enlighter/address.html', 'spot-enlighter/street.html', 'tooltip/tooltip.html', 'popup/modal.html', 'popup/file-preview.html', 'case/case-progress.html' ] %]
[% FOREACH filename = partials %]
    <script type="text/ng-template" id="/partials/directives/[% filename %]">
        [% fullPath = 'partials/directives/' _ filename %]
        [% INCLUDE $fullPath %]
    </script>
[% END %] 

<div class="noscript-notification jshide">
    <i></i>
    <span>Javascript is uitgeschakeld. Schakel Javascript in voor een betere ervaring.</span>
</div>


[% UNLESS c.is_allowed_browser || c.user_exists %]
<div class="browser-check hide">
    <div class="browser-check-inner">
        <h1>Je gebruikt een verouderde en onveilige browser</h1>
        <p>Download een van de volgende browsers als je deze website wilt gebruiken:</p>
        <div class="browsers">
            <a href="http://google.com/chrome" class="chrome">
                <span class="icon"></span>
                <span class="text">Chrome</span>
            </a>
            <a href="http://www.mozilla.org/firefox" class="firefox">
                <span class="icon"></span>
                <span class="text">Firefox</span>
            </a>
            <a href="http://www.opera.com/" class="opera">
                <span class="icon"></span>
                <span class="text">Opera</span>
            </a>
        </div>
    </div>
</div>
[% END %]


<div id="searchdialog" class="no-padding">
    <div class="dialog-title"></div>
    <div class="dialog-content"></div>
</div>

<div id="dialog">
    <div class="dialog-title"></div>
    <div class="dialog-content"></div>
</div>

<div id="thirddialog">
    <div class="dialog-title"></div>
    <div class="dialog-content"></div>
</div>

<div class="nieuwe_zaak_starten" id="ezra_nieuwe_zaak_tooltip">
    <div class="nieuwe_zaak_starten_tip"></div>
    <div class="ezra_nieuwe_zaak_tooltip-content nieuwe_zaak_starten_content">
    </div>
    <div class="ezra_nieuwe_zaak_tooltip-hide"></div>
</div>


<div class="custom_overlay">
    <div class="custom_overlay_loader">
        <img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/images/spinner-apple.gif" alt="Een ogenblik geduld..." />
    </div>
</div>


[% IF !pip && (c.config.otap == 'dev' || c.config.otap == 'test') && c.user_exists%]
<div class="otap_warning">[% c.config.otap %]</div>
[% END %]


[% IF zaak.nr %]
<div id="zaak_id" class="[% zaak.nr %]"></div>
[% END %]

[% IF !c.user_exists && !pip %]
<div class="login-bg"></div>

<div class="login_maincontainer">
[% END %]

<!--iframe name="miframe" id="miframe"></iframe--> 

<!--object style="border: medium none; overflow: hidden;" name="miframe" id="miframe"></object-->
<!-- END Helper Diffs -->
