<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

    <html class="" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
    <title>Zaaksysteem.nl[% (page_title ? ' :: ' _ page_title : '') %]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/images/favicon.ico" />

    [%
    PREFIX_MD5 = 'zsv_' _ c.config.SVN_VERSION.replace('\.','_');
    %]

    [% PROCESS layouts/common_header_includes_css.tt %]

    [% PROCESS layouts/common_header_includes_js.tt %]

    [% 
       # WymEditor makes use of its script tag - so it will not work with the current minified solution. 
       # Also preloading these files reduces some of the lag when rendering it
     %]
    <link rel="stylesheet" type="text/css" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/js/dagobert/skin/skin.css" />
    
    

    [% IF layout_type == 'simple' %]
        <!-- Refresh na DIGID SESSIE VERLOOP -->
        <meta http-equiv="refresh" content="9000" />
    [% END %]

        <base href="/" />
    </head>
    
    [%# TODO haal 'debilt' hieronder weg %]
    <body[% (bodyid ? ' id="' _ bodyid _ '"' : '') %] class="otap_[% (c.config.gemeente_id == 'debilt' ? 'prod' : c.config.otap) %] gemeente_[% c.config.gemeente_id | lower %][% IF !pip %] intern[% END %][% (c.customer_instance.start_config.extra_body_classes ? ' ' _ c.customer_instance.start_config.extra_body_classes : '') %][% c.user_exists ? '' : ' public' %][% extra_body_class %]" data-ng-app="Zaaksysteem">



<!-- END header -->
