<!-- Container top -->
[% USE Scalar %]

[% IF layout_type != 'simple' %]
<div id="topsection">

    <h1 class="branding">
        <a href="/">Zaaksysteem</a>
    </h1>

    [% IF c.user_exists %]
    <div class="header-right">

        <div id="search" class="clearfix ezra_objectsearch spotenlighter">
            <form method="POST" action="[% c.uri_for('/objectsearch'); %]">
                <div class="spotenlighter-input clearfix ezra_objectsearch_input">
                    <label class="spotenlighter-input-wrap">
                        <input type="text" name="searchstring" class="input_large searchbox ui-autocomplete-input" placeholder="Zoeken..."/>
                    </label>
                        <span class="icon icon-cancel-search">Close</span>
                </div>
            </form>
        </div>
        
        <div class="header-menu clearfix">
                <!--div class="header-persistent-user-wrap dropdown-wrap left ezra_header_persistent_user[%
                    c.scalar.betrokkene_session
                        ? '' : ' ezra_header_persistent_user-disable' %]">
                    
                    <a href="[% c.uri_for('/betrokkene/disable_session') %]" class="ezra_betrokkene_session-deactivate icon-cancel-persistent-user"></a>
                    <a href="[% c.uri_for('/betrokkene/' _
                    c.scalar.betrokkene_session.ex_id, { gm => 1, type =>
                    c.scalar.betrokkene_session.btype }) %]" class="ezra_betrokkene_session-url header-persistent-user dropdown-init dropdown-init-hover dropdown-init-bottom header-menu-item">
                        
                        <span class="ir header-menu-item-icon">Betrokkene</span>
                    </a>

                    <div class="dropdown dropdown-bottom dropdown-tooltip">
                        <div class="dropdown-pijl"></div>
                        <div class="dropdown-content dropdown-content-overflow ezra_header_persistent_user-naam">
                            [% c.scalar.betrokkene_session.naam %]
                        </div>
                    </div>

                </div>
            <a href="" class="header-messages header-menu-item"><span class="ir header-menu-item-icon">Berichten</span><span class="notification-count">2</span></a>-->
            <a href="[% c.uri_for('/page/about') %]" class="ezra_dialog header-about header-menu-item" title="Informatie over deze versie van zaaksysteem.nl"><span class="ir header-menu-item-icon">About</span></a>
            <a href="#" class="header-user header-menu-item"><span class="ir header-menu-item-icon">User</span></a>
        </div>
        

	   
    </div>
    [% END %]
</div>
[% END %]

<!-- END Container top -->
