[% USE Dumper %]
[% USE Scalar %]




[% BLOCK catalogue_buttons %]
<div class="status coldd_right right">

    <div class="ezra_actie_button_handling">
        <div role="navigation" class="gradient actions-nav-small actions-nav button_num_1 ezra_actie_button_handling_navigation">
            <a
            title="Voeg Item Toe"
            class="actions-nav-add first"
            href="#voegtoe"><span class="nav-icon">Voeg Item Toe</span></a>
        </div>

        <div class="ezra_actie_button_handling_popover">
            <div class="popover-tip ezra_actie_button_handling_popover_tip"></div>
            <div class="popover" id="popover_voegtoe">
                <div class="buttons">

                    <a href="[% c.uri_for('/beheer/bibliotheek/categorie/0/bewerken/' _ bibliotheek_categorie_id ) %]" class="ezra_dialog float" title="Categorie aanmaken" rel="ezra_dialog_layout: large;">Categorie</a>
                    
                    [% IF bibliotheek_categorie_id %]
                        <a rel="ezra_dialog_layout: xlarge" 
                           href="[% c.uri_for('/beheer/bibliotheek/kenmerken/' _ bibliotheek_categorie_id _'/0/bewerken') %]" 
                           class="ezra_dialog" 
                           title="Kenmerk aanmaken">Kenmerk</a>
                        
                        <a rel="ezra_dialog_layout: xlarge" 
                           href="[% c.uri_for('/beheer/bibliotheek/sjablonen/' _ bibliotheek_categorie_id _'/0/bewerken') %]" 
                           class="ezra_dialog" 
                           title="Sjabloon aanmaken">Sjabloon</a>

                        <a 
                            data-ng-click="openPopup()" 
                            data-zs-popup="'/html/admin/email-template.html'"
                            data-ng-init="category='[% bibliotheek_categorie_id %]';itemId=0;">E-mail</a>

                        <a  rel=""
                            href="[% c.uri_for('/beheer/zaaktypen/0/bewerken/') _ '?bibliotheek_categorie_id=' _ bibliotheek_categorie_id %]"
                            title="Zaaktype aanmaken">Zaaktype</a>
                    
                        <a href="[% c.uri_for('/kennisbank/product/' _ bibliotheek_categorie_id _ '/0/bewerken') %]" 
                           title="Product aanmaken">Product</a>
                    
                        <a href="[% c.uri_for('/kennisbank/vraag/' _ bibliotheek_categorie_id _ '/0/bewerken') %]" 
                           title="Vraag aanmaken">Vraag</a>
                        
                        <a href="[% c.uri_for('/beheer/object/import/' _ bibliotheek_categorie_id) %]" title="Importeren">
                            Importeren
                        </a>
                    
                    [% END %]
                </div>
            </div>
        </div>
    </div>
</div>
[% END %]


[% BLOCK description_icon %]
    <div class="dropdown-wrap">
        <div class="dropdown-init icon-toelichting icon icon-hover ezra_dropdown_init_hover"></div>
        <div class="dropdown dropdown-left dropdown-tooltip">
            <div class="dropdown-pijl"></div>
            <div class="dropdown-content dropdown-content-overflow">
                [% description %]
            </div>
        </div>
    </div>
[% END %]


[% BLOCK catalogue_row %]
[% linktag = item.url ? 'a' : 'span' %]
    <tr>
        
        <td><[% linktag %] href="[% item.url %]" class="has-icon"><i class="icon icon-[% item.icon %] icon-viel-lebensraum"></i>[% item.name %]</[% linktag %]> [% item.count %] [%item.is_active %]</td>
        <td>[% item.type %]</td>
        <td>[% item.version %]</td>
        <td>[% item.gebruik %]</td>
        <td>
            [% UNLESS item.is_systeem_kenmerk || item.system %]
            <div class="dropdown-wrap">
                <div class="dropdown-init dropdown-init-block ezra_dropdown_init">
                    <span></span>
                </div>
                <div class="dropdown ezra_dropdown dropdown-menu ezra_actie_container">
                    [% item.actions.join('') %]
                </div>
            </div>
            [% END %]
        </td>
    </tr>
[% END %]



[% BLOCK category_row %]
    [%
        item.icon = 'folder'
        item.name = item.naam
        item.type = 'folder'
        item.url  = '/beheer/bibliotheek/' _ item.id
    %]
    [% item_count = get_element_count({c => c, bibliotheek_categorie_id => item.id}) %]
    [% item.count = BLOCK %]
        ([% item_count %])
    [% END %]

    [% item.actions = BLOCK %]

        <a href="[% c.uri_for('/beheer/bibliotheek/categorie/' _ item.id _ '/bewerken') %]" title="Categorie bewerken" class="popup">Bewerken</a>
        [% IF item_count == 0 %]
            <a href="[% c.uri_for('/beheer/bibliotheek/categorie/' _ item.id _ '/verwijderen') %]" title="Categorie verwijderen" class="popup">Verwijderen</a>
        [% END %]
    [% END %]

    [% PROCESS catalogue_row 
       ezra_dialog_layout = 'large'
    %]
[% END %]


[% BLOCK zaaktype_row %]
    [% #Dumper.dump(item.zaaktype_node_id.get_columns) %]
    [%
        item.version = item.zaaktype_node_id.version
        item.icon = 'case'
        item.name = item.zaaktype_node_id.titel
        item.type = 'zaaktype'
        item.url  = '/beheer/zaaktypen/' _ item.id _ '/bewerken'
    %]
    
    [% active = c.model('DB::Zaaktype').find(item.id).active %]
    [% item.is_active = BLOCK %]<span style="color: #ccc">[% IF active %][% ELSE %]offline[% END %]</span>[% END %]

    [% item.actions = BLOCK %]
        [% base_uri = c.uri_for('/beheer/zaaktypen/' _ item.id _ '/') %]
        <a href="[% base_uri %]bewerken">Bewerken</a>
        <a href="[% base_uri  %]clone">Dupliceren</a>
        <a href="[% base_uri %]verwijder" class="popup" title="Zaaktype verwijderen">Verwijderen</a>
        <a href="[% base_uri %]export">Exporteren</a>
        <a href="[% base_uri %]version" title="[% item.zaaktype_node_id.titel %]" class="popup">Versiebeheer</a>
           [% IF active %]
                <a href="[% base_uri %]offline" class="popup" title="Zaaktype offline zetten">Offline</a>
        [% ELSE %]
                <a href="[% base_uri %]online" class="popup" title="Zaaktype online zetten">Online</a>
        [% END %]

    [% END %]

    
    [% item.gebruik = BLOCK %]
        [% kenmerken = c.model('DB::ZaaktypeKenmerken').scalar.search({
                zaaktype_node_id => item.zaaktype_node_id.id,
            }) 
        %]

        [% sjablonen = c.model('DB::ZaaktypeSjablonen').scalar.search({
                zaaktype_node_id => item.zaaktype_node_id.id,
            }) 
        %]

        [% notificaties = c.model('DB::ZaaktypeNotificatie').scalar.search({
                zaaktype_node_id => item.zaaktype_node_id.id,
            }) 
        %]

        [% is_content = 0 %]
        [% kenmerken_description = BLOCK %]
            [% IF kenmerken.count %]
                <strong>Kenmerken:</strong><br/>
                    [% WHILE (kenmerk = kenmerken.next) %]
                        [% NEXT IF kenmerk.bibliotheek_kenmerk_id.deleted %]
                        [% kenmerk.bibliotheek_kenmerken_id.naam %]
                    [% END %]
                [% is_content = 1 %]
            [% END %]
        [% END %]

        [% sjablonen_description = BLOCK %]
            [% IF sjablonen.count %]
                [% IF is_content %]
                    <br/>
                [% END %]
                <strong>Sjablonen:</strong><br/>
                    [% WHILE (sjabloon = sjablonen.next) %]
                        [% NEXT IF sjabloon.bibliotheek_sjablonen_id.deleted %]
                        [% sjabloon.bibliotheek_sjablonen_id.naam %]
                    [% END %]
                [% is_content = 1 %]
            [% END %]
        [% END %]

        [% notificaties_description = BLOCK %]
            [% IF notificaties.count %]
                [% IF is_content %]
                    <br/>
                [% END %]
                <strong>Notificaties:</strong><br/>
                    [% WHILE (notificatie = notificaties.next) %]
                        [% NEXT IF notificatie.bibliottheek_notificaties_id.deleted %]
                        [% notificatie.bibliotheek_notificaties_id.label %]
                    [% END %]
            [% END %]
        [% END %]
        
        [% IF kenmerken.count || sjablonen.count || notificaties.count %]
            [% PROCESS description_icon
                description = kenmerken_description _ sjablonen_description _ notificaties_description %]
        [% END %]
    [% END %]

    [% PROCESS catalogue_row %]
[% END %]


[% BLOCK bibliotheek_sjablonen_row %]
    [%
        item.icon = 'sjablonen'
        item.name = item.naam
        item.type = 'sjabloon'
        item.url  = '/beheer/bibliotheek/sjablonen/' _
                        item.bibliotheek_categorie_id.id _ '/' _ item.id
    %]
    [% item.actions = BLOCK %]
        <a
            class="ezra_dialog"
            href="[% c.uri_for('/beheer/bibliotheek/sjablonen/' _ item.bibliotheek_categorie_id.id _ '/' _ item.id _ '/bewerken') %]"
            rel="ezra_dialog_layout:xlarge"
            title="Sjabloon bewerken"
        >Bewerken</a>
        <a class="popup"
            href="[% c.uri_for('/beheer/bibliotheek/sjablonen/' _ item.bibliotheek_categorie_id.id _ '/' _ item.id _ '/verwijderen') %]"
            title="Sjabloon verwijderen"
        >Verwijderen</a>
    [% END %]

    [% item.gebruik = BLOCK %]
        [% sjablonen_description = BLOCK %]
            [% zaaktypen = sjabloon_zaaktypen.scalar.search({
                bibliotheek_sjablonen_id => item.id, 
            }); %]
            [% IF zaaktypen.count %]
                <strong>Zaaktypen:</strong><br/>
                [% WHILE(zaaktype = zaaktypen.next) %]
                    [% zaaktype.zaaktype_node_id.titel %]
                [% END %]
           [% END %]        
        [% END %]
        [% IF zaaktypen.count %]
            [% PROCESS description_icon
                description = sjablonen_description %]
        [% END %]
    [% END %]



    [% PROCESS catalogue_row 
        ezra_dialog_layout = 'xlarge'
    %]
[% END %]



[% BLOCK bibliotheek_notificaties_row %]
    [%
        item.icon = 'notificatie'
        item.name = item.label
        item.type = 'e-mail'
       # item.url  = '/beheer/bibliotheek/notificatie/' _
       #                 item.bibliotheek_categorie_id.id _ '/' _ item.id
    %]
    [% item.actions = BLOCK %]
    <a
        data-zs-popup="'/html/admin/email-template.html'"
        data-ng-click="openPopup()"
        data-ng-init="category='[% bibliotheek_categorie_id %]';itemId=[% item.id %]"
    >Bewerken</a>
    <a class="popup"
        href="[% c.uri_for('/beheer/bibliotheek/notificaties/' _ item.id _ '/verwijderen') %]"
        title="E-mail verwijderen"
    >Verwijderen</a>
    [% END %]

    [% item.gebruik = BLOCK %]
        [% description = BLOCK %]
            [% zaaktypen = notificatie_zaaktypen.scalar.search({
                bibliotheek_notificaties_id => item.id 
            }); %]
            [% IF zaaktypen.count %]
                <strong>Zaaktypen:</strong><br/>
                [% WHILE(zaaktype = zaaktypen.next) %]
                    [% zaaktype.zaaktype_node_id.titel %]
                [% END %]
            [% END %]
        [% END %]        
        [% IF zaaktypen.count %]
             [% PROCESS description_icon %]
        [% END %]
    [% END %]


    [% PROCESS catalogue_row 
        ezra_dialog_layout = 'large'
    %]
[% END %]


[% BLOCK bibliotheek_kenmerken_row %]
    [%
        item.icon = 'kenmerken'
        item.name = item.naam
        item.type = 'kenmerk'
    %]
    [% item.actions = BLOCK %]
        <a
            class="ezra_dialog"
            href="[% c.uri_for('/beheer/bibliotheek/kenmerken/' _ item.bibliotheek_categorie_id.id _ '/' _ item.id _ '/bewerken') %]"
            rel="ezra_dialog_layout:xlarge"
            title="Kenmerk bewerken"
        >Bewerken</a>
        <a class="popup"
            href="[% c.uri_for('/beheer/bibliotheek/kenmerken/' _ item.bibliotheek_categorie_id.id _ '/' _ item.id _ '/verwijderen') %]"
            title="Kenmerk verwijderen"
        >Verwijderen</a>
    [% END %]

    [% IF item.system %]
        [% item.is_systeem_kenmerk = 1 %]
    [% END %]

    [% item.gebruik = BLOCK %]
        [% zaaktypen = kenmerk_zaaktypen.search({bibliotheek_kenmerken_id => item.id }); %]
        [% IF zaaktypen.count %]
            [% kenmerken_description = BLOCK %]
                <strong>Zaaktypen:</strong><br/>
                [% WHILE (zaaktype = zaaktypen.next) %]
                    [% zaaktype.zaaktype_node_id.titel %]
                [% END %]
            [% END %]
            [% PROCESS description_icon
                description = kenmerken_description %]
        [% END %]        
    [% END %]


    [% PROCESS catalogue_row 
        ezra_dialog_layout = 'xlarge'
    %]
[% END %]





[% BLOCK kennisbank_product_row %]
    [%
        item.icon = 'kennisbank-product'
        item.name = item.naam
        item.type = 'product'
        item.version = item.versie
    %]
    [% item.actions = BLOCK %]
        <a
            href="[% c.uri_for('/kennisbank/product/' _ item.bibliotheek_categorie_id.id _ '/' _ item.id _ '/bewerken') %]"
        >Bewerken</a>
        <a class="popup"
            href="[% c.uri_for('/kennisbank/product/' _ item.bibliotheek_categorie_id.id _ '/' _ item.id _ '/verwijderen') %]"
            title="Product verwijderen"
        >Verwijderen</a>
    [% END %]

    [% PROCESS catalogue_row %]
[% END %]


[% BLOCK kennisbank_vraag_row %]
    [%
        item.icon = 'kennisbank-vraag'
        item.name = item.naam
        item.type = 'vraag'
        item.version = item.versie
    %]
    [% item.actions = BLOCK %]
        <a
            href="[% c.uri_for('/kennisbank/vraag/' _ item.bibliotheek_categorie_id.id _ '/' _ item.id _ '/bewerken') %]"
        >Bewerken</a>
        <a class="popup"
            href="[% c.uri_for('/kennisbank/vraag/' _ item.bibliotheek_categorie_id.id _ '/' _ item.id _ '/verwijderen') %]"
            title="Vraag verwijderen"
        >Verwijderen</a>
    [% END %]

    [% PROCESS catalogue_row %]
[% END %]




[% BLOCK crumbs %]
        [% IF bibliotheek_categorie_id %]
            (<a href="/beheer/bibliotheek/[% parent_categorie_id %]">up</a>)
        [% END %]
    [% crumb_count = 0 %]
    [% space = '&nbsp;' %]
    [% FOREACH crumb IN crumbs %]
        <br/>
        [% crumb_count = crumb_count + 1 %]
        [% space.repeat(crumb_count-1) %]
        
        [% IF crumb_count == crumbs.size %]
            <a class="icon-folder icon"></a>
            [% crumb.name %]
        [% ELSE %]
            <a class="icon-folder icon" href="/beheer/bibliotheek/[% crumb.id %]"></a>
            <a class="" href="/beheer/bibliotheek/[% crumb.id %]">[% crumb.name %]</a>
        [% END %]
    [% END %]
[% END %]


[% PROCESS widgets/general/breadcrumbs.tt %]




<form name="zaaktypen_list">
<input type="hidden" name="page" value="[% page %]"/>
<div class="block">
    <div class="header header-filter">
    	Catalogus
    	[% PROCESS catalogue_buttons %]
    	[% PROCESS widgets/general/zaken_filter.tt %]
    </div>
    
    
    <div class="blockcontent">
    <div class="zaken_filter_wrapper">
    <div class="zaken_filter_inner">
        <div class="spinner-groot"><div></div></div>
        <table class="table_zaken_title" cellspacing="0">
            [% IF results.pager.total_entries %]
            <thead>
                <tr class="table_zaken_title_tr">
                    <td class="tdvar">[% c.loc('Titel') %]</th>
                    <td class="td100">[% c.loc('Type') %]</th>
                    <td class="td100">[% c.loc('Versie') %]</th>
                    <td class="td100">[% c.loc('Gebruik') %]</th>
                    [% IF ! categorie.system %]
                    <td class="td50">[% c.loc('Acties') %]</th>
                    [% END %]
                </tr>
            </thead>
            <tbody>
[% object_types = {
    'zaaktype'              => 'Zaaktype',
    'bibliotheek_kenmerken' => 'BibliotheekKenmerken',
    'bibliotheek_sjablonen' => 'BibliotheekSjablonen',
    'bibliotheek_notificaties' => 'BibliotheekNotificaties',
    'bibliotheek_categorie' => 'BibliotheekCategorie',
    'kennisbank_producten'  => 'KennisbankProducten',
    'kennisbank_vragen'     => 'KennisbankVragen',
} %]
    [% USE Dumper %]
            [% WHILE (result = results.next) %]
                [% tablename = 'DB::' _ object_types.${result.object_type} %]
                [% IF object_types.${result.object_type} %]
                    [% item = c.model(tablename).find(result.id) %]
    
                    [% IF item.object_type == 'bibliotheek_categorie' %]
                        [% PROCESS category_row %]
                    [% ELSIF item.object_type == 'bibliotheek_kenmerken' %]
                        [% PROCESS bibliotheek_kenmerken_row %]
                    [% ELSIF item.object_type == 'bibliotheek_sjablonen' %]
                        [% PROCESS bibliotheek_sjablonen_row %]
                    [% ELSIF item.object_type == 'bibliotheek_notificaties' %]
                        [% PROCESS bibliotheek_notificaties_row %]
                    [% ELSIF item.object_type == 'zaaktype' %]
                        [% PROCESS zaaktype_row %]
                    [% ELSIF item.object_type == 'kennisbank_producten' %]
                        [% PROCESS kennisbank_product_row %]
                    [% ELSIF item.object_type == 'kennisbank_vragen' %]
                        [% PROCESS kennisbank_vraag_row %]
                    [% ELSE %]
                        <tr><td>geen template</td></tr>
                    [% END %]
                [% ELSE %]
                    <tr><td>[% c.loc('Error: Object type not defined for ') %][% Dumper.dump(result) %]</td></tr>
                [% END %]
            [% END %]
            </tbody>
            [% ELSE %]
                <tr><td>Geen resultaten</td></tr>
            [% END %]
        </table>
        [% PROCESS widgets/pager2.tt %]
        </div>
        </div>
    </div>
</div>
</form>
