[% BLOCK note_form %]
    <form method="POST" action="[%
            c.uri_for(
                '/betrokkene/' _
                betrokkene.ex_id _
                '/notes/add'
            );
        %]" class="ezra_timeline_note">
        <input type="hidden" name="gm" value="1" />
        <input type="hidden" name="type" value="[% betrokkene.btype %]" />
        <div class="notitie">
            <textarea name="message" placeholder="Plaats een interne opmerking"></textarea>
            <input
                type="submit"
                class="button140"
                name="submit"
                value="Plaatsen"
            />
        </div>
    [% IF can_betrokkene_edit %]
        </form>
    [% END %]
[% END %]


[% BLOCK timeline_tab %]
    <div class="ui-tabs-panel ui-widget-content ui-tabs-hide ztAjaxUpdate timeline clearfix" id="tab-wgt-timeline" rel="[% betrokkene.ex_id %]">
        <div class="timeline-content">
        </div>
        <div class="timeline-filter">
            <h3>Filter timeline</h3>
            <form action="#" class="ezra_timeline_filter">
                <input type="hidden" name="use_filters" value="1"/>
                <div class="checkbox-item checkbox-cm">
                    <input type="checkbox" name="filter" value="zaak" checked="checked" id="zaak" />
                    <label for="note">Zaken</label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" name="filter" value="contactmoment" checked="checked" id="cm" />
                    <label for="cm">Contactmomenten</label>
                </div>
                <div class="checkbox-item checkbox-doc">
                    <input type="checkbox" name="filter" value="document" checked="checked" id="doc" />
                    <label for="doc">Documenten</label>
                </div>
                <div class="checkbox-item checkbox-note">
                    <input type="checkbox" name="filter" value="note" checked="checked" id="note" />
                    <label for="note">Notities</label>
                </div>
            </form>
        </div>
    </div>
[% END %]







<script id="ezra_timeline" type="text/html">
    <ol class="timeline-inner clearfix">
        <li class="spine"></li>
        <li class="left ezra_timeline_event timeline-item timeline-notes">
            <i class="pointer"></i>
            <div class="timeline-item-inner">
                [% PROCESS note_form %]
            </div>
        </li>
    </ol>
</script>


<script id="ezra_timeline_event_header" class="partial" type="text/html">
  <li class="ezra_timeline_event timeline-item timeline-{{class}}">
    <i class="pointer"></i>
    <div class="timeline-item-inner">
        <div class="timeline-item-title">
            <div class="timeline-item-icon"></div>
            <div class="timeline-item-type">
                {{title}}
            </div>
            <div class="timeline-item-meta">
                 {{created_formatted}}<!-- &#8729; geplaatst door <a href=""></a>-->
            </div>
        </div>
</script>

<script id="ezra_timeline_event_footer" class="partial" type="text/html">
    </div>
  </li>
</script>



<script id="ezra_timeline_document_event" type="text/html">
    {{>ezra_timeline_event_header}}
    <div class="timeline-item-content">
        <div><strong>Bestandsnaam: </strong>{{filename}}</div>
    </div>
    {{>ezra_timeline_event_footer}}
</script>

<script id="ezra_timeline_note_event" type="text/html">
    {{>ezra_timeline_event_header}}
    <div class="timeline-item-content">
        <div>{{message}}</div>
    </div>
    {{>ezra_timeline_event_footer}}
</script>

<script id="ezra_timeline_contactmoment_event" type="text/html">
    {{>ezra_timeline_event_header}}
    <div class="timeline-item-content">
        <div><strong>Bericht:</strong> {{notitie_id.bericht}}</div>
        <div><strong>Via:</strong> {{notitie_id.contactkanaal}}</div>
        <div><strong>Type:</strong> {{store_type}}</div>
    </div>
    {{>ezra_timeline_event_footer}}
</script>


<script id="ezra_timeline_zaak_event" type="text/html">
    {{>ezra_timeline_event_header}}
    <div class="timeline-item-content">
        <div>{{onderwerp}}</div>
    </div>
    {{>ezra_timeline_event_footer}}
</script>





[% BLOCK button_block %]  
<div class="ezra_actie_button_handling actions-nav-wrap">
    [% button_num = 1 %]
    [% IF (betrokkene.btype != 'medewerker'); button_num = (button_num + 1); END %]
    [% IF ((!betrokkene.authenticated || betrokkene.btype == 'medewerker') && c.check_any_user_permission('beheer','contact_nieuw') && can_betrokkene_edit && !betrokkene_edit); button_num = (button_num + 1); END %]

    <div class="actions-nav button_num_[% button_num %] actions-nav-in-header ezra_actie_button_handling_navigation">
        
        <a class="actions-nav-add first" href="#voegtoe" title="Toevoegen">
            <span class="nav-icon">Add</span>
        </a>
        
        [% IF (!betrokkene.authenticated || betrokkene.btype == 'medewerker') && c.check_any_user_permission('beheer','contact_nieuw') && can_betrokkene_edit && !betrokkene_edit %]
            <a class="actions-nav-edit" href="#bewerk" title="Bewerken">
                <span class="nav-icon">Bewerk</span>
            </a>
        [% END %]


    [% IF (betrokkene.btype != 'medewerker') %]
        <a class="actions-nav-play ezra_enable_betrokkene_session [% (button_num == 2 ? ' last' : '') %] last" title="Activeren" href="[% c.uri_for(
            c.action, c.req.captures, { type => c.req.params.type, gm =>
            c.req.params.gm, enable_betrokkene_session => 1 }
        )
         %]">
         <span class="nav-icon">Activeer</span>
         </a>
     [% END %]

       

        


    </div>                 
    <div class="ezra_actie_button_handling_popover">
        <div class="popover-tip ezra_actie_button_handling_popover_tip"></div>
        <div class="popover" id="popover_voegtoe">
            <div class="buttons">
                <a title="Nieuwe zaak"
                    class="ezra_nieuwe_zaak_tooltip-show"
                    href="[% c.uri_for('/zaak/create',
                            {
                                betrokkene_type => betrokkene.btype,
                                betrokkene_naam => betrokkene.naam,
                                betrokkene_id   =>
                                    betrokkene.betrokkene_identifier
                            }
                    ) %]">Nieuwe zaak</a>

                <a title="Contactmoment"
                    class="ezra_nieuwe_zaak_tooltip-show"
                    href="[%
                        c.uri_for(
                            '/documenten/0/notitie/bewerken',
                            {
                                betrokkene_type => betrokkene.btype,
                                betrokkene_naam => betrokkene.naam,
                                betrokkene_id   =>
                                    betrokkene.betrokkene_identifier
                            }
                        ) %]">Contactmoment</a>
            </div>
        </div>
        [% IF (!betrokkene.authenticated || betrokkene.btype == 'medewerker') && c.check_any_user_permission('beheer','contact_nieuw') && can_betrokkene_edit && !betrokkene_edit %]
            <div class="popover" id="popover_bewerk">

                <div class="buttons">
                    <a
                            
                            href="[% c.req.uri_with(
                                { edit => 1, enable_betrokkene_session => undef }
                                )
                            %]#tab-wgt-contact"
                            id="bewerken"
                            >
                            <span></span>
                            Bewerken</a>
                        
                        <a
                           
                            class="ezra_dialog"
                            href="[% c.uri_for(
                                '/betrokkene/verwijder/'
                                _ betrokkene.btype _ '/'
                                _ betrokkene.ex_id
                                )
                            %]"
        
                            id="verwijderen"
                        ><span></span>
                        Verwijderen</a>
                </div>
            </div>
        [% END %]

    </div>
</div>
[% END %]

[%
    broninfo = {
        'bedrijf'               => 'KvK',
        'natuurlijk_persoon'    => 'GBA',
        'medewerker'            => 'LDAP',
    };
    brontype = {
        'bedrijf'               => 'Niet-natuurlijk persoon (Organisatie)',
        'natuurlijk_persoon'    => 'Natuurlijk persoon',
        'medewerker'            => 'Behandelaar',
    }
%]

                <div class="ui-tabs contact" id="tabinterface">
                    <div class="header tabbed">
                        <div class="contact-naam">[% betrokkene.naam %]</div>
                        <div class="contact-gegevens-overzicht">
                            [% PROCESS widgets/betrokkene/view_subject.tt %]
                        </div>
                    

                    <!-- contact acties -->
                    [% PROCESS button_block %]
                    <!-- einde contact acties -->
                    
                    
                    </div>
                    <ul class="ui-rounded-corners-off ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    
                        <li><a href="#tab-wgt-dashboard">Dashboard</a></li>
                        <li><a href="#tab-wgt-timeline" class="ezra_subject_timeline">Timeline</a></li>
                        <li><a href="#tab-wgt-zaken">Zaken</a></li>
                        
                        [% IF c.config.customer.start_config.woz_info_on_pip && c.check_any_user_permission('woz_objects') %]
                            [% #PROCESS plugins/woz/ownerobjects.tt %]

                            [% IF woz_objects.count %]
                                <li><a href="#tab-wgt-woz">WOZ</a></li>
                            [% END %]
                        [% END %]
                         
                         <li><a href="#tab-wgt-contact">Contactinformatie</a></li>
                         
                    </ul>
                    

                    <div class="ui-tabs-panel ui-widget-content contact-dashboard" id="tab-wgt-dashboard">
            
                        <div class="splitter-dashboard">
                            <div class="blockcontent-left">
                                <div class="contact-dashboard-zaken">
                                
                                    <form name="open_zaken">
                                        <input type="hidden" name="gm" value="1">
                                        <input type="hidden" name="type" value="[% betrokkene.btype %]">
                                        <div class="contact-dashboard-header">
                                            <h3>Openstaande zaken</h3>
                                            <div class="filter-veld">
                                            [% PROCESS widgets/general/zaken_filter.tt
                                                    zaken_filter_prefix = 'open_'
                                                ZAKEN_FILTER_STATUS_DROPDOWN = 0 # all these cases are open anyway
                                            %]
                                            </div>
                                        </div>
                                        <div class="contact-dashboard-content contact-dashboard-inner-scroll">
                                            <div class="zaken_filter_wrapper">
                                                <div class="zaken_filter_inner">
                                                    [% results = open_zaken %]
                                                    [% display_fields = open_display_fields %]
                                                    [% PROCESS widgets/result.tt skip_actions=1 %]
                                                    [% PROCESS widgets/pager2.tt %]
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="blockcontent-right">
                                <div class="contact-dashboard-timeline">
                                    <div class="contact-dashboard-header">
                                        <h3>Timeline</h3>
                                        <!--div class="filter-veld">
                                            <div class="col col-left">
                                                <select class="replace-select-small" name="statusfilter" id="zaakfilter" style="display: none;" aria-disabled="false">
                                    				<option value="">Alles</option>
                                    				<option value="new">Nieuw</option>
                                    				<option value="open">In behandeling</option>
                                    				<option value="resolved">Afgehandeld</option>
                                    				<option value="stalled">Opgeschort</option>
                                    				<option value="overdragen">Overdragen</option>
                                    			</select>
                                			</div>
                                            <div class="col search_wrap">
                                    			<input type="text" value="" class="zaak_search_filter" name="openstaand_textfilter">
                                                <span style="display: none; " class="icon icon-cancel-search">Close</span>
                                    		</div>
                                    	</div-->
                                    </div>
                                    <div class="contact-dashboard-content contact-dashboard-inner-scroll">
                                        [% PROCESS betrokkene/timeline.tt %]
                                    </div>
                                </div>
                            </div>
                        </div>
                                
                    </div>

                    
                    <div class="ui-tabs-panel ui-widget-content contact-informatie" id="tab-wgt-contact">

                        [% IF can_betrokkene_edit %]
                            [% IF betrokkene.btype == 'bedrijf' %]
                                <form
                                    method="POST"
                                    action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) %]"
                                    class="submitWaiter zvalidate" >
                                        <input type="hidden" name="referer" value="[% c.req.uri %]" />
                                        <input type="hidden" name="betrokkene_type" value="[% betrokkene.btype %]" />
                                    [% IF betrokkene_edit %]
                                        <input type="hidden" name="betrokkene_edit" value="1" />
                                    [% END %]
                            [% ELSIF betrokkene.btype == 'natuurlijk_persoon' %]
                                <form
                                    method="POST"
                                    action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) %]"
                                    class="submitWaiter zvalidate">
                                        <input type="hidden" name="referer" value="[% c.req.uri %]" />
                                        <input type="hidden" name="betrokkene_type" value="[% betrokkene.btype %]" />
                                    [% IF betrokkene_edit %]
                                        <input type="hidden" name="betrokkene_edit" value="1" />
                                    [% END %]
                            [% END %]
                        [% END %]
                       
                        
                        <div class="clearfix">
                        [% IF betrokkene.btype == 'bedrijf' %]
                            [% IF betrokkene_edit %]
                                [% PROCESS widgets/betrokkene/bedrijf_create.tt %]
                            [% ELSE %]
                                [% PROCESS widgets/betrokkene/view_bedrijf.tt %]
                            [% END %]
                        [% ELSIF betrokkene.btype == 'natuurlijk_persoon' %]
                            [% IF betrokkene_edit %]
                                [% PROCESS widgets/betrokkene/natuurlijk_persoon_create.tt %]
                            [% ELSE %]
                                [% PROCESS widgets/betrokkene/view_natuurlijk_persoon.tt %]
                            [% END %]
                        [% ELSIF betrokkene.btype == 'medewerker' %]
                            [% PROCESS widgets/betrokkene/view_medewerker.tt %]
                        [% END %]
                        </table>
                        
                      <!--   <div class="button-holder">
                        
                    [% UNLESS betrokkene_edit %]
                        <a
                            class="element width-auto small right"
                            href="[% c.uri_for(
                                '/zaak/create',
                                    {
                                        'betrokkene_type'   => betrokkene.btype,
                                        'betrokkene_id'     => 'betrokkene-'
                                            _ betrokkene.btype
                                            _ '-' _ betrokkene.ex_id,
                                        'betrokkene_naam'   => betrokkene.naam
                                    }
                                )
                            %]"
                            id="voegtoe"
                        ><span></span>
                        Nieuwe Zaak</a>
                    [% END %]
                        
                [% UNLESS betrokkene.authenticated %]
                    [% IF c.check_any_user_permission('contact_nieuw') %]
                        [% IF can_betrokkene_edit %]
                            [% UNLESS betrokkene_edit %]
                                <a
                                    class="edit element width-auto small right"
                                    href="[% c.req.uri_with(
                                        { edit => 1 }
                                        )
                                    %]"
                                    id="bewerken"
                                    >
                                    <span></span>
                                    Bewerken</a>
                                [% END %]
                                <a
                                    class="verwijder ezra_dialog element width-auto small right"
                                    href="[% c.uri_for(
                                        '/betrokkene/verwijder/'
                                        _ betrokkene.btype _ '/'
                                        _ betrokkene.ex_id
                                        )
                                    %]"
                                    id="verwijderen"
                                ><span></span>
                                Verwijderen</a>
                               
                        [% END %]
                    [% END %]
                [% END %] -->
                [% IF can_betrokkene_edit %]
[% # removed because it shows this button at urls like http://xxxx.zaaksysteem.nl/betrokkene/500009?gm=1&type=medewerker %]
                    <input type="submit" value="Opslaan" class="button140 submit right" />
                [% END %]
                <!-- </div> -->
                    </form>
                </div>
                
                    </div>

                    <div class="ui-tabs-panel ui-widget-content min-height ui-tabs-hide no-padding contact-zaken" id="tab-wgt-zaken">


                        <div id="ezra_betrokkene_zaken_accordion">
                            [% results = zaken %]
                            <h3>
                                <a href="#">Zaken van [% betrokkene.naam %] [% results.count ? '(' _ results.pager.total_entries _ ')' : '' %]</a>
                                <img src="/images/spinner-small.gif" alt="bezig met laden" style="display: none; ">
                            </h3>
                            <div>
                                <div class="ui-accordion-table-bg">
                                    <form name="zaken">
                                        <div class="clearfix header header-filter">
                                        [% PROCESS widgets/general/zaken_filter.tt
                                                zaken_filter_prefix = 'openstaand_'
                                            ZAKEN_FILTER_STATUS_DROPDOWN = 1 # all these cases are open anyway
                                        %]
                                        </div>                                        
                                        <input type="hidden" name="gm" value="1">
                                        <input type="hidden" name="type" value="[% betrokkene.btype %]">
                                        <div class="zaken_filter_wrapper">
                                            <div class="zaken_filter_inner">
                                                [% display_fields = zaken_display_fields %]
                                                [% PROCESS widgets/result.tt %]
                                                [% PROCESS widgets/pager2.tt %]
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
 
 [% BLOCK disabled_afgehandelde_zaken %]                           
                            <h3>
                                <a href="#">Afgehandelde zaken</a>
                                <img src="/images/spinner-small.gif" alt="bezig met laden" style="display: none; ">
                            </h3>
                            <div>
                                <div class="ui-accordion-table-bg">
                                    <form name="resolved_zaken">
                                        <input type="hidden" name="gm" value="1">
                                        <input type="hidden" name="type" value="[% betrokkene.btype %]">
                                        <div class="zaken_filter_wrapper">
                                            <div class="zaken_filter_inner">
                                                [% results = resolved_zaken %]
                                                [% PROCESS widgets/result.tt %]
                                                [% PROCESS widgets/pager2.tt %]
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
[% END %]
                            
                            [% results = adres_zaken %]
                            <h3>
                                <a href="#">Zaken op [% betrokkene.straatnaam %] [% betrokkene.volledig_huisnummer %] [% results.count ? '(' _ results.pager.total_entries _ ')' : '' %]</a>
                                <img src="/images/spinner-small.gif" alt="bezig met laden" style="display: none; ">
                            </h3>
                            <div>
                                <div class="ui-accordion-table-bg">
                                    <form name="adres_zaken">
                                        <input type="hidden" name="gm" value="1">
                                        <input type="hidden" name="type" value="[% betrokkene.btype %]">
                                        <div class="zaken_filter_wrapper">
                                            <div class="zaken_filter_inner">
                                                [% display_fields = adres_display_fields %]
                                                [% PROCESS widgets/result.tt %]
                                                [% IF results %]
                                                    [% PROCESS widgets/pager2.tt %]
                                                [% END %]
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        
                    </div>
                    
                    <div class="ui-tabs-panel ui-widget-content ui-tabs-hide min-height" id="tab-wgt-contactmomenten">
                        <table class="contactmomenten">
                            <thead>
                                <tr>
                                    <th class="td10"></th>
                                    <th class="td50">Datum</th>
                                    <th class="td50">Contactkanaal</th>
                                    <th class="td300">Samenvatting</th>
                                    <th class="td20 tdr">Zaak</th>
                                </tr>
                            </thead>
                            <tbody>
                            [% WHILE (notitie = notities.next) %]
                                <tr>
                                    <td><a class="toggle"></a></td>
                                    <td>[% notitie.ontvangstdatum.set_time_zone('Europe/Amsterdam').dmy %]</td>
                                    <td>[% notitie.notitie_id.contactkanaal | ucfirst %]</td>
                                    <td><div class="contactmoment-text">[% notitie.notitie_id.bericht %]</div></td>
                                    <td class="tdr">
                                        [% IF notitie.zaak_id %]
                                            [% notitie.zaak_id.id %]
                                        [% ELSE %]
                                            <a
                                            class="icon icon-edit ezra_dialog right"
                                            href="[% c.uri_for('/documenten/'
                                                _ notitie.id _ '/notitie/bewerken'
                                            ) %]"
                                            title="Zaaknummer toevoegen aan contactmoment"
                                            ></a>
                                        [% END %]
                                    </td>
                                </tr>
                            [% END %]
                            </tbody>
                        </table>
                        
                    </div>

                    <div class="ui-tabs-panel ui-widget-content ui-tabs-hide ztAjaxUpdate" id="tab-wgt-notes">
                        <div class="ztAjaxUpdate_loader"></div>
                        <div class="ztAjaxUpdate_dest">
                            [% PROCESS widgets/betrokkene/notes.tt %]
                        </div>
    [% IF c.check_any_user_permission('contact_nieuw','contact_search') %]
        [% PROCESS note_form %]
    [% END %]
                </div>


                <div class="ui-tabs-panel ui-widget-content ui-tabs-hide ztAjaxUpdate" id="tab-wgt-timeline" rel="[% betrokkene.ex_id %]">
                    [% PROCESS betrokkene/timeline.tt %]
                </div>
                
                 [% IF c.config.customer.start_config.woz_info_on_pip && c.check_any_user_permission('woz_objects')  %]
                      <div class="ui-tabs-panel ui-widget-content ui-tabs-hide ztAjaxUpdate clearfix" id="tab-wgt-woz" rel="[% betrokkene.ex_id %]">
                          [% PROCESS plugins/woz/ownerobjects.tt %]
                        </div>
                [% END %]

            </div>


