[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="prelogin-bedrijfsid">
    <div class="block">
        <div class="header"><h1>Login met [% c.config.gemeente.naam %]ID</h1></div>
        <div class="blockcontent">
            <div class="row">
                <div class="column large-6">
                    <div class="prelogin">
                        <p>Voor het door u gekozen onderdeel is verificatie van uw
                        bedrijfsidentiteit vereist. Bij
                        [% c.config.gemeente.naam_lang %]
                        kunt u inloggen met [% c.config.gemeente.naam %]ID.
                        Wanneer u op het logo van [% c.config.gemeente.naam %]
                        klikt, wordt u doorgestuurd naar de
                        loginpagina van uw gemeente.  Nadat u bent ingelogd, wordt
                        u automatisch teruggestuurd naar het door u gekozen
                        onderdeel.</p>
            
                        <div id="[% c.config.gemeente_id %]idknop" class="prelogin-button">
                        <a href="[% c.uri_for(
                            '/auth/bedrijfid/1',
                            {
                                verified_url =>
                                c.req.query_params.verified_url
                                }
                            )
                            %]" class="id-knop-[% c.config.gemeente_id %]id id-knop-groot id-knop">Inloggen met <strong>[% c.config.gemeente.naam %]<span>ID</span></strong></a>
                        </div>
                    </div>
                </div>
            
                <div class="column large-5 large-offset-1">
                    <div class="prelogin-info clearfix">
                        <div class="prelogin-logos col">
                            <a href="[% c.config.gemeente.gemeente_id_url %]">
                                <img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/images/bedrijfsid/[% c.config.gemeente_id %]id_50.gif" alt="[% c.config.gemeente.naam %]ID Logo" class="digid-logo prelogin-info-logo"/>
                            </a>
                        </div>
                        <div class="prelogin-info-tekst col">
        				    <strong>Wat is een [% c.config.gemeente.naam %]ID?</strong>
                            <p>[% c.config.gemeente.naam %]ID is een authenticatiemiddel voor organisaties om zaken te regelen bij de gemeente [% c.config.gemeente.naam %]. Het [% c.config.gemeente.naam %]ID bestaat uit een gebruikersnaam en een wachtwoord. Bent u een onderneming of instelling en heeft u nog geen [% c.config.gemeente.naam %]ID? Vraag deze dan gratis aan door op het logo te klikken.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
