<table class="table_zaken_title" cellspacing="0">
<thead>
    <tr class="table_zaken_title_tr">
        <td class="td30 center"><img src="/images/icon-down.png" width="16" height="16"></td>
        <td class="tdvar">Generieke Categorie</td>
        <td class="td150">Acties:</td>
    </tr>
   </thead>
   <tbody>
    [% WHILE (categorie = categorien.next) %]
        [% PROCESS zaaktype/widgets/row_categorie.tt %]
    [% END %]
</tbody>
</table>

