<div class="action">
    <label style="width: 320px;">
        Wijzig naam
        <input type="text" name="import.product_name" value="[% item.config.product_name %]" placeholder="[% item.label %]" />
    </label>

    <label>
        Plaats in categorie ([% state.library_id %])
        [% PROCESS widgets/general/categorie.tt
            fieldname = 'import.library_id'
            categorie_id = state.library_id
        %]
    </label>
</div>
