    [% RETURN UNLESS c.user_exists %]
    [% IF definitie.toewijzing_zaakintake %]
                <div class="row kenmerk-veld">
                
                    <div class="column large-4">
                        <label class="titel">
                            Naar organisatorische eenheid
                        </label>
                    </div>
                    
                    <div class="column large-8">
                    
                        <div class="field field-has-help">
                            [% PROCESS widgets/general/auth_select.tt
                                AUTH_SELECT_OU_NAME     = 'actie_ou_id'
                                AUTH_SELECT_OU_VALUE    = zaaktype.scalar.zaaktype_statussen.scalar.search(
                                    {
                                        status  => 1
                                    }
                                ).first.ou_id
                                AUTH_SELECT_ROLE_NAME   = 'actie_role_id'
                                AUTH_SELECT_ROLE_VALUE  = zaaktype.scalar.zaaktype_statussen.scalar.search(
                                    {
                                        status  => 1
                                    }
                                ).first.role_id
                                AUTH_SELECT_NO_GLOBAL = 1
                            %]
                        </div>

                        <div class="field-help">
                            <div class="dropdown-wrap dropdown-wrap-right">
                                <a class="dropdown-init dropdown-init-in-td ezra_dropdown_init_hover icon-question-sign icon-font-awesome" href="#"></a>
                                <div class="dropdown dropdown-left dropdown-tooltip">
                                    <div class="dropdown-pijl"></div>
                                    <div class="dropdown-content">
                                        Zaak wordt geplaatst in de zaakintake van
                                        deze organisatorische eenheid / rol
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded">
                                <span></span>
                            </div>
                        </div>  
                                          
                    </div>
                    
                </div>
    [% END %]
    [% IF definitie.extra_relaties_in_aanvraag %]
                <div class="row kenmerk-veld">
                
                    <div class="column large-4">
                        <label class="titel">
                            Relaties
                        </label>
                    </div>
                    
                    <div class="column large-8">
                        <div class="field field-has-help">
                            [% PROCESS widgets/general/simple_table.tt %]
                        </div>
                        
                        <div class="field-help">
                            <div class="dropdown-wrap dropdown-wrap-right">
                                <a class="dropdown-init dropdown-init-in-td ezra_dropdown_init_hover icon-question-sign icon-font-awesome" href="#"></a>
                                <div class="dropdown dropdown-left dropdown-tooltip">
                                    <div class="dropdown-pijl"></div>
                                    <div class="dropdown-content">
                                        Het kan voorkomen dat er naast de aanvrager meerdere personen/bedrijven gerelateerd zijn aan deze zaak. Deze relaties kun je hieronder toevoegen.
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded">
                                <span></span>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
        [% END %]
        [% IF definitie.automatisch_behandelen %]
        
                <div class="row kenmerk-veld">
                
                    <div class="column large-4">
                        <label class="titel">Zaak automatisch in behandeling nemen</label>
                    </div>
                    
                    <div class="column large-8">
                    
                        <div class="field field-has-help">
                            <input
                            type="checkbox"
                            name="actie_automatisch_behandelen"
                            checked="checked"
                            value="1" />
                        </div>
                        
                        <div class="field-help">
                            <div class="dropdown-wrap dropdown-wrap-right">
                                <a class="dropdown-init dropdown-init-in-td ezra_dropdown_init_hover icon-question-sign icon-font-awesome" href="#"></a>
                                <div class="dropdown dropdown-left dropdown-tooltip">
                                    <div class="dropdown-pijl"></div>
                                    <div class="dropdown-content">
                                        Na aanmaken van deze zaak wordt u direct
                                    behandelaar
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded">
                                <span></span>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
    [% END %]