[% IF recaptcha.defined %]

<div class="stap-content">
    <div class="stap-tekst">
        <h3>Captcha</h3>
    </div>
    <div class="row row-style">
        <div class="column large-4">
            Vul de tekenreeks uit het plaatje in het tekstveld eronder
        </div>
    
        <div class="column large-8">
            <div class="field">
                [% recaptcha %]
            </div>
    
            [% PROCESS widgets/general/validator.tt
                message = 'Vul de getoonde waarde in'
            %]
        </div>
    </div>
</div>
[% END %]
