[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

<div class="block succes done">
    <div class="header"><h1>[% casetype_node.titel %]</h1></div>
        
    <div class="blockcontent">	
        <div class="row">
            
            <div class="column large-7">
                <h2>
                    <i class="icon-warning-sign icon-font-awesome"></i>
                    Het door u verzochte zaaktype is momenteel offline in verband met onderhoudswerkzaamheden.
                </h2>

                <p>
                    <a href="[% c.config.gemeente.gemeente_portal %]" class="button140">Terug</a>
                </p>
            </div>
        </div>
    </div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
