    <div class="stap-content" id="contactgegevens"> 
     
        <div class="stap-tekst">
            <h2 class="stap-titel">Contactgegevens</h2>
            <div class="stap-beschrijving">Onderstaand kun je de contactgegevens invullen van de aanvrager. Wanneer er al contactgegevens bekend zijn, worden deze velden ingevuld getoond. Controleer eventueel of deze contactgegevens nog actueel zijn.</div>
        </div>

        <div class="form">
        
            [% IF aanvraag_trigger == 'extern' %]
            <div class="row">
                <div class="column large-4">
                    <label class="titel">
                        E-mailadres
                    </label>
                </div>
                <div class="column large-8">
                    <div class="field field-has-help">
                        <input class="veldoptie_text" type="text" name="npc-email" value="[% aanvrager.email %]">
                    </div>
                    <div class="field-help">
                        <div class="dropdown-wrap dropdown-wrap-right">
                            <a class="dropdown-init dropdown-init-in-td ezra_dropdown_init_hover icon-question-sign icon-font-awesome" href="#"></a>
                            <div class="dropdown dropdown-left dropdown-tooltip">
                                <div class="dropdown-pijl"></div>
                                <div class="dropdown-content">
                                    E-mailadres van aanvrager
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <div class="column large-4">
                    <label class="titel">
                        Telefoonnummer
                    </label>
                </div>
                <div class="column large-8">
                
                    <div class="field field-has-help">
                        <input type="text" class="veldoptie_text" name="npc-telefoonnummer" value="[% aanvrager.telefoonnummer %]">
                    </div>
                    
                    <div class="field-help">
                        <div class="dropdown-wrap dropdown-wrap-right">
                            <a class="dropdown-init dropdown-init-in-td ezra_dropdown_init_hover icon-question-sign icon-font-awesome" href="#"></a>
                            <div class="dropdown dropdown-left dropdown-tooltip">
                                <div class="dropdown-pijl"></div>
                                <div class="dropdown-content">
                                    Telefoonnummer van aanvrager
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                    
                    <div class="validator">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded">
                            <span></span>
                        </div>
                    </div>
                    
                </div>
            </div>
                
            <div class="row">
            
                <div class="column large-4">
                    <label class="titel">Mobiel nummer</label>
                </div>
                
                <div class="column large-8">
                    <div class="field field-has-help">
                        <input type="text" class="veldoptie_text" name="npc-mobiel" value="[% aanvrager.mobiel %]">
                    </div>
                    <div class="field-help">
                        <div class="dropdown-wrap dropdown-wrap-right">
                            <a class="dropdown-init dropdown-init-in-td ezra_dropdown_init_hover icon-question-sign icon-font-awesome" href="#"></a>
                            <div class="dropdown dropdown-left dropdown-tooltip">
                                <div class="dropdown-pijl"></div>
                                <div class="dropdown-content">
                                    Mobiel nummer van aanvrager
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded">
                            <span></span>
                        </div>
                    </div>
                </div>
                
            </div>
            
            [% END %]
            
            [% PROCESS form/behandel_acties.tt %]

        </div>
        <input type="hidden" name="stepfields-contactgegevens"
        value="npc-telefoonnummer,zt_automatisch_behandelen,npc-mobiel,npc-email" />
    </div>
