[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

						
	<div class="block">
	<div class="header"><h1>[% zaaktype.titel %]</h1></div>
		<div class="blockcontent">
            
            [% PROCESS form/navigation.tt %]

		      <h2>Gegevens van de vorige zaak gebruiken</h2>
	
    <form method="post" action="[% c.uri_for('/zaak/create/' _ aangevraagd_via _ '/zaakcontrole') %]">
        <input type="hidden" name="ztc_aanvrager_type" value="[% c.req.param('ztc_aanvrager_type') %]" />
        <fieldset>
            [% IF vorige_zaak %]
            <input type="hidden" name="vorige_zaak" value="[% vorige_zaak.nr %]" />
            [% END %]
        
        
        
        						
                    [% IF vorige_zaak %]
        						<p class="subnote">Het blijkt dat u al eens een aanvraag heeft gedaan
                                voor een [% definitie.titel %]. <br/>Wilt u de
                                gegevens van de vorige zaak gebruiken voor deze aanvraag?</p>
        
        						<label class="radio-item">
                                    <input type="radio" name="copy_gegevens" id="copy_gegevens_ja" value="1" />
                                     Ja, ik wil graag dezelfde gegevens weer gebruiken en wellicht aanpassen
                                </label><br/>
        						<label class="radio-item">
                                    <input type="radio" name="copy_gegevens" id="copy_gegevens_nee" value="0" />
                                    Nee, ik wil alle gegevens opnieuw invullen
                                </label>

        						
                    [% ELSE %]
        						<strong>Wij hebben nog geen soortgelijke zaak van u aangetroffen</strong>
                    [% END %]
                    <br/>
        
        			
                    <br />
                    <br />
        	
        	
        	   <div class="form-actions">
               <a href="[% c.uri_for('/logout', { redirect => 'gemeente_portal' }) %]" title="Annuleren" class="button140 left">Annuleren</a>
                <button type="submit" class="button140 right">Volgende</button>
            </div>
        </fieldset>
	</form>
	
	</div>
	</div>

<!-- [% IF nowrapper %]


</body>
</html>
[% END %] -->


[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]

