<div class="timeline-content"> 
    <div class="line-gradient"></div>
    <ol class="timeline-feed timeline-inner" data-zs-infinite-scroll>
        <li class="timeline-item">
            <i class="pointer"></i>
            <div class="timeline-item-inner">
                <div class="notitie" data-ng-init="($parent.category=='subject')&&(newItemType='contactmoment')||(newItemType='note')">
                    <div class="notitie-type">
                        <a href="" class="notitie-type-contactmoment <[newItemType=='contactmoment' && 'active' || '']>" data-ng-click="newItemType='contactmoment'">
                            <span></span>
                            Contactmoment
                            <i class="current-notitie-type"></i>
                        </a>
                        <a href="" class="notitie-type-note <[newItemType=='note' && 'active' || '']>" data-ng-click="newItemType='note'">
                            <span></span>Notitie<i class="current-notitie-type"></i>
                        </a>
                    </div>
                    <form name="newcontactmoment" class="timeline-form clearfix timeline-form-contactmoment" data-ng-submit="newcontactmoment.$valid&&$parent.addContactmoment(contactmomentContent,contactchannel,rel);newcontactmoment.$setPristine();rel=null;contactmomentContent='';" data-ng-show="newItemType=='contactmoment'" data-ng-init="rel=$parent.aanvrager;contactchannel='telefoon'">
                        <textarea data-ng-model="contactmomentContent" name="contactmomentContent" data-zs-placeholder="'Samenvatting contactmoment'" data-ng-required="true" data-zs-autogrow="2"></textarea>
                        <div>
                            <div class="spot-enlighter-wrapper">
                                <input type="text" data-ng-model="rel" data-zs-placeholder="$parent.category=='subject'&&'Zaaknr'||'Contact'" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="$parent.category=='subject'&&'zaak'||'contact'" data-zs-spot-enlighter-label="<[$parent.getSpotEnlighterLabel(rel)]>" data-zs-object-required="true">
                            </div>
                            <span class="contactmoment-form-via">Via:</span>
                            <div class="contactchannel-select-wrapper">
                                <select name="contactchannel" data-zs-select data-ng-model="contactchannel" data-ng-options="channel.value as channel.label for channel in $parent.getContactChannels()"></select>
                            </div>
                            <button class="button140 right" data-ng-disabled="newcontactmoment.$invalid">
                                Toevoegen
                            </button>
                        </div>
                    </form>
                    <form name="newnote" class="timeline-form clearfix timeline-form-notitie" data-ng-submit="$parent.addNote(noteContent);noteContent=''" data-ng-show="newItemType=='note'">
                        <textarea data-ng-model="noteContent" name="noteContent" data-zs-placeholder="'Notitie'" required data-zs-autogrow></textarea>
                        <button class="button140 right" data-ng-disabled="newnote.$invalid">
                            Toevoegen
                        </button>
                    </form>
                </div>
            </div>
        </li>
        <li class="timeline-item <[(item.event_category == 'note' || item.event_category == 'contactmoment') && 'timeline-item-extended' || '']> <[(item.event_type == 'case/create' || item.event_type == 'case/close') && 'timeline-item-priority' || '']>" data-ng-repeat="item in $parent.items | orderBy:'timestamp':true | filter:$parent.getItemVisibility" data-ng-init="expanded=false">
            <i class="pointer"></i>
            <div class="timeline-item-inner <[item.id==-1&&'timeline-item-new'||'']>">
                <div class="timeline-item-title">
                    <div class="timeline-item-icon" data-event-type="<[item.event_category]>" data-mimetype="<[item.getMimetype()]>"></div>
                     <div class="timeline-item-date">
                        <[item.getTimestamp() | date:'dd MMM yyyy HH:mm' ]>
                    </div>
                    <div class="timeline-item-titel">
                        <span class="timeline-item-desc">
                            <span data-ng-bind-html-unsafe="item.description"></span>
                            <span data-ng-show="item.case_id && item.event_type != 'case/create' && item.event_type != 'case/close'">
                                <span data-ng-hide="$parent.$parent.category=='case'">in zaak <[item.case_id]></span>
                            </span>
                            <br/>
                            <span class="timeline-item-desc-meta">
                                <span data-ng-show="item.created_by">Door <[item.created_by]></span>
                                <span data-ng-show="item.contact_channel"> &middot; via: <[item.contact_channel | capitalize]></span>
                            </span>
                        </span>
                    </div>
                </div>
                
                <div class="timeline-item-content" data-ng-show="item.content" data-ng-class="{'timeline-item-content-expanded': expanded}">
                    
                    <div data-ng-show="$parent.$parent.isEmail(item)">
                        
                        <div class="timeline-item-attachments" data-ng-show="item.attachments.length">
                            <button class="timeline-item-attached-file" data-ng-repeat="file in item.attachments" onclick="window.open('/zaak/<[item.case_id]>/document/<[file.file_id]>/download')">
                                <i class="icon-paper-clip icon-font-awesome"></i>
                                <span><[file.email_filename]></span>
                            </button>
                        </div>
                        
                        <pre><[expanded&&item.content||$parent.$parent.getTruncatedText(item)]></pre>
                        
                    </div>
                    
                    <div data-ng-show="$parent.$parent.showItemContent(item, expanded)">
                        <[item.content]>
                    </div>


                </div>
                
                <button class="timeline-item-expand" data-ng-show="$parent.$parent.isTruncated(item)&&(item.event_category!='contactmoment'||$parent.$parent.isEmail(item))" data-ng-click="expanded=!expanded">
                    <[expanded&&'&#9652;'||'&middot;&middot;&middot;']>
                </button>
                
                <div class="timeline-item-important"></div>
            </div>
        </li>
        <li class="timeline-loader <[$parent.loading&&'timeline-loader-loading'||'']>" style="text-align:center">
            <img src="images/spinner-timeline.gif"/>
            <button class="knop timeline-manual-loader knop-bootstrap" data-ng-click="$parent.loadMoreData()">Meer</button>
        </li>
    </ol>
</div>
    
<div class="timeline-filter">
    <strong style="margin-bottom:4px;display:block;">Filter de timeline:</strong>
    <ul class="timeline-options">
        <li data-ng-repeat="filter in $parent.availableFilters">
            <label class="timeline-filter-label">
                <input class="timeline-filter-checkbox" type="checkbox" data-ng-checked="$parent.activeFilters.length>0&&isFiltered(filter.id)" data-ng-click="toggleFilter(filter)"/>
                <[filter.label|capitalize]>
        </label>
        </li>
    </ul>
    
    <button class="knop knop-bootstrap" data-ng-click="downloadLog()">Logboek downloaden</button>
</div>