[% BLOCK beheer_link %]
    [% IF can_link_to_beheer && crumb.id %]
        <a class="[% link_class %]" href="/beheer/bibliotheek/[% crumb.id %]" class="prev">[% crumb.name %]</a>
    [% ELSE %]
        <a class="[% link_class %]">[% crumb.name %]</a>
    [% END %]
[% END %]


[% IF !crumbs.size %]
[% ELSE %]

    [% can_link_to_beheer = c.check_any_user_permission('beheer_kenmerken_admin', 'beheer_sjablonen_admin','beheer_zaaktype_admin') %]
    <div id="breadcrumb-wrap">
        <div id="breadcrumb">     
            [% IF !crumbs.size %]
    
                <span class="last">Catalogus</span>        
            [% ELSE %]  
                [% IF can_link_to_beheer %]
                    <a href="[% c.uri_for('/beheer/bibliotheek/') %]" class="prev home">Catalogus</a>
                [% ELSE %]
                    <a class="prev home">Catalogus</a>
                [% END %]
            [% END %]
    
            [% FOREACH crumb IN crumbs %]
                [% IF loop.last %]
                    [% IF link_current_category %]
                        <span class="next pijl"></span>
                        [% PROCESS beheer_link %]
                    [% ELSE %]
                        <span class="next pijl"></span>
                        <span class="last">[% crumb.name %]</span>
                    [% END %]
                [% ELSE %]
                    <span class="grey pijl"></span>
                    [% PROCESS beheer_link 
                        link_class = 'prev' %]
                [% END %]
            [% END %]
        </div>
    </div>
[% END %]
