[% UNLESS noselect %]
    <select name="[% input_name %]"[%
        tree_classes
            ? ' class="' _ tree_classes.join(' ') _ '"'
            : '"'
        %]>
[% END %]

[% IF allow_empty_value %]
<option value="">Gehele afdeling</option>
[% END %]
[% FOREACH entry IN entries %]
    [% UNLESS entry.internal_id %]
    <option value="">-----</option>
    [% NEXT %]
    [% END %]
<option value="[%
    (value_as_id
        ? entry.internal_id
        : entry.dn
) %]"[%
    (input_selected && input_selected == entry.internal_id
        ? 'selected="selected"'
        : ''
) %]>
    [% IF depth %]
        [% '&nbsp;&nbsp;' | repeat(depth) %]
    [% END %]
    [% entry.name %]
</option>
[% END %]

[% UNLESS noselect %]
    </select>
[% END %]

