[%

    bag = undef;

# Opties
# veldoptie_type    => type
# veldoptie_name    => type
# veldoptie_value    => type
# veldoptie_opties    => type
    RETURN UNLESS (veldoptie_type && veldoptie_name);
%]

[% USE JSON %]

[% BLOCK veldoptie_value_row %]
    <li>
        [% INCLUDE veldoptie_single veldoptie_value=vokey %]
        <a href="#" class="icon icon-del del">
        </a>
        <span class="del-inactive"></span>
    </li>
[% END %]

[% BLOCK veldoptie_multiple %]
<div class="veldoptie_multiple">
    <ul class="veldoptie_multiple_list">
        [% multiple_shown = 0 %]
        [% FOREACH vokey IN veldoptie_value %]
            [% NEXT UNLESS vokey.length %]
            [% multiple_shown = 1 %]
            [% INCLUDE veldoptie_value_row %]
        [% END %]

        [% UNLESS multiple_shown %]
            [% vokey = veldoptie_value %]
            [% INCLUDE veldoptie_value_row %]
        [% END %]
    </ul>
    <a href="#" class="add add-veldoptie knop knop-bootstrap"><i class="icon icon-add"></i> Veld toevoegen</a>
</div>
[% END %]


[% BLOCK veldoptie_single %]

    [% IF veldoptie_id %]
        [% my_veldoptie_id = ' id="' _ veldoptie_id _ '"' %]
    [% ELSE %]
        [% my_veldoptie_id = '' # freaking TT globals %]
    [% END %]

    [% IF veldoptie_type == 'textarea' %]
        <textarea
            name="[% veldoptie_name %]"
            cols="60"
            rows="4"
            [% my_veldoptie_id %]
            class="veldoptie_textarea"
        >[% veldoptie_value.0 || veldoptie_value %]</textarea>
    [% ELSIF
        veldoptie_type == 'text' ||
        veldoptie_type == 'image_from_url' ||
        veldoptie_type == 'numeric' ||
        veldoptie_type == 'text_uc'
    %]
        [% IF veldoptie_type == 'image_from_url' && veldoptie_value %]
            <img src="[% veldoptie_value %]" /><br />
        [% END %]
        <input
            type="text"
            [% my_veldoptie_id %]
            name="[% veldoptie_name %]"
            value="[% veldoptie_value.0 || veldoptie_value | html_entity %]"
            class="veldoptie_[% veldoptie_type %]"
            />
    [% ELSIF veldoptie_type == 'richtext' %]
        <textarea [% my_veldoptie_id %] name="[% veldoptie_name %]" class="ezra_dagobert_editor ezra_dagobert_editor_enlarge hide simple">[% veldoptie_value %]</textarea>
    [% ELSIF veldoptie_type == 'date' %]
        <input
            type="text"
            name="[% veldoptie_name %]"
            value="[% veldoptie_value.0 || veldoptie_value %]"
            [% IF !veldoptie_zaaktype_kenmerk.date_fromcurrentdate || zaak.id != '' %]
            class="veldoptie_datepicker normal100"
            [% ELSE %]
            class="veldoptie_datepicker_begindate normal100"
            [% END %]
            [% IF my_veldoptie_id %]
                [% my_veldoptie_id %]
            [% ELSE %]
                id="dp_[% veldoptie_name %]"
            [% END %]
        /> <span class="js-hide veld-uitleg">dd-mm-jjjj</span>
    [% ELSIF veldoptie_type.match('^bag_') %]
        [% multiple_addresses = 
            veldoptie_type == 'bag_adressen' ||
            veldoptie_type == 'bag_straat_adressen' ||
            veldoptie_type == 'bag_openbareruimtes'
        %]
        [% select_street = veldoptie_type.match('openbareruimte')  %]
        <div class="veldoptie_bag_angular_wrapper[% IF multiple_addresses %] multiple-addresses[% END %][% IF select_street %] select-street[% END %]" data-ng-controller="nl.mintlab.core.form.ObjectSearchController" data-ng-init="[% IF !multiple_addresses %]limit=1[% END %];" data-zs-bag-input="'objects'" data-zs-bag-input-name="'[% veldoptie_name %]'">
            <script type="text/zs-scope-data">
                [% temp = [] %]

                [% FOREACH key IN veldoptie_value %]
                    [% json_entry = c
                                    .model('Gegevens::Bag')
                                    .retrieve_bag_entry(key)
                    %]
                    [% temp.push(json_entry) IF json_entry %]
                [% END %]

                [% JSON.encode({
                    objects => temp
                }) %]
            </script>
            <div class="bag-selected-addresses ng-cloak" data-ng-show="limit>1">
                <label data-ng-repeat="address in objects">
                    <input type="checkbox" checked="checked" name="[% veldoptie_name %]" value="<[address.id]>" data-ng-click="removeObject(address)"/>
                    <[address.[% IF select_street %]streetname[% ELSE %]street[% END %] + (address.number && (' ' + address.number) || '' ) + ', ' + address.city]>
                </label>
            </div>
            <div class="spot-enlighter-wrapper">
                <input class="ezra-disable_fieldUpdate" type="text" name="bogus_[% veldoptie_name %]" data-ng-model="newObject" data-zs-placeholder="'[% IF !select_street %]Vul een adres in[% ELSE %]Vul een straatnaam in[% END %]'" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="'[% select_street ? 'bag-street' : 'bag' %]'" data-zs-spot-enlighter-label="[% IF select_street %]streetname[% ELSE %]street[% END %] + (number && (' ' + number) || '' ) + ', ' + city" data-zs-object-required="false">
            </div>
            <div class="bag-address-decoy" data-ng-switch="objects.length">
                <div data-ng-switch-when="0">
                    <input type="hidden" name="[% veldoptie_name %]"/>
                </div>
            </div>
        </div>
    [% ELSIF veldoptie_type == 'valuta' %]
    [% veldoptie_value = veldoptie_value.0 || veldoptie_value %]
    [% veldoptie_value = veldoptie_value.replace(',','.') %]
    [% veldoptie_value = veldoptie_value | format('%01.2f') %]
        <input
            class="veldoptie_[% veldoptie_type %]_simpel"
            type="text"
            [% my_veldoptie_id %]
            name="[% veldoptie_name %]"
            value="[% veldoptie_value.replace('\.', ',') %]"
         /> <span class="veld-uitleg">Voorbeeld: 500,00</span>
    [% ELSIF veldoptie_type.match('valutain') || veldoptie_type.match('valutaex') %]
    [% veldoptie_value = veldoptie_value.0 || veldoptie_value %]
    [% valutasplitted = veldoptie_value.split('\.'); %]
        <div class="veldoptie_valuta">
            <input
                type="hidden"
                name="[% veldoptie_name %]"
                value="[% veldoptie_value %]"
                class="[% veldoptie_type %] eur"
             />
            [% c.loc('&euro;') %] <input
                size="10"
                type="text"
                [% my_veldoptie_id %]
                name="eur_[% veldoptie_name %]"
                value="[% valutasplitted.0 %]"
                class="[% veldoptie_type %] eur ezra-disable_fieldUpdate"
             />
            <input
                size="2"
                type="text"
                name="cnt_[% veldoptie_name %]"
                value="[% valutasplitted.1 %]"
                class="[% veldoptie_type %] cnt ezra-disable_fieldUpdate"
             />
             <span class="veldoptie_valuta_calculation nojshide veld-uitleg">
                [% (veldoptie_type.match('valutain') ? 'excl.' : 'incl.') %]
                [% c.loc('VAT &euro;') %]
                <span class="value [% (
                    veldoptie_type.match('valutain') ? 'inclbtw' : 'exclbtw')
                %] btw[% (
                    veldoptie_type.match('valuta[inex]+(\d+)')
                        ? veldoptie_type.match('valuta[inex]+(\d+)').0
                        : '19'
                ) %]"></span>
            </span>
        </div>
    [% ELSIF veldoptie_type == 'select' %]
        [% veldoptie_values = {} %]
        [% FOREACH value IN veldoptie_value %]
            [% value_escaped = value | html_entity %]
            [% veldoptie_values.$value = value_escaped %]
        [% END %]
        <select [% my_veldoptie_id %] name="[% veldoptie_name %]">
            <option value=""></option>
            [% FOR optie IN veldoptie_opties %]
                [% optie_escaped = optie | html_entity %]
                <option
                    value="[% optie_escaped %]"
                    [% (veldoptie_values.$optie ? ' selected="selected"' : '') %]
                >
                    [% optie | ucfirst %]
                </option>
            [% END %]
        </select>
    [% ELSIF veldoptie_type == 'checkbox' %]
        [% veldoptie_values = {} %]
        [% FOREACH value IN veldoptie_value %]
            [% value_escaped = value | html_entity %]
            [% veldoptie_values.$value = value_escaped %]
        [% END %]
        <input
            type="hidden"
            name="[% veldoptie_name %]_checkbox"
            value="1"
        />
        [% FOR optie IN veldoptie_opties %]
            [% optie_escaped = optie | html_entity %]

            [% # create a unique ID so the label can refer to this checkbox %]
            [% checkbox_counter = checkbox_counter + 1 %]  
            [% checkbox_id = 'checkbox_' _ checkbox_counter %]
            <label class="checkbox-item" for="[% checkbox_id %]">
            <input
                type="checkbox"
                name="[% veldoptie_name %]"
                value="[% optie | html_entity %]"
                id="[% checkbox_id %]"
                [% (veldoptie_values.$optie ? ' checked="checked"' : '') %]
            />
            [% optie | ucfirst %]</label><br/>
        [% END %]
    [% ELSIF veldoptie_type == 'option' %]
        [% veldoptie_values = {} %]
        [% FOREACH value IN veldoptie_value %]
            [% value_escaped = value | html_entity %]
            [% veldoptie_values.$value = value_escaped %]
        [% END %]

        [% FOR optie IN veldoptie_opties %]
            [% optie_escaped = optie | html_entity %]
            [% optielabel = optie | ucfirst | html_entity %]
            [% radio_counter = radio_counter + 1 %]
            [% radio_id = 'radio_' _ veldoptie_id _ radio_counter %]
            <label class="radio-item" for="[% radio_id %]">
            <input
                type="radio"
                name="[% veldoptie_name %]"
                value="[% optie_escaped %]"
                id="[% radio_id %]"
                [% (veldoptie_values.$optie ? ' checked="checked"' : '') %]
            />
           [% (optielabel || 'Onbekend') %]
           </label><br/>
        [% END %]
    [% ELSIF veldoptie_type == 'file' %]
        [%# 'TT variables are global, need to clear before reuse' %]
        [% this_filename = '' %]
                [% USE Dumper %]

        [% this_filename = [] %]
        [% FOR file = veldoptie_value %]
            [% IF zaak %]
                [% this_filename.push(file) %]
            [% ELSE %]
                [% this_filename.push(file.filename) %]
            [% END %]
        [% END %]
        
        [% PROCESS widgets/general/mintloader.tt 
            can_delete_queue = !zaak
            uploaded_mimetype = kenmerkdoc.filestore.mimetype 
            uploaded_filename = this_filename
            uploaded_url = c.uri_for('/file/download/file_id/' _
                kenmerkdoc.id
            )
            uploaded_files   = veldoptie_value
        %]

    [% ELSIF veldoptie_type == 'googlemaps' %]
        [% PROCESS widgets/general/map.tt
            MAP_INPUT       = veldoptie_name
            MAP_TEMPLATE    = 'address'
            MAP_CSSPROFILE  = 'smallfixed'
            MAP_FIXEDWIDTH  = 1
            MAP_LOCATION    = veldoptie_value.0 || veldoptie_value
            MAP_CENTER      = c.config.gemeente.latitude _ ' ' _ c.config.gemeente.longitude
            my_veldoptie_id = my_veldoptie_id
        %]
    [% END %]

[% END %]


[% IF veldoptie_multiple %] 
    [% PROCESS veldoptie_multiple %]
[% ELSE %]
    [% PROCESS veldoptie_single %]
[% END %]

