<div class="confirm" data-zs-modal data-ng-init="title='Bevestigen'">
	<div class="confirm-label">
		<[confirmLabel]>
	</div>
	<div class="confirm-actions button-group">
		<button class="confirm-action-button confirm-action-button-cancel form-button-secondary" data-ng-click="cancel()">
			Annuleren
		</button>
		<button class="confirm-action-button confirm-action-button-ok form-button-primary" data-ng-click="ok($event)">
			<[confirmVerb]>
		</button>
	</div>
</div>